Repository nuclio/nuclio, pull requests merged in 2018-06, with the labels that each got.

#842 Update dashboard-controls version to 0.0.55
  pkg/dashboard/ui/package.json
Labels: enhancement

#843 IG-1858 [nuclio] keeps requesting dashboard-config.json
  pkg/dashboard/ui/src/app/app.run.js
Labels: enhancement

#844 Update dashboard-controls to version 0.0.56
  pkg/dashboard/ui/package.json
Labels: enhancement

#852 Update dashboard-controls version to 0.0.58
  pkg/dashboard/ui/package.json
Labels: enhancement

#845 IG-1871 [General] Merge Nuclio to iguazio-dashboard
  pkg/dashboard/ui/build.config.js
Labels: area/ui

#863 UI: Update dashboard-controls version to 0.0.60 + More
  pkg/dashboard/ui/build.config.js
  pkg/dashboard/ui/gulpfile.js
  pkg/dashboard/ui/package.json
  pkg/dashboard/ui/src/app/app.controller.js
Labels: area/ui, enhancement

#853 IG-1873 [Nuclio] Fetch external IP address only once on init
  pkg/dashboard/ui/src/app/app.run.js
Labels: area/ui, enhancement

#864 UI: Fix nuclio not loading due to monaco editor missing
  pkg/dashboard/ui/build.config.js
  pkg/dashboard/ui/gulpfile.js
  pkg/dashboard/ui/package.json
Labels: area/ui, bug

#868 UI: Update dashboard-controls version to 0.0.61
  pkg/dashboard/ui/package.json
Labels: area/ui
