Repository nuclio/nuclio, pull requests merged in 2020-10, with the labels that each got.

#1847 Apigateways - renaming authentication mode (dex -> oauth2)
  pkg/platform/kube/apigatewayres/lazy.go
  pkg/platform/kube/ingress/ingress.go
  pkg/platform/kube/ingress/types.go
Labels: platform/kube

#1848 Security context support and fixes
  pkg/dashboard/ui/README.md
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
  pkg/functionconfig/types.go
Labels: area/ui

#1854 Fix building java onbuild image
  pkg/processor/build/runtime/java/docker/onbuild/Dockerfile
Labels: runtime/java

#1863 SecurityContext for local platform and bugfix
  pkg/dockerclient/shell.go
  pkg/dockerclient/types.go
  pkg/nuctl/test/function_test.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/local/platform.go
Labels: platform/kube, platform/local

#1862 [Bugfix]: Shell runtime execution with security context
  pkg/nuctl/test/function_test.go
  pkg/processor/runtime/shell/runtime.go
Labels: runtime/shell

#1861 Skip api gateways export on failure (instead of failing the whole export procedure)
  pkg/dashboard/resource/project.go
  pkg/nuctl/command/export.go
  pkg/nuctl/command/import.go
  pkg/platform/kube/platform.go
Labels: nuctl, platform/kube

#1860 Remove api gateways authentication mode validation
  pkg/platform/kube/ingress/ingress.go
  pkg/platform/kube/platform.go
Labels: platform/kube

#1868 UI: Upgrade dependency packages to remedy vulnerabilities
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#1871 UI: Upgrade dashboard-controls version to 0.25.6
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#1873 UI: Fix: Test button is disabled when service type is Cluster IP
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#1876 Fix: exported project might be malformed with logger outputs
  pkg/nuctl/command/export.go
  pkg/platform/kube/platform.go
Labels: nuctl, platform/kube

#1875 Function recovery from error state when deployment is available again
  pkg/platform/kube/controller/controller.go
  pkg/platform/kube/controller/nucliofunction.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/kube/test/suite.go
  pkg/processor/test/suite/suite.go
Labels: platform/kube

#1879 UI: Upgrade dependency packages to remedy vulnerabilities
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#1880 UI: Wrong conditions for Invocation URL, Test button, invoke-via
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
  pkg/dashboard/ui/src/app/components/data-wrappers/function-events-data-wrapper/function-events-data-wrapper.component.js
  pkg/dashboard/ui/src/app/components/data-wrappers/function-events-data-wrapper/function-events-data-wrapper.tpl.html
  pkg/dashboard/ui/src/app/shared/services/nuclio-event-data.service.js
Labels: area/ui

#1882 [Fix] Creating api-gateway without labels panics
  pkg/platform/kube/controller/apigateway.go
Labels: platform/kube

#1885 Followup - reserved resource name
  pkg/nuctl/test/apigagteway_test.go
  pkg/nuctl/test/function_test.go
  pkg/platform/abstract/platform.go
  pkg/platform/kube/platform.go
Labels: platform/kube

#1877 Add support for streaming files as an HTTP response
  pkg/common/helper.go
  pkg/common/tempfile.go
  pkg/processor/runtime/golang/test/golang_test.go
  pkg/processor/trigger/http/fileresponse.go
  pkg/processor/trigger/http/trigger.go
  test/_functions/common/file-streamer/golang/filestream.go
Labels: runtime/golang

#1874 ServiceType Bug Fixes
  .github/workflows/ci.yaml
  docs/reference/triggers/http.md
  pkg/nuctl/test/function_test.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/platform.go
  test/_functions/common/json-parser-with-function-config/python/function.yaml
Labels: platform/kube

#1878 [API Gateway] Condition sign in annotation
  pkg/platform/kube/apigatewayres/lazy.go
  pkg/platform/kube/ingress/ingress.go
  pkg/platform/kube/ingress/types.go
Labels: platform/kube
