Repository nuclio/nuclio, pull requests merged in 2020-08, with the labels that each got.

#1763 [Function] Add refresh button
  pkg/dashboard/ui/package.json
  pkg/dashboard/ui/src/app/app.route.js
  pkg/dashboard/ui/src/app/components/data-wrappers/version-data-wrapper/version-data-wrapper.component.js
  pkg/dashboard/ui/src/app/components/data-wrappers/version-data-wrapper/version-data-wrapper.tpl.html
Labels: area/ui

#1784 [Nuclio] Triggers are not saved while switching tabs
  pkg/dashboard/ui/src/app/app.route.js
Labels: area/ui

#1789 [Nuclio] Add namespace HTTP header on POST/PUT functions
  pkg/dashboard/ui/src/app/shared/services/nuclio-functions-data.service.js
Labels: area/ui

#1785 Allow processor config to be read by other users
  pkg/platform/local/platform.go
Labels: platform/local

#1766 Fix port allocation for functions running under docker platform
  pkg/dockerclient/dockerclient.go
  pkg/dockerclient/shell.go
  pkg/dockerclient/types.go
  pkg/platform/abstract/platform.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/functionres/lazy_test.go
  pkg/platform/local/platform.go
Labels: platform/kube, platform/local

#1793 UI: Lock NPM packages
  pkg/dashboard/ui/.gitignore
  pkg/dashboard/ui/package-lock.json
Labels: area/ui

#1794 UI: Lock NPM packages
  pkg/dashboard/ui/.gitignore
  pkg/dashboard/ui/package-lock.json
Labels: area/ui

#1797 Fetch nuclio-sdk-java from remote maven repo on build
  docs/reference/runtimes/java/java-reference.md
  pkg/processor/build/runtime/java/docker/onbuild/Dockerfile
  pkg/processor/build/runtime/java/runtime.go
  pkg/processor/runtime/java/build.gradle
  pkg/processor/runtime/java/nuclio-sdk-1.0-SNAPSHOT.jar
  test/_functions/java/custom-gradle-script/build.gradle
Labels: runtime/java

#1792 Kube platform integration test suite
  .github/workflows/ci.yaml
  .run/(kube) nuctl test.run.xml
  Makefile
  cmd/controller/app/controller.go
  pkg/common/k8s.go
  pkg/nuctl/command/import.go
  pkg/nuctl/test/project_test.go
  pkg/nuctl/test/suite.go
  pkg/platform/factory/factory.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/kube/test/suite.go
  pkg/platform/project.go
  pkg/processor/test/suite/suite.go
  test/_imports/project.yaml
  test/_imports/projects.yaml
  test/docker/Dockerfile
  test/k8s/ci_assets/install_nuclio_crds.sh
Labels: nuctl, platform/kube

#1800 Fix k8s platform tests initialization (integrate with api-gateways)
  pkg/platform/kube/test/suite.go
Labels: platform/kube

#1798 Support API Gateways on nuclio (Part.2 - Platform + REST dashboard)
  cmd/controller/app/controller.go
  cmd/controller/main.go
  pkg/dashboard/resource/apigateway.go
  pkg/functionconfig/types.go
  pkg/platform/abstract/platform.go
  pkg/platform/apigateway.go
  pkg/platform/errors.go
  pkg/platform/kube/apigatewayres/lazy.go
  pkg/platform/kube/apigatewayres/types.go
  pkg/platform/kube/apis/nuclio.io/v1beta1/types.go
  pkg/platform/kube/controller/apigateway.go
  pkg/platform/kube/controller/controller.go
  pkg/platform/kube/ingress/types.go
  pkg/platform/kube/platform.go
  pkg/platform/mock/platform.go
  pkg/platform/platform.go
  pkg/platform/types.go
Labels: platform/kube

#1796 Default trigger added if no trigger present
  cmd/processor/app/processor.go
  pkg/dashboard/resource/frontendspec.go
  pkg/dashboard/test/server_test.go
  pkg/functionconfig/types.go
  pkg/nuctl/test/function_test.go
  pkg/platform/abstract/platform.go
  pkg/platform/kube/test/platform_test.go
Labels: platform/kube

#1802 Configurable ServiceType for functions
  hack/k8s/helm/nuclio/values.yaml
  pkg/dashboard/resource/frontendspec.go
  pkg/dashboard/test/server_test.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/test/platform_test.go
  pkg/platformconfig/platformconfig.go
  pkg/platformconfig/reader.go
Labels: platform/kube
