Repository nuclio/nuclio, pull requests merged in 2020-12, with the labels that each got.

#1953 UI: Allow to overwrite newer function version with stale (+ more)
  pkg/dashboard/ui/gulpfile.js
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
  pkg/dashboard/ui/src/app/components/projects/edit-project-dialog/edit-project-dialog.tpl.html
  pkg/dashboard/ui/src/app/components/projects/new-project-dialog/new-project-dialog.tpl.html
Labels: area/ui

#1937 Releaser script: Fix resolving whether a release workflow has failed
  hack/scripts/releaser/releaser.go
Labels: releaser

#1950 Nuctl ServiceType Override Flag
  pkg/nuctl/command/deploy.go
  pkg/nuctl/test/function_test.go
Labels: nuctl, platform/kube

#1962 Return created apigateway resource upon create request
  pkg/dashboard/resource/apigateway.go
  pkg/nuctl/command/create.go
  pkg/nuctl/command/import.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/test/suite.go
  pkg/platform/types.go
Labels: nuctl, platform/kube

#1961 [API gateways] Get authentication type options from backend
  pkg/dashboard/ui/src/app/app.run.js
Labels: area/ui

#1965 UI: API gateways: Get auth type options from backend (for realz)
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#1966 UI: Config>Build: Fix missing image name prefix after deploy
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#1970 Remove nuctl redundant platform config
  .run/(test_kube) nuctl.run.xml
  pkg/containerimagebuilderpusher/types.go
  pkg/dashboard/resource/frontendspec.go
  pkg/dashboard/test/server_test.go
  pkg/nuctl/command/deploy.go
  pkg/nuctl/command/nuctl.go
  pkg/platform/abstract/platform.go
  pkg/platform/config/types.go
  pkg/platform/factory/factory.go
  pkg/platform/kube/platform.go
  pkg/platform/local/platform.go
  pkg/platform/mock/platform.go
  pkg/platform/platform.go
  pkg/platformconfig/platformconfig.go
  pkg/platformconfig/types.go
  pkg/processor/build/test/build_test.go
Labels: long-ci-succeeded, nuctl, platform/kube, platform/local

#1975 Fix transient error on restarting process
  pkg/processor/runtime/rpc/abstract.go
Labels: long-ci-succeeded

#1981 UI: Invocation URL is N/A when function is not running
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#1974 [DOC-REVIEW] Importing and exporting Nuclio functions and projects
  docs/tasks/exporting-and-importing.md
  pkg/nuctl/command/deploy.go
  pkg/nuctl/command/export.go
  pkg/nuctl/command/import.go
  pkg/nuctl/test/project_test.go
  pkg/platform/project.go
Labels: nuctl

#1983 Reduce spammy log lines on controller
  pkg/platform/kube/controller/functionevent.go
  pkg/platform/kube/controller/project.go
Labels: platform/kube

#1964 Validate function with ingress is not being exposed by an api gateway
  pkg/platform/kube/client/clientset/mocks/NuclioAPIGatewayInterface.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/kube/test/suite.go
  pkg/platform/local/test/platform_test.go
  pkg/processor/build/test/build_test.go
  pkg/processor/runtime/python/test/python_test.go
  pkg/processor/test/suite/suite.go
Labels: long-ci-succeeded, platform/kube, platform/local, runtime/python

#1971 Deprecate project display name - last warning
  go.mod
  go.sum
  pkg/dashboard/resource/function.go
  pkg/dashboard/resource/project.go
  pkg/dashboard/resource/resource.go
  pkg/dashboard/test/server_test.go
  pkg/functionconfig/types.go
  pkg/nuctl/command/common/renderers.go
  pkg/nuctl/command/create.go
  pkg/nuctl/command/export.go
  pkg/nuctl/command/import.go
  pkg/nuctl/command/types.go
  pkg/nuctl/test/apigagteway_test.go
  pkg/nuctl/test/function_test.go
  pkg/nuctl/test/project_test.go
  pkg/nuctl/test/suite.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/platform/factory/factory.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/local/platform.go
  pkg/platform/project.go
  pkg/platform/types.go
  pkg/restful/errorverifier.go
Labels: long-ci-succeeded, nuctl, platform/kube, platform/local

#1982 Fix API Gateway not being updated
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/kube/test/suite.go
Labels: platform/kube

#1988 Add skip importing projects by label selectors
  pkg/common/helper.go
  pkg/common/helper_test.go
  pkg/nuctl/command/import.go
  pkg/nuctl/test/project_test.go
Labels: nuctl

#1990 [Nuclio] Omit `spec.displayName` on create/update project
  pkg/dashboard/ui/src/app/shared/services/nuclio-projects-data.service.js
Labels: area/ui

#1980 [Nuclio] Breaks on /projects/
  pkg/dashboard/ui/src/app/app.route.js
Labels: area/ui

#1998 UI: Pass project from parent instead of fetching async-ly
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
  pkg/dashboard/ui/src/app/app.route.js
  pkg/dashboard/ui/src/app/components/data-wrappers/api-gateways-data-wrapper/api-gateways-data-wrapper.component.js
  pkg/dashboard/ui/src/app/components/data-wrappers/api-gateways-data-wrapper/api-gateways-data-wrapper.tpl.html
  pkg/dashboard/ui/src/app/components/data-wrappers/functions-data-wrapper/functions-data-wrapper.component.js
  pkg/dashboard/ui/src/app/components/data-wrappers/functions-data-wrapper/functions-data-wrapper.tpl.html
  pkg/dashboard/ui/src/app/components/data-wrappers/version-data-wrapper/version-data-wrapper.component.js
  pkg/dashboard/ui/src/app/components/data-wrappers/version-data-wrapper/version-data-wrapper.tpl.html
Labels: area/ui

#1995 [Nuclio] Layout breaks on window resize with closed test pane
  pkg/dashboard/ui/build.config.js
  pkg/dashboard/ui/package.json
Labels: area/ui

#1997 Validate ingress host and path availability before creation AGW/Function
  pkg/common/url.go
  pkg/common/url_test.go
  pkg/platform/errors.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
Labels: platform/kube

#1993 [DOC REVIEW] New nuctl `import projects` --skip-label-selectors flag
  docs/tasks/exporting-and-importing.md
  pkg/nuctl/command/import.go
Labels: nuctl

#1999 Doc review for PR #1971
  docs/tasks/exporting-and-importing.md
  pkg/nuctl/command/create.go
  pkg/nuctl/command/import.go
Labels: nuctl

#1996 Allow delete projects with functions / api gateways
  pkg/dashboard/resource/project.go
  pkg/dashboard/test/server_test.go
  pkg/nuctl/command/delete.go
  pkg/nuctl/test/project_test.go
  pkg/platform/abstract/platform.go
  pkg/platform/kube/controller/project.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/kube/test/suite.go
  pkg/platform/local/platform.go
  pkg/platform/local/store.go
  pkg/platform/types.go
Labels: long-ci-succeeded, nuctl, platform/kube, platform/local

#2001 UI: Function > Build: Do not repeat image name prefix in field
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2000 [DOC-REVIEW] Edit platform & nuctl pkg error & log messages
  pkg/nuctl/command/create.go
  pkg/nuctl/command/export.go
  pkg/nuctl/command/import.go
  pkg/platform/kube/platform.go
  pkg/platform/local/platform.go
Labels: nuctl, platform/kube, platform/local

#2003 Optimize delete projects endpoint
  pkg/common/map.go
  pkg/nuctl/test/project_test.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/platform/errors.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/local/platform.go
  pkg/platform/types.go
Labels: platform/kube, platform/local

#2007 Enrich API gateway's project name upon creation
  pkg/platform/abstract/platform.go
  pkg/platform/kube/controller/apigateway.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
Labels: platform/kube

#2008 UI: Hide annotations with key prefix of `nuclio.io`
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2009 Enrich get functions requests with API Gateways only when needed
  pkg/dashboard/resource/function.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/test/suite.go
  pkg/platform/local/test/platform_test.go
  pkg/platform/types.go
  pkg/processor/test/suite/suite.go
Labels: platform/kube, platform/local

#2010 Fix function ingress host and path validations
  pkg/platform/kube/platform.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/kube/test/suite.go
Labels: platform/kube

#2012 UI: Omit project name from error message on single project action
  pkg/dashboard/ui/src/app/components/projects/projects.component.js
Labels: area/ui

#2013 UI: Un-break my heart (Nuclio)
  pkg/dashboard/ui/src/app/components/projects/projects.component.js
Labels: area/ui

#2011 Enrich resources created by apigateway with nuclio labels
  pkg/platform/kube/apigatewayres/lazy.go
  pkg/platform/kube/ingress/ingress.go
  pkg/platform/kube/ingress/types.go
  pkg/platform/kube/test/platform_test.go
Labels: platform/kube

#2014 Update status code errors returned on validation failure
  pkg/platform/abstract/platform.go
  pkg/platform/errors.go
  pkg/platform/kube/platform.go
Labels: platform/kube

#2015 UI: Align function states in Status tab header + fix bug on PUT
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2018 UI: Enrich function list with API GW only when needed
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
  pkg/dashboard/ui/src/app/components/data-wrappers/api-gateways-data-wrapper/api-gateways-data-wrapper.component.js
  pkg/dashboard/ui/src/app/components/data-wrappers/api-gateways-data-wrapper/api-gateways-data-wrapper.tpl.html
  pkg/dashboard/ui/src/app/components/data-wrappers/functions-data-wrapper/functions-data-wrapper.component.js
  pkg/dashboard/ui/src/app/components/data-wrappers/functions-data-wrapper/functions-data-wrapper.tpl.html
  pkg/dashboard/ui/src/app/components/data-wrappers/ncl-breadcrumbs-data-wrapper/ncl-breadcrumbs-data-wrapper.component.js
  pkg/dashboard/ui/src/app/components/data-wrappers/ncl-breadcrumbs-data-wrapper/ncl-breadcrumbs-data-wrapper.tpl.html
  pkg/dashboard/ui/src/app/components/data-wrappers/version-data-wrapper/version-data-wrapper.component.js
  pkg/dashboard/ui/src/app/components/data-wrappers/version-data-wrapper/version-data-wrapper.tpl.html
  pkg/dashboard/ui/src/app/components/projects/project-table-row/project-table-row.component.js
  pkg/dashboard/ui/src/app/components/projects/projects.component.js
  pkg/dashboard/ui/src/app/shared/services/nuclio-api-gateways-data.service.js
  pkg/dashboard/ui/src/app/shared/services/nuclio-client.service.js
  pkg/dashboard/ui/src/app/shared/services/nuclio-functions-data.service.js
  pkg/dashboard/ui/src/app/shared/services/nuclio-namespaces-data.service.js
Labels: area/ui

#2020 UI: Use DNS-1123 instead of DNS-1035 for resource name
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
  pkg/dashboard/ui/src/app/components/projects/edit-project-dialog/edit-project-dialog.component.js
  pkg/dashboard/ui/src/app/components/projects/new-project-dialog/new-project-dialog.component.js
Labels: area/ui

#2019 Allow volume mount to reuse volume
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/test/platform_test.go
Labels: platform/kube

#2023 [Projects] Do not omit `spec.displayName` on create
  pkg/dashboard/ui/src/app/shared/services/import.service.js
  pkg/dashboard/ui/src/app/shared/services/nuclio-functions-data.service.js
  pkg/dashboard/ui/src/app/shared/services/nuclio-projects-data.service.js
Labels: area/ui

#2026 Reducing log level for create project
  pkg/platform/kube/platform.go
  pkg/platform/local/platform.go
Labels: platform/kube, platform/local

#2028 Update build function retry errors
  pkg/dockerclient/shell.go
Labels: long-ci-succeeded
