Repository nuclio/nuclio, pull requests merged in 2020-04, with the labels that each got.

#1616 [Nuclio] Display system default values of some fields
  pkg/dashboard/ui/package.json
  pkg/dashboard/ui/src/app/app.run.js
Labels: area/ui

#1618 [Nuclio] Import: skip/override functions with same name
  pkg/dashboard/ui/src/app/shared/services/import.service.js
  pkg/dashboard/ui/src/less/mixins.less
  pkg/dashboard/ui/src/less/palette.less
Labels: area/ui

#1632 UI: Handle forms better; Add mandatory fields
  pkg/dashboard/ui/package.json
  pkg/dashboard/ui/src/app/components/projects/edit-project-dialog/edit-project-dialog.component.js
  pkg/dashboard/ui/src/app/components/projects/new-project-dialog/new-project-dialog.component.js
Labels: area/ui

#1639 Bugfix - Early function build failures hangs forever in UI
  .github/workflows/ci.yaml
  .gitignore
  Makefile
  docs/devel/contributing.md
  pkg/nuctl/command/invoke.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/platform/kube/deployer.go
  pkg/platform/kube/platform.go
  pkg/platform/local/platform_test.go
  pkg/playground/resource/function.go
  pkg/processor/build/builder.go
  pkg/processor/build/builder_test.go
  test/_function_configs/error/s3_codeentry/function.yaml
  test/k8s/ci_assets/nuctl.sh
Labels: area/build, bug

#1642 Fix function deployment failure when deploying with more than 1 controller pod
  pkg/platform/kube/functionres/lazy.go
Labels: area/build, area/controller, bug
