Repository nuclio/nuclio, pull requests merged in 2020-11, with the labels that each got.

#1886 [API gateways] Prettify oauth2 multiline annotation and add kube tests
  pkg/platform/kube/apigatewayres/lazy.go
  pkg/platform/kube/ingress/ingress.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/kube/test/suite.go
  pkg/platform/kube/types.go
Labels: platform/kube

#1894 Fix volumizing platform into functions pod
  cmd/controller/app/controller.go
  cmd/controller/main.go
  hack/k8s/helm/nuclio/templates/deployment/controller.yaml
  pkg/platform/kube/controller/controller.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/functionres/lazy_test.go
  pkg/platform/kube/functionres/types.go
  pkg/platform/kube/test/suite.go
  test/_functions/common/file-streamer/golang/filestream.go
Labels: platform/kube

#1887 [API GWs] Move screen from Iguazio repo to Nuclio repo
  pkg/dashboard/ui/build.config.js
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
  pkg/dashboard/ui/src/app/app.config.js
  pkg/dashboard/ui/src/app/app.module.js
  pkg/dashboard/ui/src/app/app.route.js
  pkg/dashboard/ui/src/app/components/data-wrappers/api-gateways-data-wrapper/api-gateways-data-wrapper.component.js
  pkg/dashboard/ui/src/app/components/data-wrappers/api-gateways-data-wrapper/api-gateways-data-wrapper.tpl.html
  pkg/dashboard/ui/src/app/components/data-wrappers/functions-data-wrapper/functions-data-wrapper.component.js
  pkg/dashboard/ui/src/app/components/header/header.component.js
  pkg/dashboard/ui/src/app/components/header/header.tpl.html
  pkg/dashboard/ui/src/app/shared/services/nuclio-api-gateways-data.service.js
  pkg/dashboard/ui/src/less/mixins.less
  pkg/dashboard/ui/src/less/palette.less
Labels: area/ui

#1892 Introducing function monitoring (kube)
  .run/(kube) platform test.run.xml
  cmd/controller/app/controller.go
  cmd/controller/main.go
  hack/k8s/helm/nuclio/templates/deployment/controller.yaml
  hack/k8s/helm/nuclio/values.yaml
  pkg/functionconfig/types.go
  pkg/platform/kube/controller/controller.go
  pkg/platform/kube/controller/cronjobmonitoring.go
  pkg/platform/kube/controller/nucliofunction.go
  pkg/platform/kube/monitoring/function.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/kube/test/suite.go
  test/k8s/ci_assets/install_nuclio_crds.sh
Labels: platform/kube

#1895 Fix test removing entire temp dir
  pkg/processor/runtime/golang/test/golang_test.go
Labels: runtime/golang

#1890 Renamed apigateway ingress resources to prefixed with nuclio
  pkg/platform/kube/apigatewayres/lazy.go
  pkg/platform/kube/types.go
Labels: platform/kube

#1891 Add initContext to nodejs
  .github/workflows/ci.yaml
  Makefile
  pkg/processor/build/runtime/nodejs/docker/onbuild/Dockerfile
  pkg/processor/build/runtime/nodejs/test/nodejs_test.go
  pkg/processor/runtime/nodejs/js/.eslintrc.json
  pkg/processor/runtime/nodejs/js/package-lock.json
  pkg/processor/runtime/nodejs/js/package.json
  pkg/processor/runtime/nodejs/js/wrapper.js
  pkg/processor/runtime/nodejs/js/wrapper.test.js
  pkg/processor/runtime/nodejs/runtime.go
  pkg/processor/runtime/nodejs/test/outputter/outputter.js
  pkg/processor/runtime/nodejs/wrapper.js
  pkg/processor/runtime/rpc/abstract.go
  test/_functions/common/context-init-fail/nodejs/contextinitfail.js
  test/_functions/common/context-init/nodejs/contextinit.js
Labels: runtime/nodejs

#1897 Validate function has no api gateways before deletion
  pkg/dashboard/resource/function.go
  pkg/platform/errors.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/test/platform_test.go
Labels: platform/kube

#1904 UI: HTTP trigger tweaks; Disallow naming after reserved words
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#1907 API Gateways - Fixed unnecessary auth/signing URL formatting in accessKey authentication mode
  pkg/platform/kube/ingress/ingress.go
Labels: platform/kube

#1909 UI: No invocation URL when HTTP trigger has ingresses
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#1911 [API gateways] Hide when on non-K8s platform
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
  pkg/dashboard/ui/src/app/app.route.js
  pkg/dashboard/ui/src/app/shared/services/nuclio-api-gateways-data.service.js
Labels: area/ui

#1905 Function monitoring - refining
  .run/(test_kube) monitoring - function.run.xml
  .run/(test_kube) nuctl.run.xml
  .run/(test_kube) platform.run.xml
  pkg/common/consts.go
  pkg/functionconfig/types.go
  pkg/platform/abstract/platform.go
  pkg/platform/kube/controller/controller.go
  pkg/platform/kube/controller/nucliofunction.go
  pkg/platform/kube/deployer.go
  pkg/platform/kube/monitoring/function.go
  pkg/platform/kube/monitoring/test/function_test.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/kube/test/suite.go
  pkg/platform/kube/updater.go
  pkg/platform/local/platform.go
  pkg/processor/test/suite/suite.go
Labels: platform/kube, platform/local

#1914 Python runtime to recover from msgpack decoding exceptions
  Makefile
  pkg/processor/runtime/python/py/_nuclio_wrapper.py
  pkg/processor/runtime/python/py/test_wrapper.py
  pkg/processor/runtime/python/test/Dockerfile
  pkg/processor/runtime/python/test/python_test.go
  pkg/processor/runtime/python/test/test.sh
Labels: long-ci-succeeded, runtime/python

#1922 UI: Add host field to API gateway wizard when no template
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#1928 UI: Functions: introduce Unhealthy state
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#1926 Enhanced create function enrichment + validation
  pkg/containerimagebuilderpusher/nop.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
  pkg/platform/mock/platform.go
  pkg/platform/platform.go
  pkg/platformconfig/platformconfig_test.go
Labels: platform/kube

#1932 Add deprecation warnings when deploying a function with python 2.7
  docs/reference/function-configuration/function-configuration-reference.md
  docs/tasks/benchmarking.md
  docs/tasks/deploying-functions.md
  pkg/processor/build/runtime/python/runtime.go
  pkg/processor/build/runtime/python/test/python_test.go
  pkg/processor/build/test/build_test.go
  pkg/processor/runtime/python/py/_nuclio_wrapper.py
  pkg/processor/runtime/python/py/test_wrapper.py
Labels: runtime/python

#1935 Fix cleanup for failed function deployments
  pkg/platform/local/platform.go
Labels: long-ci-succeeded, platform/local

#1938 UI: Function list: color function status text (+ more)
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
  pkg/dashboard/ui/src/app/app.run.js
Labels: area/ui

#1940 Enforce function resource version validation upon deletion
  pkg/dashboard/resource/function.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/platform/function.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/local/platform.go
Labels: platform/kube, platform/local

#1942 UI: Function: Inform about UI precedence over external + reword
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#1923 Fix - Controller crashes when a trigger's ingress structure is malformed
  pkg/functionconfig/types.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/local/platform.go
  pkg/platform/mock/platform.go
  pkg/platform/platform.go
  pkg/processor/test/suite/suite.go
Labels: long-ci-succeeded, nuctl, platform/kube, platform/local, runtime/python

#1913 API Gateways - Add spec validation api gateway on dashboard
  pkg/dashboard/resource/apigateway.go
  pkg/dashboard/test/server_test.go
  pkg/platform/kube/apigateway.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
  pkg/restful/resource.go
Labels: platform/kube

#1945 Recover from panic
  pkg/common/helper.go
  pkg/common/types.go
  pkg/platform/kube/client/clientset/mocks/Interface.go
  pkg/platform/kube/client/clientset/mocks/NuclioFunctionInterface.go
  pkg/platform/kube/client/clientset/mocks/NuclioV1beta1Interface.go
  pkg/platform/kube/controller/nucliofunction.go
  pkg/platform/kube/controller/nucliofunction_test.go
  pkg/platform/kube/functionres/mock.go
  pkg/platform/kube/operator/multiworker.go
  pkg/platform/kube/test/suite.go
Labels: platform/kube

#1943 Allow updating nuclio CRD annotations and labels
  go.mod
  go.sum
  pkg/dashboard/resource/project.go
  pkg/platform/factory/factory.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/kube/test/suite.go
  pkg/platform/kube/updater.go
Labels: platform/kube

#1948 Enforce trigger key and name equality
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/processor/runtime/python/test/python_test.go
Labels: long-ci-succeeded, runtime/python

#1949 Resolve top-down status code on error
  pkg/common/errors.go
  pkg/common/errors_test.go
  pkg/dashboard/resource/apigateway.go
Labels: long-ci-succeeded
