Repository nuclio/nuclio, pull requests merged in 2020-09, with the labels that each got.

#1808 Support API Gateways on nuclio (Part.3 - Nuctl + Export/Import + Tests)
  .github/workflows/ci.yaml
  pkg/dashboard/resource/apigateway.go
  pkg/dashboard/resource/project.go
  pkg/dashboard/test/server_test.go
  pkg/nuctl/command/common/renderers.go
  pkg/nuctl/command/create.go
  pkg/nuctl/command/delete.go
  pkg/nuctl/command/export.go
  pkg/nuctl/command/get.go
  pkg/nuctl/command/import.go
  pkg/nuctl/test/apigagteway_test.go
  pkg/nuctl/test/project_test.go
  pkg/nuctl/test/suite.go
  pkg/platform/kube/apigateway.go
  pkg/platform/kube/apigatewayres/lazy.go
  pkg/platform/kube/platform.go
  pkg/platform/types.go
  test/_imports/project.yaml
  test/_imports/projects.yaml
  test/k8s/ci_assets/install_nginx_ingress_controller.sh
Labels: nuctl, platform/kube

#1820 Use docker volume to mount the processor config to function container
  docs/reference/function-configuration/function-configuration-reference.md
  pkg/dockerclient/dockerclient.go
  pkg/dockerclient/mock.go
  pkg/dockerclient/shell.go
  pkg/dockerclient/types.go
  pkg/platform/local/platform.go
  pkg/platform/local/test/platform_test.go
  pkg/platform/local/types.go
Labels: platform/local

#1819 Allow passing security context via function config
  pkg/common/helper.go
  pkg/functionconfig/types.go
  pkg/nuctl/command/deploy.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/test/platform_test.go
Labels: nuctl, platform/kube

#1830 Support API Gateway dex auth mode
  Makefile
  pkg/dashboard/resource/frontendspec.go
  pkg/dashboard/test/server_test.go
  pkg/platform/abstract/platform.go
  pkg/platform/kube/apigatewayres/lazy.go
  pkg/platform/kube/ingress/ingress.go
  pkg/platform/kube/platform.go
  pkg/platform/mock/platform.go
  pkg/platform/platform.go
  pkg/platformconfig/types.go
Labels: platform/kube

#1838 Build dlx & autoscaler locally
  cmd/autoscaler/Dockerfile
  cmd/autoscaler/app/autoscaler.go
  cmd/autoscaler/main.go
  cmd/dlx/Dockerfile
  cmd/dlx/app/dlx.go
  cmd/dlx/main.go
  go.mod
  go.sum
  pkg/common/k8s.go
  pkg/platform/kube/resourcescaler/resourcescaler.go
Labels: platform/kube
