Repository nuclio/nuclio, pull requests merged in 2021-04, with the labels that each got.

#2154 Mirror docker images for build process to gcr.io/iguazio
  .github/workflows/release.yaml
  Makefile
  cmd/autoscaler/Dockerfile
  cmd/controller/Dockerfile
  cmd/dashboard/docker/Dockerfile
  cmd/dlx/Dockerfile
  hack/controller/build/Dockerfile
  hack/docker/build/base-alpine/Dockerfile
  hack/docker/build/base/Dockerfile
  hack/docker/build/builder/Dockerfile
  pkg/platform/local/store.go
  pkg/processor/build/runtime/golang/docker/onbuild/Dockerfile
  pkg/processor/build/runtime/java/docker/onbuild/Dockerfile
  pkg/processor/build/runtime/python/docker/onbuild/Dockerfile
  pkg/processor/runtime/python/test/Dockerfile
Labels: platform/local, runtime/golang, runtime/java, runtime/python

#2155 Introducing Python 3.9
  Makefile
  docs/reference/function-configuration/function-configuration-reference.md
  docs/reference/runtimes/python/python-reference.md
  hack/scripts/benchmark/benchmark.py
  pkg/dashboard/functiontemplates/generated.go
  pkg/dashboard/functiontemplates/generator/generator.go
  pkg/nuctl/test/function_test.go
  pkg/processor/build/builder.go
  pkg/processor/build/runtime/python/docker/onbuild/Dockerfile
  pkg/processor/build/runtime/python/runtime.go
  pkg/processor/build/runtime/python/test/python_test.go
  pkg/processor/runtime/python/py/requirements/python3_9.txt
  pkg/processor/runtime/python/test/python_test.go
Labels: runtime/python

#2156 Python: bump nuclio-sdk version
  pkg/processor/runtime/python/py/requirements/common.txt
Labels: runtime/python

#2159 Fix resolved function container port
  pkg/platform/local/platform.go
Labels: long-ci-succeeded, platform/local

#2160 UI: Introducing Python 3.9
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2142 Preparations for External Projects
  pkg/nuctl/test/function_test.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/platform/abstract/project/external/client.go
  pkg/platform/abstract/project/external/leader/iguazio/client.go
  pkg/platform/abstract/project/external/leader/mlrun/client.go
  pkg/platform/abstract/project/external/leader/types.go
  pkg/platform/abstract/project/types.go
  pkg/platform/factory/factory.go
  pkg/platform/kube/client/consumer.go
  pkg/platform/kube/client/deleter.go
  pkg/platform/kube/client/deployer.go
  pkg/platform/kube/client/function.go
  pkg/platform/kube/client/getter.go
  pkg/platform/kube/client/updater.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
  pkg/platform/kube/project/client.go
  pkg/platform/kube/test/suite.go
  pkg/platform/local/client/function.go
  pkg/platform/local/client/store.go
  pkg/platform/local/platform.go
  pkg/platform/local/project/client.go
  pkg/platform/mock/platform.go
  pkg/platform/platform.go
  pkg/platform/project.go
  pkg/platform/types.go
  pkg/platformconfig/platformconfig.go
  pkg/platformconfig/types.go
  pkg/processor/build/test/build_test.go
Labels: platform/kube, platform/local

#2170 Helm chart - fix indentation on new nodeSelect,tolerations,affinity
  hack/k8s/helm/nuclio/templates/deployment/autoscaler.yaml
  hack/k8s/helm/nuclio/templates/deployment/controller.yaml
  hack/k8s/helm/nuclio/templates/deployment/dashboard.yaml
  hack/k8s/helm/nuclio/templates/deployment/dlx.yaml
Labels: area/devops, bug

#2164 Preserve function unhealthiness when deployment failed
  pkg/platform/kube/controller/nucliofunction.go
  pkg/platform/kube/monitoring/test/function_test.go
  pkg/platform/kube/platform.go
Labels: platform/kube

#2163 Expose function invocation status
  go.mod
  go.sum
  pkg/dashboard/test/server_test.go
  pkg/dockerclient/dockerclient.go
  pkg/dockerclient/mock.go
  pkg/dockerclient/shell.go
  pkg/functionconfig/types.go
  pkg/nuctl/command/common/helpers.go
  pkg/nuctl/command/common/renderers.go
  pkg/platform/abstract/platform.go
  pkg/platform/kube/client/deployer.go
  pkg/platform/kube/controller/nucliofunction.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/platform.go
  pkg/platform/local/platform.go
  pkg/platformconfig/types.go
Labels: long-ci-succeeded, nuctl, platform/kube, platform/local

#2166 Google Pub/Sub Refining Part 1
  .run/(test_integ) processor_trigger_pubsub.run.xml
  go.mod
  go.sum
  pkg/processor/test/suite/suite.go
  pkg/processor/trigger/pubsub/test/pubsub_test.go
  pkg/processor/trigger/pubsub/trigger.go
  pkg/processor/trigger/pubsub/types.go
  pkg/processor/trigger/types.go
Labels: long-ci-succeeded

#2177 Fix function monitoring concurrent map writes
  pkg/common/helper.go
  pkg/errgroup/errgroup.go
  pkg/platform/kube/monitoring/function.go
  pkg/platform/kube/monitoring/function_test.go
Labels: platform/kube

#2178 Fix function monitoring concurrent map writes [1.5.x backport]
  pkg/common/helper.go
  pkg/errgroup/errgroup.go
  pkg/platform/kube/client/clientset/versioned/fake/clientset_generated.go
  pkg/platform/kube/client/clientset/versioned/fake/doc.go
  pkg/platform/kube/client/clientset/versioned/fake/register.go
  pkg/platform/kube/client/clientset/versioned/typed/nuclio.io/v1beta1/fake/doc.go
  pkg/platform/kube/client/clientset/versioned/typed/nuclio.io/v1beta1/fake/fake_nuclio.io_client.go
  pkg/platform/kube/client/clientset/versioned/typed/nuclio.io/v1beta1/fake/fake_nuclioapigateway.go
  pkg/platform/kube/client/clientset/versioned/typed/nuclio.io/v1beta1/fake/fake_nucliofunction.go
  pkg/platform/kube/client/clientset/versioned/typed/nuclio.io/v1beta1/fake/fake_nucliofunctionevent.go
  pkg/platform/kube/client/clientset/versioned/typed/nuclio.io/v1beta1/fake/fake_nuclioproject.go
  pkg/platform/kube/monitoring/function.go
  pkg/platform/kube/monitoring/function_test.go
Labels: platform/kube

#2180 Log internal/external invocation urls upon successfull deployment
  pkg/platform/abstract/platform.go
  pkg/platform/kube/client/deployer.go
  pkg/platform/local/platform.go
  pkg/platform/types.go
Labels: platform/kube, platform/local

#2182 Added function invocation timeout
  cmd/dashboard/README.md
  pkg/dashboard/resource/invocation.go
  pkg/dashboard/server.go
  pkg/dashboard/test/server_test.go
  pkg/nuctl/command/invoke.go
  pkg/nuctl/test/function_test.go
  pkg/platform/abstract/invoker.go
  pkg/platform/types.go
Labels: nuctl
