Repository nuclio/nuclio, pull requests merged in 2021-07, with the labels that each got.

#2242 Support creating function ingress using configurable template
  cmd/dashboard/app/dashboard.go
  cmd/dashboard/app/types.go
  cmd/dashboard/main.go
  docs/reference/triggers/http.md
  hack/k8s/helm/nuclio/templates/deployment/dashboard.yaml
  hack/k8s/helm/nuclio/values.yaml
  pkg/common/consts.go
  pkg/common/helper.go
  pkg/dashboard/resource/frontendspec.go
  pkg/dashboard/server.go
  pkg/dashboard/test/server_test.go
  pkg/functionconfig/types.go
  pkg/platform/abstract/platform.go
  pkg/platform/function.go
  pkg/platform/kube/client/function.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/functionres/lazy_test.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/local/client/function.go
  pkg/platform/mock/platform.go
  pkg/platform/platform.go
  pkg/platformconfig/types.go
Labels: configuration, dashboard/resources, docs, kubernetes/helm, platform/kube, platform/local

#2244 Scale to zero update
  cmd/autoscaler/app/autoscaler.go
  cmd/dlx/app/dlx.go
  go.mod
  go.sum
  pkg/functionconfig/types.go
  pkg/loggersink/loggersink.go
  pkg/platform/kube/controller/nucliofunction.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/resourcescaler/resourcescaler.go
  pkg/platform/kube/resourcescaler/test/resourcescaler_test.go
  pkg/platform/kube/test/suite.go
  pkg/processor/cloudevent/mockevent.go
  pkg/processor/test/suite/suite.go
  pkg/restful/resource.go
Labels: configuration, platform/kube

#2246 CI - update lint
  .golangci.yml
  Makefile
  pkg/common/strings.go
  pkg/dashboard/resource/frontendspec.go
  pkg/platform/kube/platform.go
Labels: dashboard/resources, platform/kube

#2245 OPA - Update project CRUD operations
  hack/k8s/helm/nuclio/values.yaml
  pkg/dashboard/resource/project.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/project/external/client.go
  pkg/platform/abstract/project/external/client_test.go
  pkg/platform/abstract/project/external/leader/iguazio/client.go
  pkg/platform/abstract/project/external/leader/iguazio/types.go
  pkg/platform/abstract/project/external/leader/mlrun/client.go
  pkg/platform/abstract/project/external/leader/mock/client.go
  pkg/platform/abstract/project/external/leader/types.go
  pkg/platform/abstract/project/internalc/kube/kube.go
  pkg/platform/abstract/project/internalc/local/local.go
  pkg/platform/abstract/project/mock/client.go
  pkg/platform/abstract/project/types.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
  pkg/platform/kube/project/safecache.go
  pkg/platform/kube/project/safecache_test.go
  pkg/platform/local/platform.go
  pkg/platform/mock/platform.go
  pkg/platform/platform.go
  pkg/platform/types.go
  pkg/platformconfig/types.go
Labels: configuration, dashboard/resources, kubernetes/helm, platform/kube, platform/local

#2247 API Gateway - add needed header to allow STZ mechanism to work
  pkg/common/k8s.go
  pkg/dashboard/test/server_test.go
  pkg/nuctl/command/common/renderers.go
  pkg/nuctl/command/create.go
  pkg/nuctl/test/project_test.go
  pkg/nuctl/test/suite.go
  pkg/platform/kube/apigatewayres/lazy.go
  pkg/platform/kube/apigatewayres/lazy_test.go
  pkg/platform/kube/ingress/ingress.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/kube/test/suite.go
  pkg/platform/types.go
Labels: nuctl, platform/kube

#2248 Opa - fix syncing leader projects
  .github/workflows/ci.yaml
  Makefile
  pkg/platform/abstract/project/external/client.go
  pkg/platform/abstract/project/external/client_test.go
  pkg/platform/abstract/project/external/leader/iguazio/client.go
  pkg/platform/abstract/project/external/leader/iguazio/synchronizer.go
  pkg/platform/abstract/project/external/leader/iguazio/synchronizer_test.go
  pkg/platform/abstract/project/external/leader/iguazio/types.go
  pkg/platform/abstract/project/internalc/kube/kube.go
  pkg/platform/kube/platform.go
  pkg/platform/types_test.go
Labels: ci, platform/kube

#2256 UI: Cron Trigger: fix unexpected change of schedule fields
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2255 Authentication - introducing authentication
  Makefile
  cmd/dashboard/app/dashboard.go
  cmd/dashboard/app/dashboard_test.go
  cmd/dashboard/app/run.go
  cmd/dashboard/app/types.go
  cmd/dashboard/main.go
  hack/k8s/helm/nuclio/templates/deployment/dashboard.yaml
  hack/k8s/helm/nuclio/values.yaml
  pkg/common/url.go
  pkg/dashboard/auth/factory/factory.go
  pkg/dashboard/auth/iguazio/auth.go
  pkg/dashboard/auth/iguazio/auth_test.go
  pkg/dashboard/auth/nop/auth.go
  pkg/dashboard/auth/session.go
  pkg/dashboard/auth/types.go
  pkg/dashboard/functiontemplates/gitfunctiontemplatefetcher.go
  pkg/dashboard/resource/apigateway.go
  pkg/dashboard/resource/externalipaddresses.go
  pkg/dashboard/resource/frontendspec.go
  pkg/dashboard/resource/function.go
  pkg/dashboard/resource/functionevent.go
  pkg/dashboard/resource/functiontemplate.go
  pkg/dashboard/resource/namespaces.go
  pkg/dashboard/resource/project.go
  pkg/dashboard/resource/resource.go
  pkg/dashboard/server.go
  pkg/dashboard/test/server_test.go
  pkg/opa/opa.go
  pkg/platform/abstract/project/external/leader/iguazio/client.go
  pkg/platform/types.go
  pkg/restful/resource.go
  pkg/restful/server.go
Labels: dashboard/resources, kubernetes/helm

#2264 Preserve build logs
  pkg/platform/kube/controller/nucliofunction.go
  pkg/platform/kube/controller/nucliofunction_test.go
  pkg/platform/kube/platform.go
  pkg/platform/local/platform.go
Labels: platform/kube, platform/local

#2254 S3 - try download functions w/o auth
  go.mod
  go.sum
  pkg/common/aws.go
  pkg/platform/kube/functionres/lazy.go
  pkg/processor/build/builder.go
  pkg/processor/build/builder_test.go
Labels: platform/kube

#2265 Fix - Pull base images upon building a function without cache [1.5.x backport]
  pkg/containerimagebuilderpusher/docker.go
  pkg/containerimagebuilderpusher/types.go
  pkg/dockerclient/shell.go
  pkg/dockerclient/shell_test.go
  pkg/dockerclient/types.go
  pkg/processor/build/builder.go
Labels: long-ci-succeeded

#2268 Auth - protect /version endpoint
  pkg/dashboard/resource/version.go
Labels: dashboard/resources

#2267 [DLX][APIGateway] multi target support on invocation
  go.mod
  go.sum
  pkg/platform/kube/apigatewayres/lazy.go
  pkg/platform/kube/apigatewayres/lazy_test.go
  pkg/platform/kube/resourcescaler/resourcescaler.go
  pkg/platform/kube/resourcescaler/test/resourcescaler_test.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/kube/test/suite.go
  pkg/platformconfig/platformconfig.go
  pkg/platformconfig/types.go
Labels: configuration, platform/kube

#2269 UI: Add pagination to Functions, update Invocation URLs on deploy
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2274 Fix Kubernetes CI
  .github/workflows/ci.yaml
Labels: ci

#2270 Fix delete project resources in cascading mode [1.5.x]
  pkg/platform/kube/functionres/lazy.go
Labels: platform/kube

#2271 Scale to zero - verify function readiness [1.5.x]
  cmd/dlx/app/dlx.go
  cmd/dlx/main.go
  hack/k8s/helm/nuclio/templates/deployment/dlx.yaml
  hack/k8s/helm/nuclio/values.yaml
  pkg/platform/kube/resourcescaler/resourcescaler.go
  pkg/processor/trigger/http/http_test.go
  pkg/processor/trigger/http/trigger.go
  pkg/processor/trigger/http/types.go
Labels: platform/kube
