Repository nuclio/nuclio, pull requests merged in 2021-06, with the labels that each got.

#2209 Support async def init_context and handle - part 2
  docs/concepts/configuring-a-function.md
  docs/reference/runtimes/python/python-reference.md
  pkg/processor/runtime/python/py/_nuclio_wrapper.py
  pkg/processor/runtime/python/py/test_wrapper.py
  pkg/processor/runtime/python/test/outputter/async_outputter.py
  pkg/processor/runtime/python/test/python_test.go
Labels: long-ci-succeeded, runtime/python

#2215 Bump python sdk to 0.3.2
  pkg/processor/runtime/python/py/requirements/common.txt
Labels: long-ci-succeeded, runtime/python

#2218 k8s 1.19 compatibility - helm chart - Bumping CRD apiVesion to v1 + fixing schema validation
  hack/k8s/helm/nuclio/Chart.yaml
  hack/k8s/helm/nuclio/templates/crd/api-gateway.yaml
  hack/k8s/helm/nuclio/templates/crd/function-event.yaml
  hack/k8s/helm/nuclio/templates/crd/function.yaml
  hack/k8s/helm/nuclio/templates/crd/project.yaml
Labels: kubernetes/helm

#2219 UI: Node selectors, internal & external invocation URLs, owner
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2223 Bump git client to v5
  go.mod
  go.sum
  pkg/common/git/git.go
  pkg/dashboard/functiontemplates/gitfunctiontemplatefetcher.go
  pkg/processor/build/builder.go
Labels: long-ci-succeeded

#2224 Change internal/external json property name to avoid underscoring glitches
  pkg/functionconfig/types.go
Labels: configuration

#2225 UI: Tweaks to Node Selector, and rename ***URLs to ***Urls
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2226 Apply node selector changes upon deployment update
  pkg/platform/kube/functionres/lazy.go
Labels: platform/kube

#2228 UI: Add Node Selector to Configuration tab of Function screen
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2227 Support node selector constrains [1.5.x backport]
  docs/reference/function-configuration/function-configuration-reference.md
  pkg/functionconfig/types.go
  pkg/nuctl/command/deploy.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/functionres/lazy_test.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/kube/test/suite.go
Labels: nuctl, platform/kube

#2229 Releaser: fix when publishing helm charts only
  .gitignore
  hack/scripts/releaser/README.md
  hack/scripts/releaser/releaser.go
Labels: releaser

#2231 UI: Test pane: add selection of invocation URL
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
  pkg/dashboard/ui/src/app/components/data-wrappers/function-events-data-wrapper/function-events-data-wrapper.component.js
  pkg/dashboard/ui/src/app/components/data-wrappers/function-events-data-wrapper/function-events-data-wrapper.tpl.html
  pkg/dashboard/ui/src/app/shared/services/nuclio-event-data.service.js
Labels: area/ui

#2212 OPA support
  hack/k8s/helm/nuclio/templates/_helpers.tpl
  hack/k8s/helm/nuclio/templates/deployment/dashboard.yaml
  hack/k8s/helm/nuclio/templates/secret/dashboard-opa.yml
  hack/k8s/helm/nuclio/values.yaml
  pkg/common/url.go
  pkg/dashboard/resource/function.go
  pkg/dashboard/resource/functionevent.go
  pkg/dashboard/resource/project.go
  pkg/opa/factory.go
  pkg/opa/http.go
  pkg/opa/mock.go
  pkg/opa/nop.go
  pkg/opa/opa.go
  pkg/opa/types.go
  pkg/platform/abstract/platform.go
  pkg/platform/kube/client/clientset/mocks/NuclioFunctionEventInterface.go
  pkg/platform/kube/client/clientset/mocks/NuclioProjectInterface.go
  pkg/platform/kube/client/updater.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
  pkg/platform/local/platform.go
  pkg/platform/mock/platform.go
  pkg/platform/platform.go
  pkg/platform/types.go
  pkg/platformconfig/platformconfig.go
Labels: configuration, dashboard/resources, kubernetes/helm, platform/kube, platform/local

#2232 UI: Set `nuclio.io/project-name` label on saving function events
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2230 Enrich function event with project-name
  pkg/common/consts.go
  pkg/nuctl/test/functionevent_test.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/platform/kube/platform.go
  pkg/platform/local/platform.go
Labels: platform/kube, platform/local

#2233 Docs - HTTP trigger port update
  docs/reference/triggers/http.md
Labels: docs

#2234 Docs - update Kinesis trigger doc
  docs/reference/triggers/kinesis.md
Labels: docs

#2235 Support OPA override header
  pkg/dashboard/resource/function.go
  pkg/dashboard/resource/functionevent.go
  pkg/dashboard/resource/project.go
  pkg/opa/factory.go
  pkg/opa/http.go
  pkg/opa/mock.go
  pkg/opa/nop.go
  pkg/opa/opa.go
  pkg/opa/types.go
  pkg/platform/abstract/platform.go
  pkg/platform/kube/client/updater.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
  pkg/platform/local/platform.go
  pkg/platform/mock/platform.go
  pkg/platform/platform.go
  pkg/platform/types.go
Labels: dashboard/resources, platform/kube, platform/local

#2237 Docs - update Kafka trigger for multi-topic support
  docs/reference/triggers/kafka.md
Labels: docs

#2236 Logger - support JSON compliant extra vars
  go.mod
  go.sum
  pkg/loggersink/stdout/factory.go
  pkg/loggersink/stdout/types.go
Labels: long-ci-succeeded

#2238 Python - add preceding "L" character for json parsing
  .github/workflows/ci.yaml
  pkg/common/map.go
  pkg/common/map_test.go
  pkg/logprocessing/logprocessing.go
  pkg/logprocessing/logprocessing_test.go
  pkg/logprocessing/types.go
  pkg/platform/abstract/platform.go
  pkg/platform/kube/test/platform_test.go
  pkg/processor/runtime/python/py/_nuclio_wrapper.py
  pkg/processor/runtime/python/py/requirements/common.txt
Labels: ci, long-ci-succeeded, platform/kube, runtime/python

#2240 CI - fix latest issues
  .github/workflows/ci.yaml
  Makefile
Labels: ci
