Repository nuclio/nuclio, pull requests merged in 2021-01, with the labels that each got.

#2033 Fix CI transient failures on function monitoring
  pkg/platform/kube/monitoring/test/function_test.go
Labels: platform/kube

#2034 Delete container by its ID
  pkg/platform/kube/monitoring/test/function_test.go
  pkg/platform/kube/test/suite.go
  pkg/platform/local/platform.go
Labels: platform/kube, platform/local

#2032 Security buff - Sanitizing function spec and protect dockerclient
  pkg/common/helper.go
  pkg/dashboard/resource/function.go
  pkg/dockerclient/shell.go
  pkg/dockerclient/shell_test.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/restful/errorverifier.go
Labels: long-ci-succeeded

#2039 Add integration test for function brief error message
  pkg/common/strings.go
  pkg/platform/kube/deployer.go
  pkg/platform/kube/test/platform_test.go
Labels: platform/kube

#2030 [Projects] Allow to forcefully delete a non-empty project
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
  pkg/dashboard/ui/src/app/components/projects/project-table-row/project-table-row.component.js
  pkg/dashboard/ui/src/app/components/projects/projects.component.js
  pkg/dashboard/ui/src/app/shared/services/nuclio-projects-data.service.js
Labels: area/ui

#2043 [DOC] Edit deploy help text, including --http-trigger-service-type
  pkg/nuctl/command/deploy.go
Labels: nuctl

#2044 Releaser: release 1.3.x from github action
  hack/scripts/releaser/README.md
  hack/scripts/releaser/releaser.go
  hack/scripts/releaser/releaser_test.go
Labels: releaser

#2045 Function monitoring: enhancing the way deployment is detected as available
  pkg/platform/kube/monitoring/function.go
  pkg/platform/kube/monitoring/test/function_test.go
Labels: platform/kube

#2046 Docker names validation changes - using reference/regexp package
  go.mod
  go.sum
  pkg/common/helper.go
  pkg/dockerclient/shell.go
  pkg/dockerclient/shell_test.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
Labels: long-ci-succeeded

#2049 Fix unordered list of volumes causing deployment spec to be reconfigured
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/functionres/lazy_test.go
  pkg/platform/kube/monitoring/test/function_test.go
Labels: platform/kube

#2050 Disallow disabling function with assigned api gateways
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
Labels: platform/kube

#2051 UI: Omit readiness timeout from request on empty field
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2053 Apigateway access key authentication - no sign-in url redirection
  pkg/platform/kube/ingress/ingress.go
Labels: platform/kube

#2061 UI: Fucntion used by API GW missing error message on disabling
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
  pkg/dashboard/ui/src/app/app.route.js
  pkg/dashboard/ui/src/app/components/data-wrappers/functions-data-wrapper/functions-data-wrapper.component.js
  pkg/dashboard/ui/src/app/components/data-wrappers/functions-data-wrapper/functions-data-wrapper.tpl.html
  pkg/dashboard/ui/src/app/components/data-wrappers/version-data-wrapper/version-data-wrapper.component.js
  pkg/dashboard/ui/src/app/components/data-wrappers/version-data-wrapper/version-data-wrapper.tpl.html
  pkg/dashboard/ui/src/app/shared/services/nuclio-functions-data.service.js
Labels: area/ui

#2058 Add function mount mode on local platform
  docs/reference/function-configuration/function-configuration-reference.md
  pkg/common/consts.go
  pkg/dockerclient/shell.go
  pkg/platform/local/platform.go
  pkg/platform/local/test/platform_test.go
  pkg/platform/local/types.go
Labels: long-ci-succeeded, platform/local

#2059 Introducing Nuclio on arm32/64 (basic support)
  Makefile
  cmd/autoscaler/Dockerfile
  cmd/controller/Dockerfile
  cmd/dashboard/docker/Dockerfile
  cmd/dlx/Dockerfile
  cmd/processor/Dockerfile
  hack/docker/build/base-alpine/Dockerfile
  hack/docker/build/base/Dockerfile
  hack/docker/build/builder/Dockerfile
  pkg/common/helper.go
  pkg/processor/build/builder.go
  pkg/processor/build/runtime/golang/docker/onbuild/Dockerfile
  pkg/processor/build/runtime/golang/docker/onbuild/Dockerfile.alpine
  pkg/processor/runtime/python/py/_nuclio_wrapper.py
  pkg/processor/trigger/cron/event.go
  pkg/processor/trigger/trigger.go
  pkg/processor/worker/allocator.go
  pkg/processor/worker/worker.go
  test/docker/Dockerfile
Labels: long-ci-started, runtime/golang, runtime/python

#2063 Releaser: bump version using a flag
  go.mod
  go.sum
  hack/scripts/releaser/README.md
  hack/scripts/releaser/releaser.go
  hack/scripts/releaser/releaser_test.go
Labels: releaser

#2064 Deprecate local platform functions attribute processorMountMode in favor of mountMode
  docs/reference/function-configuration/function-configuration-reference.md
  pkg/platform/local/types.go
Labels: platform/local

#2067 Deprecated local platform old function unhealthy status message
  pkg/common/consts.go
  pkg/platform/kube/monitoring/function.go
  pkg/platform/local/platform.go
Labels: platform/kube, platform/local

#2066 Deprecate project display name at last
  pkg/dashboard/resource/project.go
  pkg/nuctl/command/common/renderers.go
  pkg/nuctl/command/create.go
  pkg/nuctl/command/import.go
  pkg/nuctl/command/types.go
  pkg/nuctl/test/project_test.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/platform/types.go
Labels: nuctl

#2065 EOL Python 2.7
  Makefile
  docs/tasks/benchmarking.md
  pkg/functionconfig/reader_test.go
  pkg/processor/build/builder.go
  pkg/processor/build/runtime/python/docker/onbuild/Dockerfile
  pkg/processor/build/runtime/python/runtime.go
  pkg/processor/build/runtime/python/test/python_test.go
  pkg/processor/runtime/python/py/_nuclio_wrapper.py
  pkg/processor/runtime/python/py/test_wrapper.py
  pkg/processor/runtime/python/runtime.go
  pkg/processor/runtime/python/test/python_test.go
  test/_functions/python/py2-printer/printer.py
Labels: long-ci-succeeded, runtime/python

#2073 Fix test relaying on latest tag existence
  pkg/platform/kube/test/suite.go
Labels: platform/kube

#2048 Fix k8s cron trigger event body malformed when it's json formatted
  .github/workflows/ci.yaml
  Makefile
  pkg/nuctl/test/apigagteway_test.go
  pkg/nuctl/test/function_test.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/kube/test/suite.go
  test/_functions/common/event-recorder/python/event_recorder.py
  test/common/k8s/ingress.go
Labels: platform/kube

#2072 Introducing Python 3.8 & 3.7
  .gitignore
  docs/reference/function-configuration/function-configuration-reference.md
  docs/reference/runtimes/python/python-reference.md
  pkg/nuctl/test/function_test.go
  pkg/platform/kube/test/suite.go
  pkg/processor/build/builder.go
  pkg/processor/build/runtime/python/docker/onbuild/Dockerfile
  pkg/processor/build/runtime/python/runtime.go
  pkg/processor/build/runtime/python/test/python_test.go
  pkg/processor/runtime/python/py/requirements/python2.txt
  pkg/processor/runtime/python/py/requirements/python3_7.txt
  pkg/processor/runtime/python/py/requirements/python3_8.txt
  pkg/processor/runtime/python/py/test_wrapper.py
  pkg/processor/runtime/python/test/python_test.go
  pkg/processor/runtime/python/test/test.sh
Labels: long-ci-succeeded, platform/kube, runtime/python

#2075 Enable python 3.7 & 3.8 CI tests + add to benchmarking script
  hack/scripts/benchmark/benchmark.py
  pkg/nuctl/test/function_test.go
Labels: runtime/python

#2079 Fix test relaying on latest tag existence [1.5.x backport]
  pkg/platform/kube/test/suite.go
Labels: platform/kube

#2081 UI: Fix falsely showing transient states of functions and API GWs
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2082 UI: Fix falsely showing transient states of functions and API GWs [1.5.x backport]
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui
