Repository nuclio/nuclio, pull requests merged in 2021-12, with the labels that each got.

#2404 Bump v3io go version
  go.mod
  go.sum
Labels: go/modules

#2399 Enhance fail-fast to respect pod scale up events
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/functionres/lazy_test.go
Labels: platform/kube, platform

#2405 K8s resources (helm/yamls) - Deprecate rbac.authorization.k8s.io/v1beta1, fix k8s 1.22 compatibility
  hack/k8s/helm/nuclio/Chart.yaml
  hack/k8s/helm/nuclio/templates/role/crd-admin.yaml
  hack/k8s/helm/nuclio/templates/role/function-deployer.yaml
  hack/k8s/helm/nuclio/templates/rolebinding/crd-admin.yaml
  hack/k8s/helm/nuclio/templates/rolebinding/function-deployer.yaml
  hack/k8s/resources/nuclio-rbac.yaml
Labels: kubernetes/helm, kubernetes/resources

#2407 [Docs] Remove cloud specifics and some updates
  README.md
  docs/devel/contributing.md
  docs/setup/aks/getting-started-aks.md
  docs/setup/docker/getting-started-docker.md
  docs/setup/gke/getting-started-gke.md
  docs/setup/k8s/getting-started-k8s.md
  docs/setup/k8s/running-in-production-k8s.md
  docs/setup/minikube/getting-started-minikube.md
  docs/tasks/deploying-functions.md
  hack/aks/resources/nuclio.yaml
  hack/controller/build/Dockerfile
  hack/gke/resources/nuclio.yaml
  hack/k8s/resources/nuclio-rbac.yaml
  hack/k8s/resources/nuclio.yaml
Labels: docs, kubernetes/resources

#2408 Local - fix deleted function containers in stopped state
  pkg/platform/local/platform.go
Labels: platform/local, long-ci-succeeded, platform

#2412 Bump v3io-go version [1.6.x]
  go.mod
  go.sum
Labels: go/modules

#2414 Fix autoscale event typo
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/functionres/lazy_test.go
Labels: platform/kube, platform

#2418 Bump Kaniko default version
  hack/k8s/helm/nuclio/values.yaml
  pkg/containerimagebuilderpusher/types.go
Labels: kubernetes/helm

#2416 Use nuclio/errgroup instead of sync/errgroup
  pkg/nuctl/command/import.go
  pkg/platform/local/client/store.go
  pkg/processor/timeout/timeout.go
  pkg/processor/worker/factory.go
Labels: platform/local, nuctl, platform

#2417 V3io - window size improvements and fixes
  go.mod
  go.sum
  pkg/dockerclient/dockerclient.go
  pkg/dockerclient/mock.go
  pkg/dockerclient/shell.go
  pkg/platform/local/platform.go
  pkg/processor/test/suite/suite.go
  pkg/processor/trigger/cron/test/cron_test.go
  pkg/processor/trigger/test/eventrecorder.go
  pkg/processor/trigger/types.go
  pkg/processor/trigger/v3iostream/test/v3iostream_test.go
  pkg/processor/trigger/v3iostream/trigger.go
  pkg/processor/trigger/v3iostream/types.go
Labels: platform/local, long-ci-succeeded, platform, go/modules, trigger/v3iostream, trigger/cron

#2420 Errgroup - Limit number of concurrent goroutines with semaphore
  pkg/errgroup/errgroup.go
  pkg/errgroup/errgroup_test.go
  pkg/platform/abstract/project/external/leader/iguazio/synchronizer.go
Labels: platform/kube, platform/local, nuctl, platform

#2419 V3io - window size improvements and fixes
  go.mod
  go.sum
  pkg/dockerclient/dockerclient.go
  pkg/dockerclient/mock.go
  pkg/dockerclient/shell.go
  pkg/platform/local/platform.go
  pkg/processor/test/suite/suite.go
  pkg/processor/trigger/cron/test/cron_test.go
  pkg/processor/trigger/test/eventrecorder.go
  pkg/processor/trigger/types.go
  pkg/processor/trigger/v3iostream/test/v3iostream_test.go
  pkg/processor/trigger/v3iostream/trigger.go
  pkg/processor/trigger/v3iostream/types.go
Labels: platform/local, platform, go/modules, trigger/v3iostream, trigger/cron

#2421 Added artifact hub badge
  README.md
  hack/k8s/helm/nuclio/Chart.yaml
Labels: kubernetes/helm

#2422 Use newer alpine images
  cmd/autoscaler/Dockerfile
  cmd/controller/Dockerfile
  cmd/dlx/Dockerfile
  pkg/platform/local/client/store.go
  pkg/platform/local/platform.go
  pkg/processor/build/runtime/golang/runtime.go
  pkg/processor/build/runtime/shell/runtime.go
Labels: platform/local, runtime/golang, runtime/shell, platform

#2423 Upgrade dependencies to remedy vulnerabilities
  Makefile
  docs/reference/runtimes/golang/golang-reference.md
  docs/tasks/deploy-functions-from-dockerfile.md
  go.mod
  go.sum
  hack/examples/golang/eventhub/eventhub.go
  pkg/dashboard/functiontemplates/generated.go
  pkg/processor/build/runtime/golang/docker/onbuild/Dockerfile.alpine
  pkg/processor/databinding/eventhub/databinding.go
  pkg/processor/runtime/python/py/requirements/python3_7.txt
  pkg/processor/runtime/python/py/requirements/python3_8.txt
  pkg/processor/runtime/python/py/requirements/python3_9.txt
  pkg/processor/trigger/partitioned/eventhub/partition.go
  pkg/processor/trigger/partitioned/eventhub/test/eventhub_test.go
  pkg/processor/trigger/partitioned/eventhub/trigger.go
  pkg/processor/util/eventhub/eventhubutil.go
Labels: runtime/python, runtime/golang, long-ci-succeeded, docs, go/modules, trigger/partitioned

#2427 [dashboard/UI] - Bump some packages to pick up security patches
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui
