Repository nuclio/nuclio, pull requests merged in 2021-11, with the labels that each got.

#2382 Increase waiting for function creation timeout
  pkg/dashboard/resource/function.go
Labels: dashboard/resources

#2383 [API GWs] Add func exist validation header on create/update
  pkg/dashboard/ui/src/app/shared/services/nuclio-api-gateways-data.service.js
Labels: area/ui

#2388 [UI] Performance issue with big amount of records
  pkg/dashboard/ui/src/less/mixins.less
Labels: area/ui

#2390 Fix returned error code when updating a non existing project
  pkg/dashboard/resource/project.go
  pkg/platform/abstract/project/external/leader/iguazio/synchronizer.go
  pkg/platform/abstract/project/internalc/kube/kube.go
Labels: dashboard/resources, platform

#2387 V3io stream trigger - allowing predefined ack window offset
  pkg/processor/trigger/v3iostream/trigger.go
  pkg/processor/trigger/v3iostream/types.go
Labels: trigger/v3iostream

#2385 Fix controller potentially can set nil function state
  pkg/platform/kube/controller/nucliofunction.go
Labels: platform/kube, platform

#2384 V3io - ensure consumer group start consuming
  pkg/processor/trigger/v3iostream/trigger.go
Labels: trigger/v3iostream

#2386 Fix delete function even when filtered out
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/platform/kube/platform.go
  pkg/platform/local/platform.go
Labels: platform/kube, platform/local, platform

#2393 Add v3iostream ack window size annotation
  pkg/processor/trigger/v3iostream/factory.go
  pkg/processor/trigger/v3iostream/types.go
Labels: trigger/v3iostream

#2394 Kafka - allowing predefined ack window offset
  pkg/processor/trigger/kafka/factory.go
  pkg/processor/trigger/kafka/trigger.go
  pkg/processor/trigger/kafka/types.go
  pkg/processor/trigger/v3iostream/trigger.go
Labels: long-ci-succeeded, trigger/v3iostream, trigger/kafka

#2391 Local platform - Change default function mount to docker volume
  pkg/platform/local/platform.go
Labels: platform/local, platform

#2392 Move fast failure logic from dashboard to controller
  pkg/platform/kube/client/deployer.go
  pkg/platform/kube/client/updater.go
  pkg/platform/kube/controller/nucliofunction.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/functionres/types.go
  pkg/platform/kube/test/suite.go
Labels: platform/kube, platform

#2397 Unset function invocation urls in case function deployment fails
  pkg/platform/kube/controller/controller_test.go
  pkg/platform/kube/controller/nucliofunction.go
  pkg/platform/kube/controller/test/controller_test.go
Labels: platform/kube, platform
