Repository nuclio/nuclio, pull requests merged in 2021-10, with the labels that each got.

#2341 Fix java onbuild image [1.5.x]
  pkg/processor/build/runtime/java/docker/onbuild/Dockerfile
Labels: runtime/java

#2340 Kubernetes - Turn off resync [1.5.x]
  cmd/controller/main.go
  hack/k8s/helm/nuclio/templates/deployment/controller.yaml
  hack/k8s/helm/nuclio/values.yaml
  pkg/platform/kube/monitoring/function.go
  pkg/platform/kube/operator/multiworker.go
  pkg/platform/kube/test/suite.go
Labels: platform/kube

#2342 APIGateway: add function existence validation [optionally]
  pkg/dashboard/resource/apigateway.go
  pkg/dashboard/server.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
  pkg/platform/kube/test/suite.go
  pkg/platform/types.go
Labels: platform/kube, dashboard/resources, platform

#2343 Kubernetes - Turn off resync
  hack/k8s/helm/nuclio/values.yaml
  pkg/platform/kube/monitoring/function.go
  pkg/platform/kube/operator/multiworker.go
Labels: platform/kube, kubernetes/helm, platform

#2346 UI: Deploy result: Wrong text and colors when unhealthy
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2348 UI: Unexpected confirmation on function creation
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2344 Python - support injecting custom ssl ca for pip commands
  hack/k8s/helm/nuclio/templates/deployment/dashboard.yaml
  hack/k8s/helm/nuclio/values.yaml
  pkg/platform/abstract/platform.go
  pkg/platform/mock/platform.go
  pkg/platform/platform.go
  pkg/platformconfig/platformconfig.go
  pkg/processor/build/builder.go
  pkg/processor/build/runtime/dotnetcore/runtime.go
  pkg/processor/build/runtime/golang/runtime.go
  pkg/processor/build/runtime/java/runtime.go
  pkg/processor/build/runtime/nodejs/runtime.go
  pkg/processor/build/runtime/python/runtime.go
  pkg/processor/build/runtime/python/test/python_test.go
  pkg/processor/build/runtime/ruby/runtime.go
  pkg/processor/build/runtime/runtime.go
  pkg/processor/build/runtime/shell/runtime.go
  pkg/processor/build/runtimeconfig/runtimeconfig.go
Labels: runtime/python, runtime/golang, runtime/java, runtime/shell, runtime/nodejs, long-ci-succeeded, runtime/dotnetcore, runtime/ruby, kubernetes/helm, configuration, platform

#2379 Kaniko - Retry pushing images to registry
  hack/k8s/helm/nuclio/templates/deployment/dashboard.yaml
  hack/k8s/helm/nuclio/values.yaml
  pkg/containerimagebuilderpusher/kaniko.go
  pkg/containerimagebuilderpusher/types.go
Labels: kubernetes/helm
