Repository nuclio/nuclio, pull requests merged in 2021-09, with the labels that each got.

#2316 [OPA] Use single batched request when querying multiple resources permissions
  pkg/dashboard/auth/iguazio/auth.go
  pkg/dashboard/auth/iguazio/auth_test.go
  pkg/dashboard/resource/project.go
  pkg/opa/http.go
  pkg/opa/mock.go
  pkg/opa/nop.go
  pkg/opa/opa.go
  pkg/opa/types.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/project/internalc/kube/kube.go
  pkg/platform/kube/client/updater.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/local/client/store.go
  pkg/platform/platform.go
  pkg/platform/types.go
Labels: platform/kube, platform/local, dashboard/resources

#2318 [CI] - Fix broken test
  pkg/processor/trigger/mqtt/basic/test/mqtt_test.go
Labels: long-ci-succeeded, trigger/mqtt

#2319 UI: Node Selector: empty after new function deploy
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2324 CI - More labels
  .github/labels.yaml
Labels: ci

#2322 Add default requests and limits to Opa server
  hack/k8s/helm/nuclio/values.yaml
Labels: kubernetes/helm

#2325 Validate service type
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
Labels: platform

#2326 APIGateway - do not allow changing project name for existing records
  pkg/common/k8s.go
  pkg/platform/factory/factory.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
Labels: platform/kube, platform

#2327 Volume enrichment and validation updates
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
Labels: platform

#2329 Bump v3io-go to 0.2.18
  go.mod
  go.sum
Labels: go/modules

#2331 UI: Reword "Project Name" to "Project name" for consistency
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
  pkg/dashboard/ui/src/app/components/projects/edit-project-dialog/edit-project-dialog.tpl.html
  pkg/dashboard/ui/src/app/components/projects/new-project-dialog/new-project-dialog.tpl.html
Labels: area/ui

#2330 Do not allow deleting functions that are being provisioned
  pkg/dashboard/resource/function.go
  pkg/dashboard/server.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/platform/kube/client/deleter.go
  pkg/platform/kube/platform_test.go
  pkg/platform/types.go
Labels: platform/kube, long-ci-succeeded, dashboard/resources, platform

#2328 Pods priority support
  pkg/dashboard/resource/frontendspec.go
  pkg/dashboard/test/server_test.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/platform/kube/platform.go
  pkg/platformconfig/types.go
Labels: platform/kube, configuration, dashboard/resources, platform

#2334 Update ignore state validation header name
  cmd/dashboard/README.md
  pkg/dashboard/resource/function.go
  pkg/dashboard/server.go
Labels: dashboard/resources

#2335 UI: Code: Add tooltips to Git code-entry type
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2336 [Nuclio] Delete a function while it is deploying
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
  pkg/dashboard/ui/src/app/components/data-wrappers/functions-data-wrapper/functions-data-wrapper.component.js
  pkg/dashboard/ui/src/app/components/data-wrappers/functions-data-wrapper/functions-data-wrapper.tpl.html
  pkg/dashboard/ui/src/app/components/data-wrappers/version-data-wrapper/version-data-wrapper.component.js
  pkg/dashboard/ui/src/app/components/data-wrappers/version-data-wrapper/version-data-wrapper.tpl.html
  pkg/dashboard/ui/src/app/shared/services/nuclio-functions-data.service.js
Labels: area/ui

#2337 Nuctl - function events small fixes
  pkg/nuctl/command/common/renderers.go
  pkg/nuctl/command/export.go
  pkg/nuctl/command/get.go
  pkg/platform/abstract/platform.go
  pkg/platform/kube/platform.go
  pkg/platform/types.go
Labels: platform/kube, nuctl, platform

#2339 Function event - enrich headers correctly
  pkg/platform/abstract/platform.go
Labels: platform
