Repository nuclio/nuclio, pull requests merged in 2021-08, with the labels that each got.

#2275 Preserve build logs [1.5.x backport]
  pkg/platform/kube/controller/nucliofunction.go
  pkg/platform/kube/controller/nucliofunction_test.go
  pkg/platform/kube/platform.go
  pkg/platform/local/platform.go
Labels: platform/kube, platform/local

#2278 Revert "Auth - protect /version endpoint"
  pkg/dashboard/resource/version.go
Labels: dashboard/resources

#2279 Scale to zero - verify function readiness
  cmd/dlx/app/dlx.go
  cmd/dlx/main.go
  hack/k8s/helm/nuclio/templates/deployment/dlx.yaml
  hack/k8s/helm/nuclio/values.yaml
  pkg/common/testutils/http.go
  pkg/dashboard/auth/iguazio/auth_test.go
  pkg/platform/kube/resourcescaler/resourcescaler.go
  pkg/platform/kube/resourcescaler/test/resourcescaler_test.go
  pkg/processor/trigger/http/http_test.go
  pkg/processor/trigger/http/trigger.go
  pkg/processor/trigger/http/types.go
Labels: kubernetes/helm, platform/kube

#2281 Preserve build logs - update
  pkg/platform/kube/controller/nucliofunction.go
Labels: platform/kube

#2252 Enhance resolving brief error for structured var group
  pkg/loggersink/loggersink.go
  pkg/loggersink/registry.go
  pkg/logprocessing/logprocessing.go
  pkg/logprocessing/types.go
  pkg/platform/abstract/platform_test.go
  pkg/platform/abstract/test/logs_examples/multi_worker/function_logs.txt
  pkg/platform/kube/client/deployer.go
  pkg/platform/kube/test/platform_test.go
Labels: platform/kube

#2283 Fix shared worker allocation
  cmd/processor/app/processor.go
  cmd/processor/app/processor_test.go
  pkg/processor/trigger/cron/factory.go
  pkg/processor/trigger/cron/trigger.go
  pkg/processor/trigger/factory.go
  pkg/processor/trigger/http/factory.go
  pkg/processor/trigger/kafka/factory.go
  pkg/processor/trigger/kickstart/factory.go
  pkg/processor/trigger/kinesis/factory.go
  pkg/processor/trigger/mqtt/basic/factory.go
  pkg/processor/trigger/mqtt/iotcore/factory.go
  pkg/processor/trigger/nats/factory.go
  pkg/processor/trigger/partitioned/eventhub/factory.go
  pkg/processor/trigger/poller/v3ioitempoller/factory.go
  pkg/processor/trigger/pubsub/factory.go
  pkg/processor/trigger/rabbitmq/factory.go
  pkg/processor/trigger/registry.go
  pkg/processor/trigger/v3iostream/factory.go
  pkg/processor/worker/factory.go
  pkg/processor/worker/sync.go
Labels: long-ci-succeeded

#2286 Fix CI label job typos
  .github/labels.yaml
Labels: ci

#2284 Default ingress annotations
  hack/k8s/helm/nuclio/values.yaml
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/functionres/lazy_test.go
  pkg/platformconfig/types.go
Labels: configuration, kubernetes/helm, platform/kube

#2276 Python - add preceding "L" character for json parsing [1.5.x]
  Makefile
  pkg/logprocessing/logprocessing.go
  pkg/logprocessing/logprocessing_test.go
  pkg/logprocessing/types.go
  pkg/platform/abstract/platform.go
  pkg/platform/kube/test/platform_test.go
  pkg/processor/runtime/python/py/_nuclio_wrapper.py
  pkg/processor/runtime/python/py/requirements/common.txt
Labels: platform/kube, runtime/python

#2277 API Gateway - add needed header to allow STZ mechanism to work [1.5.x]
  go.mod
  go.sum
  pkg/platform/kube/apigatewayres/lazy.go
  pkg/platform/kube/apigatewayres/lazy_test.go
  pkg/platform/kube/test/platform_test.go
Labels: platform/kube

#2288 Fix default logger [1.5.x]
  pkg/processor/runtime/python/py/_nuclio_wrapper.py
Labels: runtime/python

#2289 Releaser - Validate Github token before releasing
  hack/scripts/releaser/releaser.go
Labels: releaser

#2290 Update jwt package for iotcore trigger
  go.mod
  go.sum
  pkg/processor/trigger/mqtt/iotcore/iotcore_test.go
  pkg/processor/trigger/mqtt/iotcore/trigger.go
Labels: long-ci-succeeded, trigger/mqtt

#2294 CI - test aginat Kubernetes 1.19
  .github/workflows/ci.yaml
  Makefile
  docs/devel/contributing.md
  docs/setup/minikube/getting-started-minikube.md
  pkg/platform/kube/monitoring/test/function_test.go
  pkg/platform/kube/test/suite.go
  test/docker/Dockerfile
Labels: platform/kube, docs, ci

#2296 Projects - update and fixes
  pkg/common/testutils/http.go
  pkg/common/url.go
  pkg/dashboard/resource/function.go
  pkg/dashboard/resource/project.go
  pkg/dashboard/test/server_test.go
  pkg/nuctl/command/common/renderers.go
  pkg/nuctl/command/create.go
  pkg/opa/http.go
  pkg/platform/abstract/project/external/leader/iguazio/client.go
  pkg/platform/abstract/project/external/leader/iguazio/client_test.go
  pkg/platform/abstract/project/external/leader/iguazio/synchronizer.go
  pkg/platform/abstract/project/external/leader/iguazio/types.go
  pkg/platform/kube/resourcescaler/test/resourcescaler_test.go
  pkg/platform/types.go
Labels: platform/kube, nuctl, dashboard/resources

#2302 UI: Git code entry: Enforce only one of Branch, Tag, Reference
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2304 OPA - log filtered out functions
  pkg/platform/abstract/platform.go
  pkg/platform/kube/client/getter.go
Labels: platform/kube

#2305 Function: support receiving pod priority and preemption policy
  docs/reference/function-configuration/function-configuration-reference.md
  pkg/functionconfig/types.go
  pkg/nuctl/command/deploy.go
  pkg/platform/kube/functionres/lazy.go
Labels: platform/kube, nuctl, configuration, docs

#2306 K8s helm chart - Add pod priority support
  hack/k8s/helm/nuclio/Chart.yaml
  hack/k8s/helm/nuclio/templates/deployment/autoscaler.yaml
  hack/k8s/helm/nuclio/templates/deployment/controller.yaml
  hack/k8s/helm/nuclio/templates/deployment/dashboard.yaml
  hack/k8s/helm/nuclio/templates/deployment/dlx.yaml
  hack/k8s/helm/nuclio/values.yaml
Labels: kubernetes/helm

#2307 UI: Pre-populate default node-selector entries and allow revert
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2308 Projects: code updates
  pkg/common/consts.go
  pkg/dashboard/auth/iguazio/auth.go
  pkg/dashboard/resource/apigateway.go
  pkg/dashboard/resource/function.go
  pkg/dashboard/resource/project.go
  pkg/nuctl/command/common/renderers.go
  pkg/nuctl/command/create.go
  pkg/nuctl/command/deploy.go
  pkg/nuctl/command/export.go
  pkg/nuctl/command/import.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/platform/abstract/project/external/client.go
  pkg/platform/abstract/project/external/client_test.go
  pkg/platform/kube/apigatewayres/lazy.go
  pkg/platform/kube/client/updater.go
  pkg/platform/kube/controller/apigateway.go
  pkg/platform/kube/controller/project.go
  pkg/platform/kube/ingress/ingress.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/test/suite.go
  pkg/platform/local/client/store.go
  pkg/platform/local/platform.go
  pkg/processor/build/builder.go
Labels: platform/kube, platform/local, nuctl, dashboard/resources

#2309 UI: Node Selector: Add validation rules to value
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2310 Projects - updates
  pkg/opa/factory.go
  pkg/opa/http.go
  pkg/opa/types.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/project/external/leader/iguazio/client.go
  pkg/platform/abstract/project/external/leader/iguazio/client_test.go
  pkg/platform/abstract/project/external/leader/iguazio/synchronizer.go
  pkg/platform/abstract/project/external/leader/iguazio/types.go
  pkg/platform/abstract/project/internalc/kube/kube.go
  pkg/platform/kube/apis/nuclio.io/v1beta1/types.go
  pkg/platform/kube/apis/nuclio.io/v1beta1/zz_generated.deepcopy.go
  pkg/platform/types.go
  pkg/platformconfig/platformconfig.go
Labels: platform/kube, configuration
