Repository nuclio/nuclio, pull requests merged in 2021-05, with the labels that each got.

#2187 Add default ingress annotations for scale to zero configurations [1.5.x]
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/functionres/lazy_test.go
  pkg/platformconfig/types.go
Labels: platform/kube

#2188 Add default ingress annotations for scale to zero configurations
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/functionres/lazy_test.go
  pkg/platformconfig/types.go
Labels: platform/kube

#2200 Support node selection constrains
  docs/reference/function-configuration/function-configuration-reference.md
  pkg/functionconfig/types.go
  pkg/nuctl/command/deploy.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/functionres/lazy_test.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/kube/test/suite.go
Labels: nuctl, platform/kube

#2183 Introducing RESTful function replica log streams endpoints
  cmd/dashboard/README.md
  go.mod
  go.sum
  pkg/cmdrunner/mock.go
  pkg/cmdrunner/shellrunner.go
  pkg/cmdrunner/shellrunner_test.go
  pkg/cmdrunner/types.go
  pkg/common/k8s.go
  pkg/dashboard/resource/function.go
  pkg/dashboard/server.go
  pkg/dockerclient/dockerclient.go
  pkg/dockerclient/mock.go
  pkg/dockerclient/shell.go
  pkg/dockerclient/types.go
  pkg/platform/kube/client/consumer.go
  pkg/platform/kube/client/deployer.go
  pkg/platform/kube/client/function.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/resourcescaler/resourcescaler.go
  pkg/platform/local/platform.go
  pkg/platform/local/test/platform_test.go
  pkg/platform/mock/platform.go
  pkg/platform/platform.go
  pkg/platform/types.go
  pkg/processor/webadmin/resource/triggers.go
  pkg/restful/resource.go
  pkg/restful/resource_test.go
  pkg/restful/server.go
Labels: platform/kube, platform/local

#2204 Releaser: migrate 1.1.x to Github actions
  hack/scripts/releaser/releaser.go
Labels: releaser

#2205 Configurable default function readiness timeout
  hack/k8s/helm/nuclio/values.yaml
  pkg/dashboard/resource/frontendspec.go
  pkg/nuctl/command/deploy.go
  pkg/platform/abstract/platform.go
  pkg/platform/kube/controller/nucliofunction.go
  pkg/platform/local/platform.go
  pkg/platformconfig/platformconfig.go
  pkg/platformconfig/platformconfig_test.go
  pkg/platformconfig/types.go
Labels: nuctl, platform/kube, platform/local

#2194 Project Sync - Add leader polling/synchronization loop
  pkg/common/map.go
  pkg/nuctl/test/project_test.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/project/external/client.go
  pkg/platform/abstract/project/external/client_test.go
  pkg/platform/abstract/project/external/leader/iguazio/client.go
  pkg/platform/abstract/project/external/leader/iguazio/helper.go
  pkg/platform/abstract/project/external/leader/iguazio/synchronizer.go
  pkg/platform/abstract/project/external/leader/iguazio/synchronizer_test.go
  pkg/platform/abstract/project/external/leader/iguazio/types.go
  pkg/platform/abstract/project/external/leader/mlrun/client.go
  pkg/platform/abstract/project/external/leader/mock/client.go
  pkg/platform/abstract/project/external/leader/types.go
  pkg/platform/abstract/project/mock/client.go
  pkg/platform/errors.go
  pkg/platform/factory/factory.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/project/client.go
  pkg/platform/kube/project/safecache.go
  pkg/platform/kube/project/safecache_test.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/local/platform.go
  pkg/platform/local/project/client.go
  pkg/platform/types.go
  pkg/platform/types_test.go
  pkg/platformconfig/platformconfig.go
  pkg/platformconfig/types.go
Labels: platform/kube, platform/local

#2208 Support async def init_context and handle
  pkg/processor/runtime/python/py/_nuclio_wrapper.py
  pkg/processor/runtime/python/py/test_wrapper.py
Labels: runtime/python

#2210 [docs] - Releaser README fixes
  hack/scripts/releaser/README.md
Labels: area/docs, releaser
