Repository nuclio/nuclio, pull requests merged in 2021-02, with the labels that each got.

#2080 Added log lines to controller resync flow
  pkg/platform/kube/apigatewayres/lazy.go
  pkg/platform/kube/controller/nucliofunction.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/functionres/lazy_test.go
  pkg/platform/kube/functionres/types.go
Labels: platform/kube

#2085 Fix kafka broken test
  pkg/processor/test/suite/suite.go
  pkg/processor/trigger/kafka/test/kafka_test.go
  pkg/processor/trigger/test/broker.go
Labels: long-ci-succeeded

#2086 Enhanced blasting tests
  go.mod
  go.sum
  pkg/processor/runtime/python/test/python_test.go
  pkg/processor/test/suite/suite.go
Labels: long-ci-succeeded, runtime/python

#2089 Skip python throughput test
  pkg/processor/runtime/python/test/python_test.go
Labels: runtime/python

#2090 Fix CI tests
  .dockerignore
  .gitignore
  Makefile
  pkg/platform/kube/monitoring/test/function_test.go
  pkg/platform/kube/test/suite.go
  pkg/processor/test/suite/suite.go
  pkg/processor/trigger/kafka/test/kafka_test.go
  pkg/processor/trigger/kinesis/test/kinesis_test.go
  pkg/processor/trigger/mqtt/basic/test/mqtt_test.go
  pkg/processor/trigger/test/broker.go
  test/docker/Dockerfile
  test/mqtt/artifacts/mosquitto.conf
Labels: long-ci-succeeded, platform/kube

#2094 UI: Remove "Python 2.7" and add "Python 3.7" and "Python 3.8"
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2087 Python 3.7, 3.8: Do not decode event strings to utf8 by default
  Makefile
  go.mod
  go.sum
  pkg/processor/build/runtime/python/test/python_test.go
  pkg/processor/runtime/python/py/_nuclio_wrapper.py
  pkg/processor/runtime/python/py/requirements/common.txt
  pkg/processor/runtime/python/py/requirements/dev.txt
  pkg/processor/runtime/python/py/requirements/python3_6.txt
  pkg/processor/runtime/python/py/requirements/python3_7.txt
  pkg/processor/runtime/python/py/requirements/python3_8.txt
  pkg/processor/runtime/python/py/test_wrapper.py
  pkg/processor/runtime/python/runtime.go
  pkg/processor/runtime/python/test/python_test.go
  pkg/processor/runtime/python/test/test.sh
  pkg/processor/runtime/rpc/encode_msgpack.go
  test/_functions/common/event-recorder/python/event_recorder.py
  test/_functions/common/event-returner/python/eventreturner.py
  test/_functions/common/json-parser-with-function-config/python/parser.py
  test/_functions/common/json-parser-with-inline-function-config/python/parser.py
Labels: long-ci-succeeded, runtime/python

#2096 FI CI test
  pkg/processor/build/runtime/python/test/python_test.go
  pkg/processor/runtime/python/test/python_test.go
Labels: long-ci-succeeded, runtime/python

#2095 Nuclio wrapper - set logger before init context
  pkg/processor/runtime/python/py/_nuclio_wrapper.py
Labels: long-ci-succeeded, runtime/python

#2100 Prefix onbuild python images
  Makefile
  pkg/processor/build/runtime/python/docker/onbuild/Dockerfile
  pkg/processor/runtime/python/py/requirements/python3_6.txt
  pkg/processor/runtime/python/py/requirements/python3_7.txt
  pkg/processor/runtime/python/py/requirements/python3_8.txt
Labels: runtime/python

#2101 Fix release and python onbuild - Phase 2
  .github/workflows/release.yaml
  Makefile
  pkg/processor/build/runtime/python/docker/onbuild/Dockerfile
Labels: runtime/python

#2106 UI: Bring back Host Path volume kind for local platform
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
  pkg/dashboard/ui/src/app/app.route.js
Labels: area/ui

#2107 UI: Function volumes: remove red asterisk from Read Only field
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2110 Fix releaser bump flag
  hack/scripts/releaser/releaser.go
Labels: releaser

#2113 Fix cron job integration test
  pkg/platform/kube/test/platform_test.go
  pkg/platform/kube/test/suite.go
Labels: platform/kube

#2111 Enable function container healthiness check by default for local platform
  pkg/nuctl/command/nuctl.go
  pkg/platform/local/platform.go
  pkg/platformconfig/platformconfig.go
  pkg/platformconfig/reader.go
  pkg/platformconfig/types.go
Labels: long-ci-succeeded, nuctl, platform/local

#2109 Offline pypi
  docs/tasks/configuring-a-platform.md
  hack/k8s/helm/nuclio/values.yaml
  pkg/functionconfig/types.go
  pkg/platform/abstract/platform.go
  pkg/platform/mock/platform.go
  pkg/platform/platform.go
  pkg/platformconfig/platformconfig.go
  pkg/processor/build/builder.go
  pkg/processor/build/runtime/python/runtime.go
  pkg/processor/build/runtime/python/test/python_test.go
  pkg/processor/build/runtime/runtime.go
  pkg/processor/build/test/build_test.go
  pkg/processor/trigger/http/test/suite/suite.go
  pkg/runtimeconfig/runtimeconfig.go
Labels: runtime/python

#2116 Support runtime specific build arguments
  docs/tasks/configuring-a-platform.md
  hack/k8s/helm/nuclio/values.yaml
  pkg/functionconfig/types.go
  pkg/platform/abstract/platform.go
  pkg/platform/mock/platform.go
  pkg/platform/platform.go
  pkg/platformconfig/platformconfig.go
  pkg/processor/build/builder.go
  pkg/processor/build/runtime/python/runtime.go
  pkg/processor/build/runtime/python/test/python_test.go
  pkg/processor/build/runtime/runtime.go
  pkg/processor/build/test/build_test.go
  pkg/processor/trigger/http/test/suite/suite.go
  pkg/runtimeconfig/runtimeconfig.go
Labels: long-ci-succeeded, runtime/python

#2114 Optimize function response serving
  go.mod
  go.sum
  pkg/processor/trigger/http/trigger.go
Labels: long-ci-succeeded

#2118 Releaser: conditional bumping version
  hack/scripts/releaser/releaser.go
Labels: releaser

#2120 Add annotations flag to nuctl deploy
  pkg/nuctl/command/deploy.go
  pkg/nuctl/test/function_test.go
Labels: nuctl

#2125 Nuctl - Log on create resource
  go.sum
  pkg/nuctl/command/create.go
Labels: nuctl

#2122 Add git code entry type (not including Azure Devops)
  docs/reference/function-configuration/code-entry-types.md
  docs/reference/function-configuration/function-configuration-reference.md
  pkg/processor/build/builder.go
  pkg/processor/build/builder_test.go
Labels: long-ci-succeeded
