Repository nuclio/nuclio, pull requests merged in 2021-03, with the labels that each got.

#2123 nuctl docs updates - Explaining function exposure and nodePorts
  docs/concepts/k8s/function-ingress.md
  docs/devel/coding-conventions.md
  docs/reference/nuctl/nuctl.md
  docs/reference/triggers/cron.md
  docs/reference/triggers/http.md
  docs/reference/triggers/kafka.md
  docs/setup/gke/getting-started-gke.md
  docs/setup/k8s/getting-started-k8s.md
  docs/setup/minikube/getting-started-minikube.md
  docs/tasks/deploying-functions.md
Labels: area/docs

#2128 Make controller resync interval configurable
  cmd/controller/app/controller.go
  cmd/controller/main.go
  hack/k8s/helm/nuclio/templates/deployment/controller.yaml
  hack/k8s/helm/nuclio/values.yaml
  pkg/platform/kube/controller/controller.go
  pkg/platform/kube/controller/nucliofunction.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/monitoring/test/function_test.go
  pkg/platform/kube/test/suite.go
Labels: platform/kube

#2130 Added controller integration test suite
  .golangci.yml
  hack/scripts/generate-crds/update-codegen.sh
  pkg/platform/kube/controller/controller.go
  pkg/platform/kube/controller/nucliofunction_test.go
  pkg/platform/kube/controller/test/controller_test.go
  pkg/platform/kube/test/suite.go
Labels: platform/kube

#2138 UI: Projects: Deprecate `spec.displayName`
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
  pkg/dashboard/ui/src/app/components/projects/project-table-row/project-table-row.component.js
  pkg/dashboard/ui/src/app/components/projects/project-table-row/project-table-row.tpl.html
  pkg/dashboard/ui/src/app/components/projects/projects.component.js
Labels: area/ui

#2144 Releaser: read github token from env
  hack/scripts/releaser/releaser.go
Labels: releaser

#2151 UI: Add "Git" option to function's "Code entry type"
  pkg/dashboard/ui/gulpfile.js
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui
