Repository nuclio/nuclio, pull requests merged in 2022-09, with the labels that each got.

#2665 Minor chart templates fixes
  hack/k8s/helm/nuclio/Chart.yaml
  hack/k8s/helm/nuclio/templates/secret/dashboard-opa.yml
Labels: kubernetes/helm

#2636 [UI] Redirect Nuclio UI back to MLRun UI when clicking on Projects
  pkg/dashboard/ui/package.json
  pkg/dashboard/ui/src/app/app.controller.js
  pkg/dashboard/ui/src/app/components/main-side-menu/main-side-menu.component.js
  pkg/dashboard/ui/src/app/components/main-side-menu/main-side-menu.tpl.html
  pkg/dashboard/ui/src/app/components/projects/projects.less
  pkg/dashboard/ui/src/app/components/views/app/main.tpl.html
Labels: area/ui

#2666 Bumb dashboard controls to 0.39.10
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2669 Local - pull image prior to creating function volume mount
  pkg/platform/local/platform.go
Labels: platform/local, platform

#2668 Kaniko - use workdir /kaniko
  hack/k8s/helm/nuclio/values.yaml
  pkg/containerimagebuilderpusher/kaniko.go
  pkg/containerimagebuilderpusher/types.go
  pkg/dashboard/server.go
  pkg/processor/build/builder.go
  pkg/restful/middleware/middleware.go
Labels: kubernetes/helm

#2670 Cache CI builder images
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  Makefile
  cmd/autoscaler/Dockerfile
  cmd/controller/Dockerfile
  cmd/dashboard/docker/Dockerfile
  cmd/dlx/Dockerfile
  cmd/processor/Dockerfile
  hack/docker/build/base-alpine/Dockerfile
  hack/docker/build/base/Dockerfile
  hack/docker/build/builder/Dockerfile
  pkg/processor/build/runtime/golang/docker/onbuild/Dockerfile
  pkg/processor/build/runtime/golang/docker/onbuild/Dockerfile.alpine
  test/docker/Dockerfile
Labels: runtime/golang, ci

#2673 Fix release
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  Makefile
Labels: ci

#2672 Fix Python unit test timings
  pkg/processor/runtime/python/py/_nuclio_wrapper.py
  pkg/processor/runtime/python/py/test_wrapper.py
Labels: runtime/python

#2675 Kafka - Decouple worker termination signal from explicit ack
  pkg/common/consts.go
  pkg/logprocessing/logprocessing.go
  pkg/processor/runtime/rpc/abstract.go
  pkg/processor/runtime/rpc/controlmessagebroker.go
  pkg/processor/trigger/kafka/trigger.go
Labels: trigger/kafka

#2676 CI - Fix release fails on pushing cache images
  .github/workflows/release.yaml
Labels: ci

#2677 Increase ingress readiness wait time to 2.5 minutes
  pkg/platform/kube/functionres/lazy.go
Labels: platform/kube, platform

#2681 Add Github issue templates
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation_improvement.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/setup_issue.yaml
Labels: ci

#2679 Kafka - Disable worker signaling before rebalance
  pkg/processor/runtime/rpc/abstract.go
  pkg/processor/trigger/kafka/test/kafka_test.go
  pkg/processor/trigger/kafka/trigger.go
  pkg/processor/trigger/kafka/types.go
  pkg/processor/worker/worker.go
Labels: trigger/kafka

#2682 CI - Run unit test with race-condition detection
  Makefile
  cmd/controller/app/controller.go
  cmd/dashboard/app/dashboard.go
  cmd/dashboard/app/dashboard_test.go
  cmd/dashboard/app/run.go
  pkg/cmdrunner/cmdrunner_test.go
  pkg/cmdrunner/shellrunner_test.go
  pkg/dashboard/test/server_test.go
  pkg/errgroup/errgroup_test.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/platform/kube/apigatewayres/lazy_test.go
  pkg/platform/kube/ingress/ingress.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/test/suite.go
  pkg/platform/mock/platform.go
  pkg/processor/runtime/rpc/abstract_test.go
  pkg/processor/runtime/rpc/rpc_test.go
  pkg/processor/runtime/shell/runtime_test.go
  pkg/processor/trigger/cron/cron_test.go
  pkg/processor/trigger/http/http_test.go
  pkg/processor/trigger/mqtt/iotcore/iotcore_test.go
  pkg/processor/trigger/rabbitmq/rabbitmq_test.go
Labels: platform/kube, runtime/shell, trigger/mqtt, platform, trigger/http, trigger/cron, trigger/rabbitmq

#2683 Bump v3io/scaler
  go.mod
  go.sum
  pkg/platform/kube/platform.go
  pkg/platform/kube/resourcescaler/resourcescaler.go
Labels: platform/kube, platform, go/modules

#2688 Bump Java SDK - 11 [1.6.x]
  docs/reference/runtimes/java/java-reference.md
  pkg/nuctl/test/function_test.go
  pkg/platform/kube/test/platform_test.go
  pkg/processor/build/runtime/java/docker/onbuild/Dockerfile
  pkg/processor/build/runtime/java/runtime.go
  pkg/processor/build/runtime/shell/runtime.go
  pkg/processor/runtime/java/build.gradle
  test/_functions/java/custom-gradle-script/build.gradle
Labels: platform/kube, runtime/java, runtime/shell, long-ci-failed, docs, platform

#2687 Local - Function to use platform defaults
  pkg/cmdrunner/shellrunner_test.go
  pkg/common/helper.go
  pkg/dockerclient/dockerclient.go
  pkg/dockerclient/mock.go
  pkg/dockerclient/shell.go
  pkg/platform/local/platform.go
  pkg/platform/local/test/platform_test.go
  pkg/platform/local/types.go
  pkg/platformconfig/types.go
  pkg/processor/runtime/shell/runtime_test.go
Labels: platform/local, runtime/shell, long-ci-succeeded, configuration, platform

#2689 Bump modules
  go.mod
  go.sum
Labels: go/modules

#2691 Fix resync in case time is zero-ed
  .github/workflows/ci.yaml
  Makefile
  pkg/platform/abstract/project/external/leader/iguazio/client.go
  pkg/platform/abstract/project/external/leader/iguazio/client_test.go
Labels: ci, platform

#2692 Local - few fixes
  pkg/platform/kube/platform.go
  pkg/platform/local/platform.go
  pkg/platformconfig/platformconfig.go
  pkg/platformconfig/types.go
Labels: platform/kube, platform/local, configuration, platform
