Repository nuclio/nuclio, pull requests merged in 2022-12, with the labels that each got.

#2721 Dashboard - Scrub function config and create secrets
  .run/dashboard [kube].run.xml
  docs/devel/local-development.md
  go.mod
  go.sum
  hack/k8s/helm/nuclio/values.yaml
  pkg/common/consts.go
  pkg/functionconfig/mask.go
  pkg/functionconfig/mask_test.go
  pkg/functionconfig/types.go
  pkg/platform/abstract/platform.go
  pkg/platform/kube/client/deployer.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/test/functional/platform_test.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/mock/platform.go
  pkg/platform/platform.go
  pkg/platform/types.go
  pkg/platformconfig/types.go
Labels: platform/kube, kubernetes/helm, configuration, docs, platform, go/modules

#2730 API Gateways - Support extra labels
  pkg/dashboard/test/server_test.go
  pkg/nuctl/command/create.go
  pkg/platform/kube/apigatewayres/lazy.go
  pkg/platform/kube/ingress/ingress.go
  pkg/platform/kube/ingress/types.go
  pkg/platform/types.go
Labels: platform/kube, nuctl, platform

#2733 Controller - Mount function secrets as volumes
  .run/(test_functional) build-kaniko.run.xml
  pkg/functionconfig/mask.go
  pkg/platform/kube/client/deployer.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/test/platform_test.go
Labels: platform/kube, configuration, platform

#2732 Cleanup evicted function pods
  cmd/controller/app/controller.go
  cmd/controller/main.go
  hack/k8s/helm/nuclio/templates/deployment/controller.yaml
  hack/k8s/helm/nuclio/values.yaml
  pkg/common/helper.go
  pkg/common/k8s.go
  pkg/platform/kube/controller/controller.go
  pkg/platform/kube/controller/controller_test.go
  pkg/platform/kube/controller/cronjobmonitoring.go
  pkg/platform/kube/controller/evictedpodsmonitoring.go
  pkg/platform/kube/controller/nucliofunction_test.go
  pkg/platform/kube/test/suite.go
Labels: platform/kube, kubernetes/helm, platform

#2736 Processor - Restore scrubbed fields in function config
  .run/dashboard [kube].run.xml
  cmd/processor/app/processor.go
  docs/reference/function-configuration/function-configuration-reference.md
  pkg/common/map.go
  pkg/containerimagebuilderpusher/kaniko.go
  pkg/platform/kube/functionres/lazy.go
  pkg/processor/build/builder.go
Labels: platform/kube, docs, platform

#2738 Fix sensitive fields typo in platform config
  .github/workflows/ci.yaml
  pkg/platformconfig/platformconfig.go
Labels: configuration, ci

#2739 Remove existing ingress and api gateway validation
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
  pkg/platform/kube/test/platform_test.go
Labels: platform/kube, platform

#2742 Update github workflows [1.9.x]
  .github/workflows/benchmark.yaml
  .github/workflows/ci.yaml
  .github/workflows/long_ci.yaml
  .github/workflows/periodic.yaml
  .github/workflows/pr_label.yaml
  .github/workflows/release.yaml
Labels: ci

#2743 Update github workflows [1.10.x]
  .github/workflows/benchmark.yaml
  .github/workflows/ci.yaml
  .github/workflows/long_ci.yaml
  .github/workflows/periodic.yaml
  .github/workflows/pr_label.yaml
  .github/workflows/release.yaml
Labels: ci

#2740 RabbitMQ - handle connection errors [1.9.x]
  cmd/processor/app/processor.go
  docs/reference/triggers/rabbitmq.md
  go.mod
  go.sum
  pkg/common/helper.go
  pkg/platform/local/client/store.go
  pkg/processor/test/suite/suite.go
  pkg/processor/timeout/timeout.go
  pkg/processor/trigger/rabbitmq/event.go
  pkg/processor/trigger/rabbitmq/factory.go
  pkg/processor/trigger/rabbitmq/test/rabbitmq_test.go
  pkg/processor/trigger/rabbitmq/trigger.go
  pkg/processor/trigger/rabbitmq/types.go
Labels: platform/local, docs, platform, go/modules, trigger/rabbitmq

#2744 Kaniko - Retry extracting image filesystem
  hack/k8s/helm/nuclio/templates/deployment/dashboard.yaml
  hack/k8s/helm/nuclio/values.yaml
  pkg/containerimagebuilderpusher/kaniko.go
  pkg/containerimagebuilderpusher/types.go
Labels: kubernetes/helm

#2741 RabbitMQ - handle connection errors [1.10.x]
  cmd/processor/app/processor.go
  docs/reference/triggers/rabbitmq.md
  go.mod
  go.sum
  pkg/common/helper.go
  pkg/platform/local/client/store.go
  pkg/processor/test/suite/suite.go
  pkg/processor/timeout/timeout.go
  pkg/processor/trigger/rabbitmq/event.go
  pkg/processor/trigger/rabbitmq/factory.go
  pkg/processor/trigger/rabbitmq/test/rabbitmq_test.go
  pkg/processor/trigger/rabbitmq/trigger.go
  pkg/processor/trigger/rabbitmq/types.go
Labels: platform/local, docs, platform, go/modules, trigger/rabbitmq

#2746 Function config secret fixes
  cmd/processor/app/processor.go
  pkg/dashboard/resource/function.go
  pkg/functionconfig/mask.go
  pkg/functionconfig/types.go
  pkg/platform/kube/client/deployer.go
  pkg/platform/kube/functionres/lazy.go
Labels: platform/kube, configuration, dashboard/resources, platform

#2747 Mark sensitive fields regex with end of string
  pkg/functionconfig/mask_test.go
  pkg/platformconfig/types.go
Labels: configuration

#2745 Fix [UI] services screen is broken
  pkg/dashboard/ui/package.json
Labels: bug, area/ui

#2749 Enrich nil service type in http trigger
  pkg/platform/kube/platform.go
  pkg/platform/kube/test/platform_test.go
Labels: platform/kube, platform

#2748 Remove "has-secret" annotation
  cmd/processor/app/processor.go
  pkg/dashboard/resource/function.go
  pkg/functionconfig/types.go
  pkg/platform/kube/client/deployer.go
  pkg/platform/kube/functionres/lazy.go
Labels: platform/kube, configuration, dashboard/resources, platform

#2750 Don't remove reference prefix when encoding secret map
  cmd/processor/app/processor.go
  pkg/functionconfig/mask.go
  pkg/functionconfig/mask_test.go
  pkg/platform/kube/client/deployer.go
  pkg/platform/kube/test/platform_test.go
Labels: platform/kube, configuration, platform

#2751 Local - increase default healthcheck to 10s
  cmd/dashboard/docker/Dockerfile
  docs/reference/runtimes/dotnetcore/dotnetcore-reference.md
  docs/reference/runtimes/golang/golang-reference.md
  docs/reference/runtimes/java/java-reference.md
  docs/reference/runtimes/nodejs/nodejs-reference.md
  docs/reference/runtimes/python/python-reference.md
  docs/tasks/deploy-functions-from-dockerfile.md
  pkg/processor/build/builder.go
  pkg/processor/build/test/build_test.go
Labels: docs

#2756 Refactor platform secret handling and add attributes to sensitive fields
  pkg/functionconfig/mask_test.go
  pkg/platform/abstract/platform.go
  pkg/platform/kube/client/deployer.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/local/platform.go
  pkg/platform/mock/platform.go
  pkg/platform/platform.go
  pkg/platformconfig/types.go
Labels: platform/kube, platform/local, configuration, platform

#2755 Local - configurable healthcheck intervals
  docs/reference/function-configuration/function-configuration-reference.md
  pkg/processor/build/builder.go
  pkg/processor/build/test/build_test.go
Labels: docs

#2752 Ruby - some updates
  pkg/processor/runtime/ruby/runtime.go
  pkg/processor/runtime/ruby/test/outputter/outputter.rb
  pkg/processor/runtime/ruby/test/ruby_test.go
  pkg/processor/runtime/ruby/wrapper.rb
Labels: runtime/ruby

#2758 Local - reduce misleading error log lines
  pkg/cmdrunner/shellrunner.go
  pkg/cmdrunner/types.go
  pkg/dashboard/resource/functiontemplate.go
  pkg/dockerclient/shell.go
  pkg/functionconfig/types.go
  pkg/nuctl/test/apigagteway_test.go
  pkg/platform/local/client/store.go
Labels: platform/local, long-ci-succeeded, configuration, dashboard/resources, platform

#2759 Bump dependencies
  go.mod
  go.sum
  pkg/nuctl/command/invoke.go
  pkg/processor/trigger/nats/event.go
Labels: nuctl, long-ci-succeeded, go/modules, trigger/nats

#2760 Dependencies - bump cobra for nuctl cli
  go.mod
  go.sum
Labels: go/modules

#2757 Refactor autoscale metric spec
  pkg/dashboard/resource/frontendspec.go
  pkg/dashboard/test/server_test.go
  pkg/functionconfig/types.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/functionres/lazy_test.go
  pkg/platformconfig/platformconfig.go
Labels: platform/kube, configuration, dashboard/resources, platform

#2761 Override existing secret map with the new one
  pkg/functionconfig/mask.go
  pkg/platform/kube/client/deployer.go
  pkg/platform/kube/test/platform_test.go
Labels: platform/kube, configuration, platform

#2762 Fix flex volume secrets issues
  pkg/functionconfig/mask.go
  pkg/platform/kube/client/deployer.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/functionres/lazy_test.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/test/platform_test.go
Labels: platform/kube, configuration, platform

#2764 Set v3io session key header as sensitive field
  pkg/functionconfig/mask_test.go
  pkg/platformconfig/types.go
Labels: configuration

#2768 Docs - Improve ECR docs
  docs/setup/k8s/running-in-production-k8s.md
Labels: docs

#2770 Move flex volume sub path enrichment to dashboard
  pkg/platform/abstract/platform.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/test/platform_test.go
Labels: platform/kube, platform

#2769 Populate function status with image name
  docs/reference/function-configuration/function-configuration-reference.md
  pkg/functionconfig/types.go
  pkg/platform/kube/controller/nucliofunction.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/types.go
Labels: platform/kube, configuration, docs, platform

#2771 Add default window size presets
  pkg/dashboard/resource/frontendspec.go
  pkg/platformconfig/platformconfig.go
Labels: configuration, dashboard/resources

#2772 Fix iguazio project creation failure handling
  pkg/platform/abstract/project/external/leader/iguazio/client.go
  pkg/platform/abstract/project/external/leader/iguazio/client_test.go
Labels: platform
