Repository nuclio/nuclio, pull requests merged in 2022-04, with the labels that each got.

#2531 Golang - do not pin patch version
  hack/docker/build/base-alpine/Dockerfile
  hack/docker/build/base/Dockerfile
  hack/docker/build/builder/Dockerfile
  pkg/processor/build/runtime/golang/docker/onbuild/Dockerfile
  pkg/processor/build/runtime/golang/docker/onbuild/Dockerfile.alpine
Labels: runtime/golang

#2536 Bump dashboard controls version 0.38.7
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2535 Fail deployments on stuck kaniko job pods
  pkg/containerimagebuilderpusher/kaniko.go
  pkg/containerimagebuilderpusher/types.go
  pkg/nuctl/command/deploy.go
  pkg/platform/kube/controller/nucliofunction.go
  pkg/platformconfig/platformconfig.go
  pkg/processor/build/builder.go
Labels: platform/kube, nuctl, configuration, platform

#2538 Preemption - fix potential bug when setting mode to prevent
  pkg/platform/kube/platform.go
Labels: platform/kube, platform

#2539 Enhance function lazy create or update
  pkg/platform/kube/client/updater.go
  pkg/platform/kube/controller/nucliofunction.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/monitoring/function.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/test/platform_test.go
Labels: platform/kube, platform

#2540 Preemptible nodes - allow opting out by using none
  pkg/functionconfig/types.go
  pkg/platform/kube/platform.go
Labels: platform/kube, configuration, platform

#2541 Preemption mode - fix changing from constraint to prevent when having tolerations
  pkg/functionconfig/types.go
  pkg/platform/kube/platform_test.go
Labels: platform/kube, configuration, platform

#2543 Bump dashboard-controls version 0.38.8
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2544 Increase cluster autoscale wait time
  pkg/platform/kube/controller/nucliofunction.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/functionres/types.go
Labels: platform/kube, platform

#2545 Ingress - improve resource creation waiting
  pkg/platform/kube/controller/nucliofunction.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/functionres/lazy_test.go
  pkg/platform/kube/functionres/types.go
Labels: platform/kube, platform

#2547 Bump Dashboard-controls to 0.38.9
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2550 Impl [Nuclio] Add versioning for i18n
  pkg/dashboard/ui/package.json
  pkg/dashboard/ui/src/app/app.run.js
  pkg/dashboard/ui/src/app/components/header/header.component.js
Labels: area/ui

#2552 Bump dashboard-controls version 0.38.10
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2549 Enrich function spec with default container resources
  pkg/platform/abstract/platform.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/functionres/lazy_test.go
  pkg/platform/kube/test/platform_test.go
  pkg/platformconfig/platformconfig.go
  pkg/platformconfig/platformconfig_test.go
Labels: platform/kube, configuration, platform

#2553 Check deployment and ingress readiness before readiness timeout
  pkg/platform/kube/functionres/lazy.go
Labels: platform/kube, platform

#2555 Increase default function readiness timeout
  pkg/dashboard/test/server_test.go
  pkg/platformconfig/types.go
Labels: configuration

#2554 Kubernetes - tweak function availability wait
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/monitoring/function.go
  pkg/platform/kube/monitoring/test/function_test.go
  pkg/platform/kube/test/suite.go
Labels: platform/kube, platform
