Repository nuclio/nuclio, pull requests merged in 2022-02, with the labels that each got.

#2462 Enhanced function pod / cron job resources enrichment
  hack/k8s/helm/nuclio/values.yaml
  pkg/common/helper.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/functionres/lazy_test.go
  pkg/platformconfig/types.go
Labels: platform/kube, kubernetes/helm, configuration, platform

#2466 Bump dashboard controls version
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2469 Update Kubernetes API batch to v1
  .run/(test_kube) platform_local.run.xml
  pkg/common/helper.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/functionres/types.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/kube/test/suite.go
Labels: platform/kube, platform

#2465 Bump dependencies
  go.mod
  go.sum
  pkg/processor/trigger/cron/cron_test.go
  pkg/processor/trigger/cron/test/cron_test.go
  pkg/processor/trigger/cron/trigger.go
  pkg/processor/trigger/v3iostream/types.go
Labels: long-ci-succeeded, go/modules, trigger/v3iostream, trigger/cron

#2470 Fix ci import project test transient errors
  pkg/nuctl/command/import.go
Labels: nuctl

#2471 CI - test against Kubernetes 1.22
  .github/workflows/ci.yaml
  pkg/platform/kube/monitoring/function.go
  pkg/platform/kube/monitoring/test/function_test.go
  pkg/processor/test/suite/suite.go
Labels: platform/kube, ci, platform

#2472 Log Kubernetes server warnings nicely
  .golangci.yml
  cmd/autoscaler/app/autoscaler.go
  cmd/controller/app/controller.go
  cmd/dashboard/app/run.go
  cmd/dlx/app/dlx.go
  pkg/common/k8s.go
  pkg/platform/kube/monitoring/test/function_test.go
  pkg/platform/kube/test/suite.go
Labels: platform/kube, platform

#2473 Allow support for functions to run on preemptible nodes
  pkg/functionconfig/types.go
  pkg/platform/kube/platform.go
  pkg/platformconfig/types.go
Labels: platform/kube, configuration, platform

#2474 Allow support for function pods to run on preemptible nodes part 2
  pkg/functionconfig/types.go
  pkg/platform/kube/platform.go
  pkg/platformconfig/types.go
Labels: platform/kube, configuration, platform

#2475 Preemptible mode - fixes and refining
  pkg/functionconfig/types.go
  pkg/platform/kube/platform.go
Labels: platform/kube, configuration, platform

#2456 Add get stream shard lags endpoint
  cmd/dashboard/README.md
  cmd/dashboard/app/run.go
  cmd/dashboard/main.go
  hack/k8s/helm/nuclio/templates/deployment/dashboard.yaml
  hack/k8s/helm/nuclio/values.yaml
  pkg/common/v3io/v3io.go
  pkg/dashboard/auth/iguazio/auth.go
  pkg/dashboard/auth/iguazio/auth_test.go
  pkg/dashboard/auth/nop/auth.go
  pkg/dashboard/auth/types.go
  pkg/dashboard/resource/apigateway.go
  pkg/dashboard/resource/externalipaddresses.go
  pkg/dashboard/resource/frontendspec.go
  pkg/dashboard/resource/function.go
  pkg/dashboard/resource/functionevent.go
  pkg/dashboard/resource/functiontemplate.go
  pkg/dashboard/resource/invocation.go
  pkg/dashboard/resource/namespaces.go
  pkg/dashboard/resource/project.go
  pkg/dashboard/resource/resource.go
  pkg/dashboard/resource/v3iostream.go
  pkg/platformconfig/platformconfig.go
  pkg/platformconfig/types.go
Labels: kubernetes/helm, configuration, dashboard/resources

#2476 Rename v3io request concurrency
  cmd/dashboard/README.md
  pkg/common/v3io/v3io.go
  pkg/platformconfig/platformconfig.go
  pkg/platformconfig/types.go
Labels: configuration

#2482 Fix getting preemption mode from annotation
  pkg/platform/kube/platform.go
Labels: platform/kube, platform

#2485 Add deprecation warnings when deploying a function with python 3.6
  pkg/platform/kube/test/platform_test.go
  pkg/processor/build/runtime/python/runtime.go
  pkg/processor/runtime/python/runtime.go
Labels: platform/kube, runtime/python, platform

#2488 Bump dashboard controls
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2484 V3IO-Stream trigger - Shard Retention
  cmd/processor/app/processor.go
  cmd/processor/app/processor_test.go
  go.mod
  go.sum
  pkg/processor/trigger/cron/factory.go
  pkg/processor/trigger/cron/trigger.go
  pkg/processor/trigger/http/factory.go
  pkg/processor/trigger/http/trigger.go
  pkg/processor/trigger/kafka/factory.go
  pkg/processor/trigger/kafka/trigger.go
  pkg/processor/trigger/kickstart/factory.go
  pkg/processor/trigger/kickstart/trigger.go
  pkg/processor/trigger/kinesis/factory.go
  pkg/processor/trigger/kinesis/trigger.go
  pkg/processor/trigger/mqtt/basic/factory.go
  pkg/processor/trigger/mqtt/basic/trigger.go
  pkg/processor/trigger/mqtt/iotcore/factory.go
  pkg/processor/trigger/mqtt/iotcore/trigger.go
  pkg/processor/trigger/mqtt/trigger.go
  pkg/processor/trigger/nats/factory.go
  pkg/processor/trigger/nats/trigger.go
  pkg/processor/trigger/partitioned/eventhub/factory.go
  pkg/processor/trigger/partitioned/eventhub/trigger.go
  pkg/processor/trigger/partitioned/trigger.go
  pkg/processor/trigger/poller/trigger.go
  pkg/processor/trigger/poller/v3ioitempoller/factory.go
  pkg/processor/trigger/poller/v3ioitempoller/trigger.go
  pkg/processor/trigger/pubsub/factory.go
  pkg/processor/trigger/pubsub/trigger.go
  pkg/processor/trigger/rabbitmq/factory.go
  pkg/processor/trigger/rabbitmq/trigger.go
  pkg/processor/trigger/registry.go
  pkg/processor/trigger/trigger.go
  pkg/processor/trigger/v3iostream/factory.go
  pkg/processor/trigger/v3iostream/test/v3iostream_test.go
  pkg/processor/trigger/v3iostream/trigger.go
Labels: trigger/mqtt, go/modules, trigger/v3iostream, trigger/kafka, trigger/http, trigger/cron, trigger/partitioned, trigger/kinesis, trigger/nats, trigger/pubsub, trigger/rabbitmq, trigger/kickstart, trigger/poller

#2493 Bump dashboard controls version
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2492 Fix helm chart external ip address resolution
  hack/k8s/helm/nuclio/Chart.yaml
  hack/k8s/helm/nuclio/templates/_helpers.tpl
  hack/k8s/helm/nuclio/templates/deployment/controller.yaml
  hack/k8s/helm/nuclio/templates/deployment/dashboard.yaml
  pkg/platform/kube/platform.go
Labels: platform/kube, kubernetes/helm, platform

#2496 Fix function / apigw ownership not being populated
  pkg/platform/abstract/platform.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
Labels: platform/kube, platform

#2494 Support updating apigateways via specific route
  cmd/dashboard/README.md
  pkg/dashboard/resource/apigateway.go
  pkg/dashboard/test/server_test.go
Labels: dashboard/resources

#2498 Helm - accept kaniko init container image name [1.6.x]
  hack/k8s/helm/nuclio/Chart.yaml
  hack/k8s/helm/nuclio/templates/deployment/dashboard.yaml
  hack/k8s/helm/nuclio/values.yaml
Labels: kubernetes/helm

#2499 Helm - accept kaniko init container image name
  hack/k8s/helm/nuclio/Chart.yaml
  hack/k8s/helm/nuclio/templates/deployment/dashboard.yaml
  hack/k8s/helm/nuclio/values.yaml
Labels: kubernetes/helm

#2500 Releaser - fix releasing helm chart
  hack/scripts/releaser/README.md
  hack/scripts/releaser/releaser.go
Labels: releaser
