Repository nuclio/nuclio, pull requests merged in 2022-08, with the labels that each got.

#2630 Fix bug in enrich env vars
  pkg/platform/abstract/platform.go
Labels: platform

#2631 V3io stream trigger - change worker allocation mode via annotations
  pkg/processor/trigger/v3iostream/types.go
Labels: trigger/v3iostream

#2627 Kafka trigger - support explicit ack
  cmd/processor/app/processor.go
  docs/reference/triggers/kafka.md
  pkg/processor/controlcommunication/types.go
  pkg/processor/runtime/python/py/_nuclio_wrapper.py
  pkg/processor/runtime/python/py/requirements/common.txt
  pkg/processor/runtime/rpc/abstract.go
  pkg/processor/runtime/rpc/abstract_test.go
  pkg/processor/runtime/rpc/controlmessagebroker.go
  pkg/processor/runtime/types.go
  pkg/processor/trigger/kafka/test/kafka_test.go
  pkg/processor/trigger/kafka/trigger.go
  pkg/processor/trigger/trigger.go
  pkg/processor/types.go
  pkg/processor/worker/worker.go
  test/_functions/python/kafka-explicit-ack/explicitacker.py
Labels: runtime/python, long-ci-succeeded, docs, trigger/kafka

#2632 V3IO stream trigger - support explicit ack
  docs/reference/triggers/kafka.md
  docs/reference/triggers/v3iostream.md
  pkg/processor/trigger/kafka/test/kafka_test.go
  pkg/processor/trigger/test/broker.go
  pkg/processor/trigger/v3iostream/test/v3iostream_test.go
  pkg/processor/trigger/v3iostream/trigger.go
  test/_functions/python/kafka-explicit-ack/explicitacker.py
Labels: docs, trigger/v3iostream, trigger/kafka

#2633 TestTimeout - increase timeout and sleep time
  pkg/processor/runtime/python/test/timeout_test.go
Labels: runtime/python

#2640 Api gateway docs - fix ui screenshots
  docs/assets/images/api-gateway-ui-basic-auth.png
  docs/assets/images/api-gateway-ui-none.png
  docs/assets/images/api-gateway-ui.png
  docs/reference/api-gateway/ui.md
Labels: docs

#2641 Bump Go Modules
  go.mod
  go.sum
  hack/scripts/releaser/releaser.go
  pkg/dashboard/functiontemplates/generator/generator.go
  pkg/processor/build/builder.go
  pkg/processor/build/inlineparser/jarparser.go
  pkg/processor/build/inlineparser/parser.go
  pkg/processor/trigger/kafka/test/kafka_test.go
  pkg/processor/trigger/test/eventrecorder.go
  pkg/processor/trigger/v3iostream/test/v3iostream_test.go
Labels: long-ci-succeeded, releaser, go/modules, trigger/v3iostream, trigger/kafka

#2643 Update stream trigger docs with QualifiedOffset
  docs/reference/triggers/kafka.md
  docs/reference/triggers/v3iostream.md
Labels: docs

#2646 Kafka - Enrich runtime configuration with worker termination timeout
  pkg/processor/trigger/kafka/types.go
Labels: trigger/kafka

#2650 Platform - default service account for function and kaniko pods
  pkg/containerimagebuilderpusher/kaniko.go
  pkg/containerimagebuilderpusher/types.go
  pkg/dashboard/resource/frontendspec.go
  pkg/platform/kube/platform.go
  pkg/platformconfig/types.go
  pkg/processor/build/builder.go
Labels: platform/kube, configuration, dashboard/resources, platform

#2652 Format build tags above copyright
  pkg/auth/iguazio/auth_test.go
  pkg/context/detached_test.go
  pkg/platform/abstract/project/external/client_test.go
  pkg/platform/abstract/project/external/leader/iguazio/client_test.go
  pkg/platform/abstract/project/external/leader/iguazio/synchronizer_test.go
  pkg/platform/types_test.go
Labels: platform

#2655 CI - Add copyright license checker
  .github/workflows/ci.yaml
  .licenserc.json
Labels: ci

#2654 Format shebang above copyright disclaimer
  cmd/dashboard/docker/runner.sh
  cmd/dashboard/docker/runners/dashboard.sh
  cmd/dashboard/docker/runners/nginx.sh
  hack/scripts/ci/free-space.sh
  hack/scripts/minikube/push_images.py
  test/k8s/ci_assets/install_nginx_ingress_controller.sh
  test/k8s/ci_assets/install_nuclio_crds.sh
Labels: ci

#2644 [Dashboard] fetch templates on build time
  cmd/dashboard/docker/Dockerfile
  cmd/dashboard/main.go
  hack/k8s/helm/nuclio/Chart.yaml
  hack/k8s/helm/nuclio/templates/deployment/dashboard.yaml
  hack/k8s/helm/nuclio/values.yaml
Labels: kubernetes/helm

#2658 Local - no need to volumize /tmp when running nuclio with docker
  README.md
  pkg/platform/local/platform.go
  pkg/platform/local/types.go
Labels: platform/local, platform

#2660 Fix security context test failure on docker platform
  pkg/nuctl/test/function_test.go
  pkg/processor/build/runtime/shell/runtime.go
Labels: runtime/shell

#2661 Bump indirect modules
  go.mod
  go.sum
Labels: go/modules

#2664 Fix cron job deletion
  pkg/platform/kube/controller/cronjobmonitoring.go
Labels: platform/kube, platform
