Repository nuclio/nuclio, pull requests merged in 2022-11, with the labels that each got.

#2693 Kafka - use latest sarama
  go.mod
  go.sum
  pkg/cmdrunner/shellrunner.go
  pkg/cmdrunner/shellrunner_test.go
  pkg/processor/trigger/kafka/trigger.go
  pkg/processor/trigger/kafka/types.go
  pkg/processor/trigger/v3iostream/trigger.go
Labels: long-ci-succeeded, go/modules, trigger/v3iostream, trigger/kafka

#2707 Bump to 1.11.0
  hack/k8s/helm/nuclio/Chart.yaml
  hack/k8s/helm/nuclio/values.yaml
Labels: kubernetes/helm

#2705 Fix [UI] Vulnerability Fixes
  cmd/dashboard/docker/Dockerfile
  pkg/dashboard/ui/README.md
  pkg/dashboard/ui/gulpfile.js
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
  pkg/dashboard/ui/resources/previewServer/package.json
Labels: bug, area/ui

#2708 Remedy vulnerabilities
  Makefile
  go.mod
  go.sum
  hack/scripts/generate-crds/Dockerfile
  hack/scripts/generate-crds/tools.go
  hack/scripts/generate-crds/update-codegen.sh
  pkg/processor/trigger/mqtt/iotcore/trigger.go
  pkg/processor/trigger/nats/event.go
  pkg/processor/trigger/nats/test/nats_test.go
  pkg/processor/trigger/nats/trigger.go
Labels: trigger/mqtt, go/modules, trigger/nats

#2714 RabbitMQ - handle connection errors
  cmd/processor/app/processor.go
  docs/reference/triggers/rabbitmq.md
  go.mod
  go.sum
  pkg/common/helper.go
  pkg/platform/local/client/store.go
  pkg/processor/test/suite/suite.go
  pkg/processor/timeout/timeout.go
  pkg/processor/trigger/rabbitmq/event.go
  pkg/processor/trigger/rabbitmq/factory.go
  pkg/processor/trigger/rabbitmq/test/rabbitmq_test.go
  pkg/processor/trigger/rabbitmq/trigger.go
  pkg/processor/trigger/rabbitmq/types.go
Labels: platform/local, long-ci-succeeded, docs, platform, go/modules, trigger/rabbitmq

#2703 Modify dotnetcore wrapper to make it invoke InitContext()
  pkg/processor/runtime/dotnetcore/Wrapper.cs
  pkg/processor/runtime/dotnetcore/test/_outputter/outputter.cs
  pkg/processor/runtime/dotnetcore/test/dotnetcore_test.go
Labels: long-ci-succeeded, runtime/dotnetcore

#2717 RabbitMQ - handle connection errors [1.8.x]
  cmd/processor/app/processor.go
  docs/reference/triggers/rabbitmq.md
  go.mod
  go.sum
  pkg/common/helper.go
  pkg/platform/local/client/store.go
  pkg/processor/test/suite/suite.go
  pkg/processor/timeout/timeout.go
  pkg/processor/trigger/rabbitmq/event.go
  pkg/processor/trigger/rabbitmq/factory.go
  pkg/processor/trigger/rabbitmq/test/rabbitmq_test.go
  pkg/processor/trigger/rabbitmq/trigger.go
  pkg/processor/trigger/rabbitmq/types.go
Labels: platform/local, long-ci-failed, docs, platform, go/modules, trigger/rabbitmq

#2716 Nuclio Secrets - Mask package
  go.mod
  go.sum
  pkg/functionconfig/mask.go
  pkg/functionconfig/mask_test.go
  pkg/platformconfig/platformconfig.go
  pkg/platformconfig/types.go
Labels: configuration, go/modules

#2718 Update github workflows
  .github/workflows/benchmark.yaml
  .github/workflows/ci.yaml
  .github/workflows/long_ci.yaml
  .github/workflows/periodic.yaml
  .github/workflows/pr_label.yaml
  .github/workflows/release.yaml
Labels: ci

#2720 Update go.sum
  go.sum
Labels: go/modules

#2723 Add Autoscale metrics to function and frontend spec
  pkg/dashboard/resource/frontendspec.go
  pkg/dashboard/test/server_test.go
  pkg/functionconfig/types.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/functionres/lazy_test.go
  pkg/platformconfig/platformconfig.go
Labels: platform/kube, configuration, dashboard/resources, platform
