Repository nuclio/nuclio, pull requests merged in 2022-07, with the labels that each got.

#2599 Add ExplicitAckMode to Trigger config
  pkg/functionconfig/types.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/processor/trigger/kafka/types.go
Labels: configuration, platform, trigger/kafka

#2603 Add kafka rebalance integration test
  pkg/processor/trigger/kafka/test/kafka_test.go
Labels: trigger/kafka

#2601 Python wrapper - support async socket communication
  pkg/processor/runtime/python/py/_nuclio_wrapper.py
Labels: runtime/python, long-ci-succeeded

#2604 Bump kubernetes client to v1.23
  go.mod
  go.sum
  pkg/platform/kube/apis/nuclio.io/v1beta1/zz_generated.deepcopy.go
  pkg/platform/kube/client/clientset/versioned/clientset.go
  pkg/platform/kube/client/clientset/versioned/fake/clientset_generated.go
  pkg/platform/kube/client/clientset/versioned/typed/nuclio.io/v1beta1/fake/fake_nuclioapigateway.go
  pkg/platform/kube/client/clientset/versioned/typed/nuclio.io/v1beta1/fake/fake_nucliofunction.go
  pkg/platform/kube/client/clientset/versioned/typed/nuclio.io/v1beta1/fake/fake_nucliofunctionevent.go
  pkg/platform/kube/client/clientset/versioned/typed/nuclio.io/v1beta1/fake/fake_nuclioproject.go
  pkg/platform/kube/client/clientset/versioned/typed/nuclio.io/v1beta1/nuclio.io_client.go
  pkg/platform/kube/functionres/lazy.go
Labels: platform/kube, platform, go/modules

#2605 Kaniko builder - push to ECR with EC2 instance profile
  docs/setup/k8s/running-in-production-k8s.md
  hack/k8s/helm/nuclio/Chart.yaml
  hack/k8s/helm/nuclio/templates/deployment/dashboard.yaml
  hack/k8s/helm/nuclio/values.yaml
  pkg/containerimagebuilderpusher/kaniko.go
  pkg/containerimagebuilderpusher/types.go
Labels: kubernetes/helm, docs

#2613 [Docs] - ECR with EC2 IAM policy
  docs/setup/k8s/running-in-production-k8s.md
Labels: docs

#2612 Introducing Functional test
  .github/workflows/ci.yaml
  .golangci.yml
  .run/(test_functional) build-kaniko.run.xml
  Makefile
  docs/devel/contributing.md
  hack/k8s/helm/nuclio/templates/ingress/dashboard.yaml
  hack/k8s/helm/nuclio/values.yaml
  pkg/cmdrunner/mock.go
  pkg/cmdrunner/shellrunner.go
  pkg/cmdrunner/types.go
  pkg/platform/kube/test/functional/platform_test.go
  pkg/platform/kube/test/kubectlclient/kubectlclient.go
  pkg/platform/kube/test/kubectlclient/types.go
  pkg/platform/kube/test/suite.go
  pkg/processor/test/suite/suite.go
  pkg/processor/trigger/http/test/suite/suite.go
  test/k8s/ci_assets/helm_values.yaml
Labels: platform/kube, kubernetes/helm, docs, ci, platform, trigger/http

#2615 Fix Kafka integration tests
  pkg/processor/trigger/kafka/test/kafka_test.go
Labels: long-ci-succeeded, trigger/kafka

#2618 Fix kafka trigger worker termination timeout enrichment
  pkg/functionconfig/types.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/processor/trigger/kafka/types.go
Labels: configuration, platform, trigger/kafka

#2617 [Docs] Add api gateways documentation
  docs/assets/images/api-gateway-ui-basic-auth.png
  docs/assets/images/api-gateway-ui.png
  docs/reference/api-gateway/http.md
  docs/reference/api-gateway/main.md
  docs/reference/api-gateway/nuctl.md
  docs/reference/api-gateway/ui.md
Labels: docs

#2622 Revert #2603 - Kafka rebalance tests
  pkg/processor/trigger/kafka/test/kafka_test.go
  pkg/processor/trigger/test/eventrecorder.go
Labels: long-ci-succeeded, trigger/kafka

#2609 Introduce control communication
  pkg/common/consts.go
  pkg/logprocessing/logprocessing.go
  pkg/processor/controlcommunication/controlmessageevent.go
  pkg/processor/controlcommunication/types.go
  pkg/processor/runtime/dotnetcore/runtime.go
  pkg/processor/runtime/java/runtime.go
  pkg/processor/runtime/nodejs/runtime.go
  pkg/processor/runtime/python/py/_nuclio_wrapper.py
  pkg/processor/runtime/python/py/test_wrapper.py
  pkg/processor/runtime/python/runtime.go
  pkg/processor/runtime/rpc/abstract.go
  pkg/processor/runtime/rpc/abstract_test.go
  pkg/processor/runtime/rpc/controlmessagebroker.go
  pkg/processor/runtime/rpc/runtime.go
  pkg/processor/runtime/ruby/runtime.go
  pkg/processor/runtime/runtime.go
  pkg/processor/worker/worker.go
  pkg/processor/worker/worker_test.go
Labels: runtime/python, runtime/golang, runtime/java, runtime/shell, runtime/nodejs, long-ci-succeeded, runtime/dotnetcore, runtime/ruby, trigger/kafka

#2629 Remove CatchAndLogPanic wrapper function
  pkg/common/helper.go
  pkg/platform/kube/operator/multiworker.go
  pkg/processor/runtime/rpc/abstract.go
  pkg/processor/trigger/http/test/suite/suite.go
  pkg/restful/resource.go
Labels: platform/kube, long-ci-succeeded, platform, trigger/http
