Repository nuclio/nuclio, pull requests merged in 2022-03, with the labels that each got.

#2502 Bump dashboard controls version to 0.38.0
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2505 Change default k8s cron trigger base image
  pkg/functionconfig/types.go
  pkg/platform/abstract/platform.go
  pkg/platform/kube/functionres/lazy.go
Labels: platform/kube, configuration, platform

#2506 Bump dashboard controls 0.38.2
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2508 Bump dashboard version to 0.38.3
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2510 Python - decode utf8 characters by default
  docs/reference/runtimes/python/python-reference.md
  pkg/processor/build/runtime/python/docker/onbuild/Dockerfile
  pkg/processor/runtime/python/runtime.go
Labels: runtime/python, long-ci-succeeded, docs, breaking

#2512 Assign function attributes to Kaniko and Cron job pods
  pkg/containerimagebuilderpusher/kaniko.go
  pkg/containerimagebuilderpusher/types.go
  pkg/platform/kube/functionres/lazy.go
  pkg/processor/build/builder.go
Labels: platform/kube, platform

#2511 IG-19671: Increase OPA readiness probe success threshold
  hack/k8s/helm/nuclio/values.yaml
Labels: kubernetes/helm

#2515 Python - default runtime from 3.6 to 3.7
  .github/workflows/benchmark.yaml
  docs/concepts/best-practices-and-common-pitfalls.md
  docs/tasks/deploy-functions-from-dockerfile.md
  hack/examples/python/encrypt/function.yaml
  hack/examples/python/facerecognizer/function.yaml
  hack/examples/python/helloworld/function.yaml
  hack/examples/python/sentiments/function.yaml
  hack/examples/python/tensorflow/function.yaml
  hack/k8s/helm/nuclio/values.yaml
  pkg/common/helper.go
  pkg/dashboard/functiontemplates/generated.go
  pkg/dashboard/functiontemplates/render_test.go
  pkg/nuctl/command/build.go
  pkg/nuctl/test/function_test.go
  pkg/platform/abstract/platform.go
  pkg/platform/local/test/platform_test.go
  pkg/processor/build/builder.go
  pkg/processor/build/runtime/python/runtime.go
  pkg/processor/build/test/build_test.go
  pkg/processor/runtime/python/py/test_wrapper.py
  pkg/processor/runtime/python/test/timeout_test.go
  pkg/processor/test/readinesstimeout/readinesstimeout_test.go
Labels: platform/local, runtime/python, nuctl, long-ci-succeeded, kubernetes/helm, docs, ci, platform, breaking

#2516 Local platform - ensure no function container right before deploying the function
  pkg/platform/local/platform.go
Labels: platform/local, platform

#2517 Bugfix - silent failure on function deployment - continue
  pkg/dashboard/resource/function.go
  pkg/dashboard/test/server_test.go
  pkg/platform/mock/platform.go
Labels: dashboard/resources, platform

#2509 IG-20345 - add support for project update by id
  cmd/dashboard/README.md
  pkg/dashboard/resource/project.go
  pkg/dashboard/test/server_test.go
Labels: dashboard/resources

#2519 Bump dashboard controls version v0.38.4
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2518 Preemption modes - Add prevent
  pkg/dashboard/resource/frontendspec.go
  pkg/functionconfig/types.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
  pkg/platformconfig/platformconfig.go
  pkg/platformconfig/types.go
Labels: platform/kube, configuration, dashboard/resources, platform

#2520 Fix function configmap created without labels
  pkg/platform/kube/functionres/lazy.go
Labels: platform/kube, platform

#2526 Preemption mode - default pruning to false
  docs/reference/runtimes/python/python-reference.md
  pkg/functionconfig/types.go
  pkg/platform/kube/platform_test.go
Labels: platform/kube, configuration, docs, platform

#2529 Bumb dashboard controls v0.38.5
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui
