Repository nuclio/nuclio, pull requests merged in 2022-05, with the labels that each got.

#2558 Bump dashboard-controls-version 0.39.0
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2560 Add default function pod resources to frontend spec
  pkg/dashboard/resource/frontendspec.go
  pkg/dashboard/test/server_test.go
Labels: dashboard/resources

#2564 Add json compatibility to pod resource requirements
  pkg/dashboard/test/server_test.go
  pkg/platformconfig/types.go
Labels: configuration

#2565 Fix [Nuclio] Nuclio UI - show default resources (mem,cpu) when first creating function
  pkg/dashboard/ui/package.json
  pkg/dashboard/ui/src/app/app.run.js
Labels: bug, area/ui

#2567 Impl [UI] - adding spill disk param to trino
  pkg/dashboard/ui/package.json
  pkg/dashboard/ui/src/app/app.run.js
Labels: enhancement, area/ui

#2572 Security and vulnerabilities fixes
  Makefile
  cmd/autoscaler/Dockerfile
  cmd/controller/Dockerfile
  cmd/dashboard/docker/Dockerfile
  cmd/dlx/Dockerfile
  go.mod
  go.sum
  hack/k8s/helm/nuclio/templates/deployment/dashboard.yaml
  hack/k8s/helm/nuclio/values.yaml
  pkg/containerimagebuilderpusher/types.go
  pkg/processor/trigger/pubsub/test/pubsub_test.go
Labels: kubernetes/helm, go/modules, trigger/pubsub

#2575 Allow running nuclio with rootless user when using kaniko
  Makefile
  cmd/dashboard/docker/Dockerfile
  cmd/dashboard/docker/default.conf
  cmd/dashboard/docker/nginx.conf
  cmd/dashboard/docker/runner.sh
  cmd/dashboard/docker/runners/dashboard.sh
  cmd/dashboard/docker/runners/nginx.sh
  hack/k8s/helm/nuclio/Chart.yaml
  hack/k8s/helm/nuclio/templates/deployment/autoscaler.yaml
  hack/k8s/helm/nuclio/templates/deployment/controller.yaml
  hack/k8s/helm/nuclio/templates/deployment/dashboard.yaml
  hack/k8s/helm/nuclio/templates/deployment/dlx.yaml
  hack/k8s/helm/nuclio/values.yaml
  pkg/containerimagebuilderpusher/kaniko.go
Labels: kubernetes/helm

#2574 Fix [Nuclio] Function pod priority shows values when validFunctionPriorityClassNames is null
  pkg/dashboard/ui/package.json
  pkg/dashboard/ui/src/app/app.config.js
  pkg/dashboard/ui/src/app/app.run.js
Labels: bug, area/ui

#2578 Bump Java SDK - 11
  docs/reference/runtimes/java/java-reference.md
  pkg/processor/build/runtime/java/docker/onbuild/Dockerfile
  pkg/processor/build/runtime/java/runtime.go
  pkg/processor/runtime/java/build.gradle
  test/_functions/java/custom-gradle-script/build.gradle
Labels: runtime/java, long-ci-succeeded, docs

#2581 Update packages
  pkg/processor/build/runtime/golang/docker/onbuild/Dockerfile
  pkg/processor/build/runtime/golang/docker/onbuild/Dockerfile.alpine
  pkg/processor/build/runtime/java/docker/onbuild/Dockerfile
  pkg/processor/runtime/java/build.gradle
Labels: runtime/golang, runtime/java
