Repository nuclio/nuclio, pull requests merged in 2022-06, with the labels that each got.

#2580 Make golang dockerfile more flexible
  Makefile
  hack/docker/build/base-alpine/Dockerfile
  hack/docker/build/base/Dockerfile
  hack/docker/build/builder/Dockerfile
  pkg/processor/build/runtime/golang/docker/onbuild/Dockerfile
  pkg/processor/build/runtime/golang/docker/onbuild/Dockerfile.alpine
Labels: runtime/golang

#2585 add proxy to golang images
  Makefile
  hack/docker/build/builder/Dockerfile
  pkg/processor/build/runtime/golang/docker/onbuild/Dockerfile
  pkg/processor/build/runtime/golang/docker/onbuild/Dockerfile.alpine
Labels: runtime/golang

#2596 Fix docker distribution checksum error
  go.mod
  go.sum
Labels: go/modules

#2597 Support ECR with kaniko
  docs/setup/k8s/running-in-production-k8s.md
  hack/k8s/helm/nuclio/Chart.yaml
  hack/k8s/helm/nuclio/templates/deployment/dashboard.yaml
  hack/k8s/helm/nuclio/values.yaml
  pkg/containerimagebuilderpusher/kaniko.go
  pkg/containerimagebuilderpusher/types.go
  pkg/processor/build/builder.go
Labels: kubernetes/helm, docs
