Repository nuclio/nuclio, pull requests merged in 2022-01, with the labels that each got.

#2431 Dashboard - bind request id using middleware
  pkg/dashboard/resource/function.go
  pkg/dashboard/server.go
  pkg/dockerclient/dockerclient.go
  pkg/errgroup/errgroup.go
  pkg/errgroup/errgroup_test.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/functionres/lazy_test.go
  pkg/platform/local/platform.go
  pkg/processor/util/partitionworker/allocator_test.go
  pkg/processor/webadmin/server.go
  pkg/restful/middleware/middleware.go
  pkg/restful/server.go
Labels: platform/kube, platform/local, dashboard/resources, platform, go/modules

#2429 Populate resource version for create/update scenarios
  pkg/platform/kube/client/deployer.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
  pkg/platform/kube/resourcescaler/test/resourcescaler_test.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/kube/test/suite.go
  pkg/platform/types.go
Labels: platform/kube, long-ci-succeeded, platform

#2430 Platform - Block function deployment when existing function is being provisioned
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
Labels: platform

#2432 Kubernetes multiworker - add ctx
  pkg/platform/kube/apigatewayres/lazy.go
  pkg/platform/kube/apigatewayres/types.go
  pkg/platform/kube/controller/apigateway.go
  pkg/platform/kube/controller/controller.go
  pkg/platform/kube/operator/multiworker.go
  pkg/platform/kube/operator/types.go
Labels: platform/kube, platform

#2415 HTTP Trigger - Reduce memory usage flag
  docs/reference/triggers/http.md
  pkg/processor/trigger/http/trigger.go
  pkg/processor/trigger/http/types.go
Labels: platform/local, runtime/python, docs, platform, go/modules, trigger/http

#2433 Support function pod tolerations
  docs/reference/function-configuration/function-configuration-reference.md
  pkg/dashboard/resource/frontendspec.go
  pkg/functionconfig/types.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/platform.go
  pkg/platformconfig/platformconfig_test.go
  pkg/platformconfig/types.go
Labels: platform/kube, configuration, dashboard/resources, docs, platform

#2436 Create resource context form request
  pkg/dashboard/resource/function.go
  pkg/dashboard/resource/project.go
  pkg/dashboard/resource/resource.go
Labels: dashboard/resources

#2380 [UI] Disallow edits during deployment
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
  pkg/dashboard/ui/src/app/app.route.js
Labels: bug, area/ui

#2437 Add Detached context struct
  pkg/context/detached.go
  pkg/context/detached_test.go
  pkg/dashboard/resource/function.go
  pkg/dashboard/resource/project.go
  pkg/dashboard/resource/resource.go
Labels: dashboard/resources

#2439 [Docs] Local development
  .gitignore
  .run/controller-kube.run.xml
  .run/dashboard-kube.run.xml
  docs/devel/contributing.md
  docs/devel/local-development.md
  hack/env/platform_config.yaml.example
Labels: docs

#2438 Modify Iguazio headers and enrich username labels
  pkg/dashboard/auth/iguazio/auth.go
  pkg/dashboard/auth/types.go
  pkg/dashboard/resource/apigateway.go
  pkg/dashboard/resource/function.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
  pkg/restful/middleware/middleware.go
  pkg/restful/middleware/middleware_test.go
  pkg/restful/server.go
Labels: platform/kube, platform/local, dashboard/resources, platform

#2440 Nuctl - Inject context to commands from root commandeer
  pkg/containerimagebuilderpusher/containerimagebuilder.go
  pkg/containerimagebuilderpusher/docker.go
  pkg/containerimagebuilderpusher/kaniko.go
  pkg/containerimagebuilderpusher/nop.go
  pkg/nuctl/command/common/renderers.go
  pkg/nuctl/command/create.go
  pkg/nuctl/command/delete.go
  pkg/nuctl/command/export.go
  pkg/nuctl/command/get.go
  pkg/nuctl/command/import.go
  pkg/nuctl/command/invoke.go
  pkg/nuctl/command/nuctl.go
  pkg/nuctl/command/update.go
  pkg/platform/abstract/platform.go
  pkg/platform/mock/platform.go
  pkg/platform/platform.go
  pkg/processor/build/builder.go
Labels: nuctl, platform

#2445 Bumped dashboard-controls version
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2447 Create streams resource
  cmd/dashboard/README.md
  pkg/dashboard/resource/v3iostream.go
  pkg/dashboard/test/server_test.go
Labels: dashboard/resources

#2446 refactor: use `os.ReadDir` for lightweight directory reading
  pkg/dashboard/functiontemplates/generator/generator.go
  pkg/dockercreds/dockercreds.go
  pkg/processor/build/builder.go
  pkg/processor/build/runtime/test/suite/suite.go
  pkg/processor/build/util/copy.go
Labels: long-ci-succeeded

#2452 Bumb dashboard controls version
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
Labels: area/ui

#2451 Kafka trigger - support scram auth mechanism
  docs/reference/triggers/kafka.md
  go.mod
  go.sum
  pkg/platform/kube/apis/nuclio.io/v1beta1/zz_generated.deepcopy.go
  pkg/processor/trigger/kafka/scram/xdg.go
  pkg/processor/trigger/kafka/test/kafka_confluent_test.go
  pkg/processor/trigger/kafka/trigger.go
  pkg/processor/trigger/kafka/types.go
Labels: platform/kube, docs, platform, go/modules, trigger/kafka

#2448 Nuclio redactor - preparations
  go.mod
  go.sum
  hack/scripts/releaser/releaser.go
  pkg/common/redact.go
  pkg/dashboard/functiontemplates/generator/generator.go
  pkg/dashboard/ui/package-lock.json
  pkg/dashboard/ui/package.json
  pkg/loggersink/registry.go
  pkg/loggersink/stdout/factory.go
  pkg/nuctl/command/get.go
  pkg/nuctl/command/nuctl.go
  pkg/nuctl/test/function_test.go
  pkg/nuctl/test/project_test.go
  pkg/nuctl/test/suite.go
  pkg/platform/abstract/invoker.go
  pkg/platform/abstract/logstream.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/kube/test/suite.go
  pkg/platform/local/platform.go
  pkg/platformconfig/platformconfig.go
  pkg/platformconfig/platformconfig_test.go
  pkg/platformconfig/reader.go
  pkg/platformconfig/types.go
  pkg/processor/trigger/registry.go
  pkg/restful/middleware/middleware.go
Labels: area/ui, platform/kube, platform/local, nuctl, long-ci-succeeded, releaser, configuration, platform, go/modules

#2455 Kafka trigger - support scram auth mechanism [1.6.x]
  .gitignore
  docs/reference/triggers/kafka.md
  go.mod
  go.sum
  pkg/processor/trigger/kafka/scram/xdg.go
  pkg/processor/trigger/kafka/test/kafka_confluent_test.go
  pkg/processor/trigger/kafka/trigger.go
  pkg/processor/trigger/kafka/types.go
Labels: docs, go/modules, trigger/kafka

#2459 Bump packages
  go.mod
  go.sum
  pkg/dashboard/resource/functionevent.go
  pkg/dashboard/resource/project.go
  pkg/dashboard/test/server_test.go
  pkg/nuctl/command/import.go
  pkg/processor/runtime/golang/test/golang_test.go
  pkg/processor/runtime/python/test/python_test.go
  pkg/processor/runtime/rpc/encode_json_test.go
  pkg/processor/trigger/trigger.go
Labels: runtime/python, runtime/golang, nuctl, long-ci-succeeded, dashboard/resources, go/modules

#2464 Fix nodejs event leak
  hack/k8s/helm/nuclio/values.yaml
  pkg/dashboard/resource/project.go
  pkg/processor/runtime/nodejs/js/wrapper.js
  pkg/processor/runtime/nodejs/js/wrapper.test.js
Labels: runtime/nodejs, long-ci-succeeded, kubernetes/helm, dashboard/resources
