Repository nuclio/nuclio, pull requests merged in 2023-11, with the labels that each got.

#3056 [Tests] Add RetryUntilSuccessful to TestDeployFunctionWithSidecarSanity
  pkg/platform/kube/test/platform_test.go
Labels: platform/kube, platform

#3051 [Dashboard][Processor] Add option to disable a creation of default http trigger
  cmd/processor/app/processor.go
  docs/reference/function-configuration/function-configuration-reference.md
  hack/examples/README.md
  hack/examples/dotnetcore/helloworld/function.yaml
  hack/examples/dotnetcore/reverser/function.yaml
  hack/examples/golang/eventhub/function.yaml
  hack/examples/golang/helloworld/function.yaml
  hack/examples/golang/image/function.yaml
  hack/examples/golang/rabbitmq/function.yaml
  hack/examples/golang/regexscan/function.yaml
  hack/examples/java/reverser/function.yaml
  hack/examples/nodejs/dates/function.yaml
  hack/examples/python/encrypt/function.yaml
  hack/examples/python/facerecognizer/function.yaml
  hack/examples/python/helloworld/function.yaml
  hack/examples/python/sentiments/function.yaml
  hack/examples/python/tensorflow/function.yaml
  pkg/dashboard/resource/frontendspec.go
  pkg/dashboard/test/server_test.go
  pkg/functionconfig/types.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/local/test/platform_test.go
  pkg/platform/mock/platform.go
  pkg/platform/platform.go
  pkg/platformconfig/platformconfig.go
Labels: platform/kube, platform/local, configuration, dashboard/resources, docs, platform

#3057 [Nuctl] Make it possible to run nuctl in the pod without kubeconfig propagation
  pkg/platform/kube/platform.go
Labels: platform/kube, platform

#3058 [Runtime] Introduce python 3.10 and python 3.11
  Makefile
  docs/reference/function-configuration/function-configuration-reference.md
  hack/scripts/benchmark/benchmark.py
  pkg/dashboard/functiontemplates/generator/generator.go
  pkg/nuctl/test/function_test.go
  pkg/processor/build/builder.go
  pkg/processor/build/runtime/python/docker/onbuild/Dockerfile
  pkg/processor/build/runtime/python/test/python_test.go
  pkg/processor/runtime/python/py/requirements/python3_10.txt
  pkg/processor/runtime/python/py/requirements/python3_11.txt
  pkg/processor/runtime/python/test/python_test.go
Labels: runtime/python, docs

#3055 [Dashboard] Support project level node selector
  pkg/common/k8s.go
  pkg/functionconfig/types.go
  pkg/nuctl/command/common/renderers.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
  pkg/platform/mock/platform.go
  pkg/platform/platform.go
  pkg/platform/types.go
  pkg/renderer/renderer.go
Labels: platform/kube, nuctl, configuration, platform

#3065 [Docs] Add function versioning to architecture TOC
  docs/concepts/architecture.md
Labels: docs

#3066 [Docs] Update readthedocs copyright
  docs/conf.py
Labels: docs

#2956 [Docs] Fix typo `statis` to `status`
  docs/reference/function-configuration/function-configuration-reference.md
Labels: docs

#3067 [Python] Bump pip for all python versions
  pkg/processor/runtime/python/py/requirements/common.txt
  pkg/processor/runtime/python/py/requirements/python3_10.txt
  pkg/processor/runtime/python/py/requirements/python3_11.txt
  pkg/processor/runtime/python/py/requirements/python3_7.txt
  pkg/processor/runtime/python/py/requirements/python3_8.txt
  pkg/processor/runtime/python/py/requirements/python3_9.txt
Labels: runtime/python

#3068 [Controller] Set default logs container when sidecars are set
  pkg/platform/kube/functionres/lazy.go
Labels: platform/kube, platform

#3072 [Docs] Fix images links in kafka trigger documentation
  docs/reference/triggers/kafka.md
Labels: docs

#3071 [Controller] Consider scaling when monitoring function state
  cmd/controller/app/controller.go
  cmd/controller/main.go
  pkg/platform/kube/controller/controller.go
  pkg/platform/kube/controller/controller_test.go
  pkg/platform/kube/controller/nucliofunction_test.go
  pkg/platform/kube/monitoring/function.go
  pkg/platform/kube/monitoring/function_test.go
  pkg/platform/kube/monitoring/test/function_test.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/kube/test/suite.go
Labels: platform/kube, platform

#3073 [Project] Correct function default node selector field name
  pkg/dashboard/resource/frontendspec.go
  pkg/nuctl/command/common/renderers.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/platform/abstract/project/external/leader/iguazio/client.go
  pkg/platform/abstract/project/external/leader/iguazio/types.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
  pkg/platform/types.go
Labels: platform/kube, nuctl, dashboard/resources, platform

#3074 [Dashboard] Add trigger existence validation
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/platform/kube/platform_test.go
Labels: platform/kube, platform

#3075 Revert "[Dashboard] Add trigger existence validation (#3074)"
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/platform/kube/platform_test.go
Labels: platform/kube, platform

#3076 [Docs] Fix xrefs, delete double headings
  .gitignore
  docs/concepts/architecture.md
  docs/devel/index.rst
  docs/index.md
  docs/reference/api/README.md
  docs/reference/index.rst
  docs/reference/nuctl/nuctl.md
  docs/reference/triggers/cron.md
  docs/reference/triggers/http.md
  docs/reference/triggers/kafka.md
  docs/reference/triggers/kinesis.md
  docs/reference/triggers/v3iostream.md
  docs/setup/aks/getting-started-aks.md
  docs/setup/aks/index.rst
  docs/setup/aks/setup-aks-appinsights-grafana.md
  docs/setup/docker/getting-started-docker.md
  docs/setup/gke/getting-started-gke.md
  docs/setup/index.rst
  docs/setup/k8s/getting-started-k8s.md
  docs/setup/k8s/index.rst
  docs/setup/k8s/running-in-production-k8s.md
  docs/setup/minikube/getting-started-minikube.md
  docs/tasks/deploy-functions-from-dockerfile.md
Labels: docs
