Repository nuclio/nuclio, pull requests merged in 2023-08, with the labels that each got.

#2967 [Nuctl] Poll function status when waiting for function redeployment
  pkg/dashboard/resource/function.go
  pkg/dashboard/test/server_test.go
  pkg/nuctl/client/api.go
  pkg/nuctl/client/types.go
  pkg/nuctl/command/common/helpers.go
  pkg/nuctl/command/deploy.go
Labels: nuctl, dashboard/resources

#2981 [CI] Free space in Test K8s Nuctl job
  .github/workflows/ci.yaml
  hack/scripts/ci/free-space.sh
Labels: ci

#2980 [Project] Filter invalid labels when updating from leader
  pkg/platform/abstract/project/external/leader/iguazio/synchronizer.go
Labels: platform

#2978 [Function] Redeploy using crd state update
  pkg/dashboard/resource/function.go
  pkg/dashboard/test/server_test.go
  pkg/nuctl/command/deploy.go
  pkg/platform/kube/client/updater.go
  pkg/platform/kube/platform.go
  pkg/platform/local/platform.go
  pkg/platform/local/test/platform_test.go
  pkg/platform/mock/platform.go
  pkg/platform/platform.go
  pkg/platform/types.go
Labels: platform/kube, platform/local, nuctl, dashboard/resources, platform

#2942 [Kafka/Python] Improve worker draining flow
  docs/reference/triggers/kafka.md
  pkg/common/consts.go
  pkg/functionconfig/types.go
  pkg/processor/runtime/python/py/_nuclio_wrapper.py
  pkg/processor/runtime/rpc/abstract.go
  pkg/processor/runtime/rpc/abstract_test.go
  pkg/processor/runtime/rpc/controlmessagebroker.go
  pkg/processor/runtime/runtime.go
  pkg/processor/trigger/kafka/test/kafka_test.go
  pkg/processor/trigger/kafka/trigger.go
  pkg/processor/trigger/kafka/types.go
  pkg/processor/trigger/trigger.go
  pkg/processor/worker/allocator.go
  pkg/processor/worker/worker.go
  pkg/processor/worker/worker_test.go
  test/_functions/python/termination-hook/termination-hook.py
Labels: runtime/python, long-ci-started, configuration, docs, trigger/kafka

#2983 [Docs] Improve and format local-development
  docs/devel/local-development.md
Labels: docs

#2984 [CI] Added release of nuctl darwin arm64 binary
  .github/workflows/release.yaml
Labels: ci

#2988 [Kafka] Commit the offset when handler is done on rebalance
  pkg/processor/trigger/kafka/trigger.go
Labels: trigger/kafka

#2991 [Kafka] Commit the offset when handler is done on rebalance [1.11.x]
  pkg/processor/trigger/kafka/trigger.go
Labels: trigger/kafka

#2989 [Processor] Add workers draining on processor termination
  cmd/processor/app/processor.go
  cmd/processor/app/processor_test.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/kube/test/suite.go
  pkg/processor/runtime/rpc/abstract.go
  pkg/processor/trigger/cron/types.go
  pkg/processor/trigger/http/types.go
  pkg/processor/trigger/kafka/kafka_test.go
  pkg/processor/trigger/kafka/trigger.go
  pkg/processor/trigger/kafka/types.go
  pkg/processor/trigger/kickstart/types.go
  pkg/processor/trigger/kinesis/types.go
  pkg/processor/trigger/mqtt/types.go
  pkg/processor/trigger/nats/types.go
  pkg/processor/trigger/partitioned/eventhub/types.go
  pkg/processor/trigger/partitioned/types.go
  pkg/processor/trigger/poller/types.go
  pkg/processor/trigger/pubsub/types.go
  pkg/processor/trigger/rabbitmq/types.go
  pkg/processor/trigger/trigger.go
  pkg/processor/trigger/types.go
  pkg/processor/trigger/v3iostream/types.go
Labels: platform/kube, trigger/mqtt, platform, trigger/v3iostream, trigger/kafka, trigger/http, trigger/cron, trigger/partitioned, trigger/kinesis, trigger/nats, trigger/pubsub, trigger/rabbitmq, trigger/kickstart, trigger/poller

#2993 [Dashboard] Added clean up of annotations during redeploying imported function
  pkg/platform/kube/client/updater.go
Labels: platform/kube, platform

#2994 [Nuctl] Add flag to leave image info in function config
  pkg/common/headers/headers.go
  pkg/dashboard/resource/function.go
  pkg/dashboard/resource/project.go
  pkg/dashboard/resource/resource.go
  pkg/functionconfig/types.go
  pkg/nuctl/command/common/renderers.go
  pkg/nuctl/command/deploy.go
  pkg/nuctl/command/export.go
  pkg/nuctl/command/get.go
Labels: nuctl, configuration, dashboard/resources

#2996 Revert "[Helm] Fix creation of ClusterRoleBinding for namespace access mode"
  hack/k8s/helm/nuclio/templates/rolebinding/crd-admin.yaml
  pkg/processor/runtime/rpc/abstract_test.go
Labels: kubernetes/helm

#2997 [Helm] Fix creation of ClusterRoleBinding for namespace access mode
  hack/k8s/helm/nuclio/templates/rolebinding/crd-admin.yaml
Labels: kubernetes/helm

#2999 [Processor] Fix panic on try to write to closed channel
  pkg/processor/trigger/kafka/trigger.go
Labels: trigger/kafka

#2995 [Nuctl] Add previous state annotation when export function
  pkg/dashboard/resource/function.go
  pkg/dashboard/test/server_test.go
  pkg/functionconfig/types.go
  pkg/nuctl/command/export.go
Labels: nuctl, configuration, dashboard/resources

#3000 [OPA] Add redeploy function permission check
  pkg/opa/opa.go
  pkg/platform/abstract/platform.go
  pkg/platform/kube/platform.go
  pkg/platform/local/platform.go
Labels: platform/kube, platform/local, platform

#3001 [CI] Use gzip to compress images
  Makefile
  pkg/processor/runtime/golang/builtin.go
  pkg/processor/runtime/golang/handler.go
Labels: runtime/golang

#2998 [Controller] Remove internal annotations from function deployment
  pkg/functionconfig/types.go
  pkg/platform/kube/client/updater.go
  pkg/platform/kube/controller/nucliofunction.go
Labels: platform/kube, configuration, platform

#3002 [Processor] Fix event timing out
  pkg/common/version.go
  pkg/processor/runtime/rpc/abstract.go
  pkg/processor/test/suite/suite.go
  pkg/processor/timeout/timeout.go
  pkg/processor/trigger/http/test/suite/suite.go
  pkg/processor/trigger/kafka/trigger.go
  pkg/processor/worker/allocator.go
Labels: long-ci-started, trigger/kafka, trigger/http

#3003 [Dashboard][Helm] Add registry kind to helm chart and dashboard server
  hack/k8s/helm/nuclio/templates/deployment/dashboard.yaml
  hack/k8s/helm/nuclio/values.yaml
  pkg/containerimagebuilderpusher/containerimagebuilder.go
  pkg/containerimagebuilderpusher/docker.go
  pkg/containerimagebuilderpusher/kaniko.go
  pkg/containerimagebuilderpusher/nop.go
  pkg/containerimagebuilderpusher/types.go
  pkg/platform/abstract/platform.go
  pkg/platform/mock/platform.go
  pkg/platform/platform.go
Labels: kubernetes/helm, platform

#3006 [CI] Fix shell timeout test
  pkg/processor/runtime/shell/test/timeout_test.go
Labels: runtime/shell

#3004 [Processor] Fix unexpected consumption stop
  pkg/processor/trigger/kafka/trigger.go
  pkg/processor/worker/allocator.go
  pkg/processor/worker/worker.go
Labels: trigger/kafka
