Repository nuclio/nuclio, pull requests merged in 2023-01, with the labels that each got.

#2774 Restore function config when exporting function
  cmd/dashboard/app/run.go
  cmd/processor/app/processor.go
  cmd/processor/app/processor_test.go
  pkg/common/consts.go
  pkg/dashboard/resource/function.go
  pkg/dashboard/resource/project.go
  pkg/dashboard/server.go
  pkg/dashboard/test/server_test.go
  pkg/functionconfig/mask.go
  pkg/functionconfig/mask_test.go
  pkg/nuctl/command/export.go
  pkg/nuctl/command/import.go
  pkg/nuctl/test/apigagteway_test.go
  pkg/nuctl/test/function_test.go
  pkg/nuctl/test/project_test.go
  pkg/nuctl/test/suite.go
  pkg/platform/abstract/platform.go
  pkg/platform/factory/factory.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/test/suite.go
  pkg/platform/local/platform.go
  pkg/platform/mock/platform.go
  pkg/platform/platform.go
  pkg/platformconfig/platformconfig.go
  pkg/processor/test/suite/suite.go
Labels: platform/kube, platform/local, nuctl, configuration, dashboard/resources, platform

#2773 Validate volume secret exists if access key is already scrubbed
  cmd/processor/app/processor.go
  pkg/dashboard/resource/function.go
  pkg/functionconfig/scrubber.go
  pkg/functionconfig/scrubber_test.go
  pkg/nuctl/command/export.go
  pkg/platform/abstract/platform.go
  pkg/platform/kube/client/deployer.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/test/platform_test.go
Labels: platform/kube, nuctl, configuration, dashboard/resources, platform

#2776 Docs - added information about custom HPA
  docs/reference/function-configuration/function-configuration-reference.md
Labels: docs

#2777 Don't restore function config when exporting via api
  pkg/dashboard/resource/function.go
  pkg/dashboard/resource/project.go
  pkg/dashboard/test/server_test.go
Labels: dashboard/resources

#2778 Nuctl - move no-scrub flag to export comandeer
  pkg/nuctl/command/export.go
  pkg/platform/abstract/project/external/leader/iguazio/synchronizer.go
Labels: nuctl, platform

#2780 Nuctl - move no-scrub flag to export comandeer [1.10.x]
  pkg/nuctl/command/export.go
Labels: nuctl

#2783 Controller - less spammy
  pkg/platform/kube/controller/evictedpodsmonitoring.go
Labels: platform/kube, platform

#2782 Improve secret name generation
  pkg/functionconfig/scrubber.go
  pkg/functionconfig/scrubber_test.go
  pkg/platform/kube/client/deployer.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/test/platform_test.go
Labels: platform/kube, configuration, platform

#2792 Some logging touchups
  Makefile
  hack/k8s/helm/nuclio/templates/crd/api-gateway.yaml
  pkg/common/url.go
  pkg/containerimagebuilderpusher/containerimagebuilder.go
  pkg/containerimagebuilderpusher/docker.go
  pkg/containerimagebuilderpusher/kaniko.go
  pkg/nuctl/command/build.go
  pkg/opa/http.go
  pkg/opa/mock.go
  pkg/opa/nop.go
  pkg/opa/opa.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/project/external/client.go
  pkg/platform/abstract/project/external/client_test.go
  pkg/platform/abstract/project/external/leader/iguazio/client.go
  pkg/platform/abstract/project/external/leader/iguazio/client_test.go
  pkg/platform/abstract/project/external/leader/iguazio/synchronizer.go
  pkg/platform/abstract/project/external/leader/iguazio/synchronizer_test.go
  pkg/platform/abstract/project/external/leader/mlrun/client.go
  pkg/platform/abstract/project/external/leader/mock/client.go
  pkg/platform/abstract/project/external/leader/types.go
  pkg/platform/abstract/project/internalc/local/local.go
  pkg/platform/kube/controller/test/controller_test.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
  pkg/platform/local/client/store.go
  pkg/platform/local/platform.go
  pkg/platform/mock/platform.go
  pkg/platform/platform.go
  pkg/processor/build/builder.go
  pkg/processor/build/runtime/golang/test/golang_test.go
  pkg/processor/build/test/build_test.go
Labels: platform/kube, platform/local, runtime/golang, nuctl, kubernetes/helm, platform

#2794 Project Sync - Filter invalid project labels
  pkg/platform/abstract/project/external/leader/iguazio/synchronizer.go
  pkg/platform/abstract/project/external/leader/iguazio/synchronizer_test.go
Labels: platform

#2795 Bump DR version to 0.39.18
  pkg/dashboard/ui/package.json
Labels: area/ui

#2789 Impl [UI] nuclio scale-up metrics
  pkg/dashboard/ui/src/app/app.run.js
Labels: area/ui

#2796 GetNodes / FunctionInvoke / Resolving namespace Refactor
  cmd/controller/main.go
  cmd/dashboard/README.md
  cmd/dashboard/app/run.go
  cmd/dashboard/main.go
  hack/k8s/helm/nuclio/Chart.yaml
  hack/k8s/helm/nuclio/templates/deployment/controller.yaml
  hack/k8s/helm/nuclio/templates/role/crd-admin.yaml
  hack/k8s/helm/nuclio/values.yaml
  pkg/common/consts.go
  pkg/common/k8s.go
  pkg/dashboard/resource/invocation.go
  pkg/dashboard/test/server_test.go
  pkg/nuctl/command/invoke.go
  pkg/nuctl/command/nuctl.go
  pkg/platform/abstract/invoker.go
  pkg/platform/abstract/platform.go
  pkg/platform/factory/factory.go
  pkg/platform/function.go
  pkg/platform/kube/client/function.go
  pkg/platform/kube/controller/nucliofunction.go
  pkg/platform/kube/node.go
  pkg/platform/kube/platform.go
  pkg/platform/local/client/function.go
  pkg/platform/local/node.go
  pkg/platform/local/platform.go
  pkg/platform/mock/platform.go
  pkg/platform/node.go
  pkg/platform/platform.go
  pkg/platform/types.go
Labels: platform/kube, platform/local, nuctl, long-ci-succeeded, kubernetes/helm, dashboard/resources, platform

#2797 API - backwards compatbility fix
  pkg/dashboard/resource/invocation.go
  pkg/platform/abstract/invoker.go
  pkg/platform/types.go
Labels: dashboard/resources, platform

#2798 [Invoke] Default to internal address for better backwards compatibility
  Makefile
  pkg/dashboard/resource/invocation.go
  pkg/platform/abstract/invoker.go
  pkg/platform/types.go
Labels: dashboard/resources, platform

#2799 [Python] Default to python runtime 3.9
  docs/concepts/best-practices-and-common-pitfalls.md
  hack/k8s/helm/nuclio/values.yaml
  pkg/nuctl/command/build.go
  pkg/platform/abstract/platform.go
  pkg/processor/build/builder.go
  pkg/processor/build/runtime/python/docker/onbuild/Dockerfile
  pkg/processor/build/runtime/python/runtime.go
  pkg/processor/runtime/python/runtime.go
Labels: runtime/python, nuctl, long-ci-succeeded, kubernetes/helm, docs, platform

#2800 [Nuctl] Update renderer dependency
  go.mod
  go.sum
  pkg/dockerclient/shell.go
  pkg/functionconfig/types.go
  pkg/nuctl/command/nuctl.go
  pkg/nuctl/test/suite.go
  pkg/renderer/renderer.go
Labels: nuctl, configuration, go/modules

#2801 [FunctionConfig] Always scrub function resource version
  pkg/functionconfig/types.go
Labels: configuration

#2802 [PlatformConfig + FrontendSpec] Add auto scale metrics mode
  pkg/dashboard/resource/frontendspec.go
  pkg/dashboard/test/server_test.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platformconfig/platformconfig.go
  pkg/platformconfig/types.go
Labels: platform/kube, configuration, dashboard/resources, platform

#2803 [Secrets] Reuse secret names, delete secrets only on function deletion
  cmd/processor/app/processor.go
  pkg/functionconfig/scrubber.go
  pkg/functionconfig/scrubber_test.go
  pkg/platform/kube/client/deployer.go
  pkg/platform/kube/controller/nucliofunction.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/functionres/lazy_test.go
  pkg/platform/kube/test/platform_test.go
Labels: platform/kube, configuration, platform

#2804 Bump v3io-go
  go.mod
  go.sum
Labels: go/modules
