Repository nuclio/nuclio, pull requests merged in 2023-10, with the labels that each got.

#3026 [Security] Fix Node and .Net vulnerabilities
  README.md
  README_zh.md
  docs/reference/runtimes/dotnetcore/dotnetcore-reference.md
  docs/reference/runtimes/dotnetcore/writing-a-dotnetcore-function.md
  hack/examples/README.md
  pkg/processor/build/runtime/dotnetcore/docker/onbuild/Dockerfile
  pkg/processor/build/runtime/dotnetcore/docker/onbuild/handler.csproj
  pkg/processor/build/runtime/dotnetcore/runtime.go
  pkg/processor/runtime/dotnetcore/test/_outputter/handler.csproj
  pkg/processor/runtime/dotnetcore/wrapper.csproj
  pkg/processor/runtime/nodejs/js/package-lock.json
Labels: runtime/nodejs, runtime/dotnetcore, docs

#3031 [Nuctl] Export with previous status annotations by default
  pkg/common/headers/headers.go
  pkg/common/types.go
  pkg/dashboard/resource/function.go
  pkg/dashboard/resource/resource.go
  pkg/dashboard/test/server_test.go
  pkg/functionconfig/types.go
  pkg/nuctl/command/export.go
Labels: nuctl, configuration, dashboard/resources

#3033 [CI] Skip building dotnet for arm64
  .github/workflows/release.yaml
Labels: ci

#3032 [Dashboard][Controller][Nuctl] Redeploy to desired state
  pkg/dashboard/resource/function.go
  pkg/dashboard/test/server_test.go
  pkg/nuctl/command/redeploy.go
  pkg/platform/kube/platform.go
  pkg/platform/types.go
Labels: platform/kube, nuctl, dashboard/resources, platform

#3034 [Nuctl] Log how to redeploy from report if functions failed redeployment
  pkg/nuctl/command/common/patchmanifest.go
  pkg/nuctl/command/redeploy.go
Labels: nuctl

#3037 [Nuctl] Keep image in spec by default when exporting
  pkg/common/types.go
  pkg/dashboard/resource/function.go
  pkg/dashboard/resource/resource.go
  pkg/functionconfig/types.go
  pkg/nuctl/command/export.go
Labels: nuctl, configuration, dashboard/resources

#3035 [Deployment] Introducing Sidecars
  docs/reference/function-configuration/function-configuration-reference.md
  pkg/functionconfig/types.go
  pkg/platform/abstract/platform.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/test/platform_test.go
  pkg/platformconfig/platformconfig.go
  pkg/platformconfig/platformconfig_test.go
  pkg/platformconfig/types.go
Labels: platform/kube, configuration, docs, platform

#3040 [Runtime] Deprecate python 3.6, add warn for python 3.7 and 3.8
  .github/workflows/benchmark.yaml
  Makefile
  docs/reference/runtimes/python/python-reference.md
  docs/tasks/benchmarking.md
  hack/examples/python/tensorflow/function.yaml
  hack/scripts/benchmark/benchmark.py
  pkg/common/helper.go
  pkg/dashboard/functiontemplates/generated.go
  pkg/functionconfig/reader_test.go
  pkg/nuctl/test/function_test.go
  pkg/processor/build/builder_test.go
  pkg/processor/build/runtime/python/docker/onbuild/Dockerfile
  pkg/processor/build/runtime/python/runtime.go
  pkg/processor/build/runtime/python/test/python_test.go
  pkg/processor/runtime/python/test/python_test.go
Labels: runtime/python, configuration, docs, ci

#3041 [Docs] Add nuctl redeploy docs
  cmd/dashboard/README.md
  docs/reference/nuctl/nuctl.md
Labels: docs

#3047 [CI] Run tests with long execution time in parallel with the fast ones
  .github/workflows/periodic.yaml
  Makefile
  pkg/platform/local/test/platform_test.go
  pkg/processor/build/builder.go
  pkg/processor/test/suite/suite.go
Labels: platform/local, ci, platform

#3049 [Dependencies] Bump google.golang.org/grpc from 1.57.0 to 1.57.2
  go.mod
  go.sum
Labels: go/modules

#3050 [NATS] Submit events to workers concurrently
  pkg/processor/trigger/nats/test/nats_test.go
  pkg/processor/trigger/nats/trigger.go
  pkg/processor/trigger/test/eventrecorder.go
Labels: trigger/nats
