Repository nuclio/nuclio, pull requests merged in 2023-04, with the labels that each got.

#2887 Fix [UI] unclear error reason when function invoke fails
  pkg/dashboard/ui/src/app/shared/services/nuclio-event-data.service.js
Labels: bug, area/ui

#2888 [Kafka/V3ioStream] Allow setting explicit ack mode via annotations
  pkg/processor/trigger/kafka/types.go
  pkg/processor/trigger/types.go
  pkg/processor/trigger/v3iostream/types.go
Labels: trigger/v3iostream, trigger/kafka

#2882 [Nuctl] Support function redeployment using the `beta` api client
  pkg/dashboard/resource/function.go
  pkg/nuctl/client/api.go
  pkg/nuctl/client/types.go
  pkg/nuctl/command/beta.go
  pkg/nuctl/command/common/helpers.go
  pkg/nuctl/command/common/patchoutputmanifest.go
  pkg/nuctl/command/deploy.go
  pkg/nuctl/command/nuctl.go
Labels: nuctl, dashboard/resources

#2893 [Function] Ignore current function state when patching a function
  pkg/dashboard/resource/function.go
Labels: dashboard/resources

#2892 [Kafka] Support passing configuration via secret
  docs/reference/triggers/kafka.md
  pkg/platformconfig/types.go
  pkg/processor/trigger/kafka/kafka_test.go
  pkg/processor/trigger/kafka/types.go
Labels: configuration, docs, trigger/kafka

#2894 Bumb dashboard controls version to 0.39.20
  pkg/dashboard/ui/package.json
Labels: area/ui

#2884 [UI] function invoke fails with "certificate verify failed"
  pkg/dashboard/ui/src/app/app.run.js
  pkg/dashboard/ui/src/app/components/data-wrappers/function-events-data-wrapper/function-events-data-wrapper.component.js
  pkg/dashboard/ui/src/app/components/data-wrappers/function-events-data-wrapper/function-events-data-wrapper.tpl.html
  pkg/dashboard/ui/src/app/shared/services/nuclio-event-data.service.js
Labels: bug, area/ui

#2873 Fix [UI] Set timeout on nuclio function build from github to 5 min
  pkg/dashboard/ui/src/app/components/data-wrappers/version-data-wrapper/version-data-wrapper.component.js
  pkg/dashboard/ui/src/app/components/data-wrappers/version-data-wrapper/version-data-wrapper.tpl.html
  pkg/dashboard/ui/src/app/shared/services/nuclio-functions-data.service.js
Labels: bug, area/ui

#2895 [Function / Nuctl] Support patching imported functions only
  pkg/common/headers/headers.go
  pkg/dashboard/resource/function.go
  pkg/dashboard/test/server_test.go
  pkg/nuctl/command/deploy.go
Labels: nuctl, dashboard/resources

#2897 [Build] Allow building nuclio services on arm64-based systems
  Makefile
  cmd/autoscaler/Dockerfile
  cmd/controller/Dockerfile
  cmd/dlx/Dockerfile
  pkg/processor/build/runtime/golang/docker/onbuild/Dockerfile.alpine
Labels: runtime/golang

#2898 [Build] Fix building java & go runtimes for arm
  Makefile
  pkg/processor/build/runtime/golang/docker/onbuild/Dockerfile.alpine
  pkg/processor/build/runtime/java/docker/onbuild/Dockerfile
Labels: runtime/golang, runtime/java

#2899 [Release] Fix building images for arm
  .github/workflows/release.yaml
Labels: ci

#2900 [Release] Build and push images in parallel
  .github/workflows/release.yaml
Labels: ci

#2901 [Release] Don't add processor image to golang runtime onbuilds
  .github/workflows/release.yaml
Labels: ci

#2902 [Build] Ensure processor being built
  .github/workflows/release.yaml
  .github/workflows/security_scan.yaml
  Makefile
Labels: ci

#2904 [Release] Faster processor build
  .dockerignore
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/security_scan.yaml
  .gitignore
  Makefile
  cmd/processor/Dockerfile
Labels: ci

#2906 [CI] Refine release
  .github/workflows/release.yaml
  Makefile
Labels: ci

#2907 [CI] Refine release 2
  .github/workflows/release.yaml
Labels: ci

#2909 [Build] Update go build commands
  Makefile
  cmd/autoscaler/Dockerfile
  cmd/controller/Dockerfile
  cmd/dashboard/docker/Dockerfile
  cmd/dlx/Dockerfile
  pkg/platform/factory/factory.go
  pkg/platform/local/client/store.go
  pkg/platform/local/platform.go
  pkg/processor/build/runtime/golang/docker/onbuild/Dockerfile
  pkg/processor/build/runtime/golang/docker/onbuild/Dockerfile.alpine
Labels: platform/local, runtime/golang, platform
