Repository nuclio/nuclio, pull requests merged in 2023-09, with the labels that each got.

#3009 [Overall] Bump packages, ci and other
  .github/workflows/ci.yaml
  Makefile
  docs/devel/contributing.md
  docs/devel/local-development.md
  docs/setup/minikube/getting-started-minikube.md
  go.mod
  go.sum
  pkg/functionconfig/reader.go
  pkg/loggersink/appinsights/factory.go
  pkg/platform/kube/client/deployer.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/functionres/lazy_test.go
  pkg/platform/kube/operator/multiworker.go
  pkg/processor/metricsink/appinsights/metricsink.go
  pkg/processor/metricsink/appinsights/trigger.go
  pkg/processor/metricsink/appinsights/worker.go
  test/docker/Dockerfile
Labels: platform/kube, configuration, docs, ci, platform, go/modules

#3010 [Kafka] Explicit ack enhancements
  cmd/processor/app/processor.go
  cmd/processor/app/processor_test.go
  pkg/common/status/status.go
  pkg/nuctl/command/export.go
  pkg/processor/trigger/kafka/trigger.go
  pkg/processor/trigger/trigger.go
  pkg/processor/util/partitionworker/allocator.go
  pkg/processor/worker/allocator.go
  pkg/processor/worker/worker.go
Labels: nuctl, long-ci-started, trigger/kafka

#3007 [Processor] Add buildFlags parameter to function config
  pkg/containerimagebuilderpusher/docker.go
  pkg/containerimagebuilderpusher/kaniko.go
  pkg/containerimagebuilderpusher/types.go
  pkg/dockerclient/shell.go
  pkg/dockerclient/types.go
  pkg/functionconfig/reader_test.go
  pkg/functionconfig/types.go
  pkg/processor/build/builder.go
  pkg/processor/build/builder_test.go
  pkg/processor/build/test/build_test.go
Labels: configuration

#3014 [Nuctl][Dashboard] Add flag to ensure external registry when redeploying functions
  pkg/common/headers/headers.go
  pkg/dashboard/resource/function.go
  pkg/nuctl/command/deploy.go
Labels: nuctl, dashboard/resources

#3017 [Nuctl] Add skip-external-registry-verify option to nuctl beta deploy
  pkg/containerimagebuilderpusher/docker.go
  pkg/containerimagebuilderpusher/kaniko.go
  pkg/containerimagebuilderpusher/types.go
  pkg/dockerclient/shell.go
  pkg/nuctl/command/deploy.go
  pkg/processor/build/builder.go
Labels: nuctl

#3012 [Go] Bump go version to 1.21
  Makefile
  docs/devel/contributing.md
  docs/devel/local-development.md
  go.mod
  pkg/dockercreds/dockercred.go
  pkg/dockercreds/dockercreds.go
  pkg/dockercreds/dockercreds_test.go
  test/_functions/golang/with-modules/go.mod
  test/_functions/golang/with-modules/go.sum
Labels: docs, go/modules

#3018 [Context] Remove detached package and use errgroup limit
  pkg/containerimagebuilderpusher/kaniko.go
  pkg/context/detached.go
  pkg/context/detached_test.go
  pkg/dashboard/resource/apigateway.go
  pkg/dashboard/resource/function.go
  pkg/dashboard/resource/project.go
  pkg/errgroup/errgroup.go
  pkg/nuctl/command/import.go
  pkg/platform/kube/controller/nucliofunction.go
Labels: platform/kube, nuctl, dashboard/resources, platform

#3019 [Nuctl] Save a redeployment report to a file and rerun on retryable functions
  pkg/dashboard/resource/function.go
  pkg/dashboard/test/server_test.go
  pkg/nuctl/client/api.go
  pkg/nuctl/command/common/patchmanifest.go
  pkg/nuctl/command/common/patchmanifest_test.go
  pkg/nuctl/command/common/patchoutputmanifest.go
  pkg/nuctl/command/deploy.go
Labels: nuctl, dashboard/resources

#3021 [Nuctl] Move redeploying functionality to a new command
  pkg/nuctl/command/beta.go
  pkg/nuctl/command/deploy.go
  pkg/nuctl/command/nuctl.go
  pkg/nuctl/command/redeploy.go
Labels: nuctl

#3023 [Nuctl] Improve `redeploy` user experience
  pkg/nuctl/command/common/patchmanifest.go
  pkg/nuctl/command/common/patchmanifest_test.go
  pkg/nuctl/command/import.go
  pkg/nuctl/command/redeploy.go
Labels: nuctl

#2992 [Docs] Local docker development
  docs/devel/local-docker-development.md
Labels: docs

#3025 [CI] Security Scan - use grype instead of trivy and print results
  .github/workflows/security_scan.yaml
Labels: ci

#3024 [Controller] Allow redeploying function as Scaled To Zero
  pkg/functionconfig/types.go
  pkg/platform/kube/client/deployer.go
  pkg/platform/kube/controller/nucliofunction.go
  pkg/platform/kube/test/platform_test.go
Labels: platform/kube, configuration, platform

#3028 [Nuctl] Add flag to export with previous state
  pkg/common/headers/headers.go
  pkg/common/types.go
  pkg/dashboard/resource/function.go
  pkg/dashboard/resource/project.go
  pkg/dashboard/resource/resource.go
  pkg/dashboard/test/server_test.go
  pkg/functionconfig/types.go
  pkg/nuctl/command/common/renderers.go
  pkg/nuctl/command/export.go
  pkg/nuctl/command/get.go
Labels: nuctl, configuration, dashboard/resources
