Repository nuclio/nuclio, pull requests merged in 2023-12, with the labels that each got.

#3080 [Docs] Add copy button
  docs/concepts/k8s/function-ingress.md
  docs/conf.py
  docs/devel/contributing.md
  docs/reference/runtimes/dotnetcore/dotnetcore-reference.md
  docs/reference/runtimes/shell/shell-reference.md
  docs/requirements.txt
  docs/setup/k8s/running-in-production-k8s.md
  docs/tasks/benchmarking.md
  docs/tasks/deploying-functions.md
  docs/tasks/quick-start.md
Labels: docs

#3082 [Docs] Fix title for SEO
  docs/index.md
Labels: docs

#3083 [Security] Fix vulnerabilities
  go.mod
  go.sum
  hack/scripts/benchmark/benchmark.py
  pkg/dashboard/functiontemplates/generator/generator.go
  pkg/processor/build/util/copy.go
  pkg/processor/build/util/untar.go
  pkg/processor/runtime/nodejs/js/wrapper.js
  pkg/processor/runtime/python/py/requirements/dev.txt
Labels: runtime/python, runtime/nodejs, go/modules

#3079 [Processor] [Python runtime][Docs] Split drain and termination flows
  cmd/processor/app/processor.go
  cmd/processor/app/processor_test.go
  docs/reference/runtimes/python/python-reference.md
  docs/reference/triggers/kafka.md
  pkg/processor/runtime/python/py/_nuclio_wrapper.py
  pkg/processor/runtime/python/py/requirements/common.txt
  pkg/processor/runtime/rpc/abstract.go
  pkg/processor/runtime/runtime.go
  pkg/processor/trigger/kafka/test/kafka_test.go
  pkg/processor/trigger/trigger.go
  pkg/processor/worker/allocator.go
  pkg/processor/worker/worker.go
  pkg/processor/worker/worker_test.go
  test/_functions/python/drain-hook/drain-hook.py
Labels: runtime/python, docs, trigger/kafka

#3085 [Test] Add test teardown to TestDrainHook
  pkg/processor/trigger/kafka/test/kafka_test.go
Labels: trigger/kafka

#3087 [Docs] Add build.flags to function reference
  docs/reference/function-configuration/function-configuration-reference.md
Labels: docs

#3088 [Build] Don't populate function source code for all code entry types
  pkg/nuctl/command/export.go
  pkg/platform/kube/test/platform_test.go
  pkg/processor/build/builder.go
Labels: platform/kube, nuctl, platform

#3092 [Processor] Block worker allocation if worker allocator is terminated
  .github/workflows/ci.yaml
  Makefile
  pkg/platform/kube/test/platform_test.go
  pkg/platform/kube/test/suite.go
  pkg/processor/trigger/http/trigger.go
  pkg/processor/worker/allocator.go
Labels: platform/kube, ci, platform, trigger/http

#3098 [Dependencies] Bump packages
  go.mod
  go.sum
Labels: go/modules

#3099 [V3IO] Implement GetTimestamp for v3io event
  go.mod
  go.sum
  pkg/processor/trigger/v3iostream/event.go
Labels: go/modules, trigger/v3iostream

#3097 [Deployment] Introduce init containers
  docs/reference/function-configuration/function-configuration-reference.md
  pkg/functionconfig/types.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/test/platform_test.go
  pkg/platformconfig/platformconfig.go
Labels: platform/kube, configuration, docs, platform

#3100 [FunctionConfig] Change sidecars type to a list of containers
  docs/reference/function-configuration/function-configuration-reference.md
  pkg/functionconfig/types.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/test/platform_test.go
Labels: platform/kube, configuration, docs, platform

#3101 [Dependencies] Bump v3io-go to v0.3.3
  go.mod
  go.sum
Labels: go/modules

#3102 [Docs] Update helm commands in kubernetes production
  docs/setup/k8s/running-in-production-k8s.md
Labels: docs
