Repository nuclio/nuclio, pull requests merged in 2023-02, with the labels that each got.

#2810 [API Gateway] Populate ingress with api gateway annotations
  pkg/platform/kube/apigatewayres/lazy.go
  pkg/platform/kube/test/platform_test.go
Labels: platform/kube, platform

#2818 [Platform] Support configurable default function invocation timeout
  hack/k8s/helm/nuclio/values.yaml
  pkg/dashboard/resource/invocation.go
  pkg/dashboard/test/server_test.go
  pkg/nuctl/command/invoke.go
  pkg/nuctl/test/function_test.go
  pkg/platformconfig/platformconfig.go
  pkg/platformconfig/types.go
Labels: nuctl, kubernetes/helm, configuration, dashboard/resources

#2820 CI - add `trivy` to scan container images / file system upon demand
  .github/workflows/ci.yaml
  .github/workflows/security_scan.yaml
  Makefile
  hack/scripts/ci/free-space.sh
Labels: ci

#2823 CI - enhance security scan feedback
  .github/workflows/security_scan.yaml
Labels: ci

#2824 CI - enhance security scan feedback take 2
  .github/workflows/security_scan.yaml
Labels: ci

#2825 CI - enhance security scan feedback take 3
  .github/workflows/security_scan.yaml
Labels: ci

#2826 Security - upgrade more packages during image build
  pkg/processor/build/runtime/dotnetcore/docker/onbuild/Dockerfile
  pkg/processor/build/runtime/golang/docker/onbuild/Dockerfile
  pkg/processor/build/runtime/java/docker/onbuild/Dockerfile
Labels: runtime/golang, runtime/java, runtime/dotnetcore

#2828 CI - fix workflow breakage
  .github/workflows/benchmark.yaml
  .github/workflows/ci.yaml
  .github/workflows/long_ci.yaml
  .github/workflows/periodic.yaml
  .github/workflows/release.yaml
Labels: long-ci-failed, ci

#2829 CI - undo cleanup script changes
  hack/scripts/ci/free-space.sh
Labels: ci

#2830 CI - release wrong order
  .github/workflows/release.yaml
Labels: ci

#2831 CI - Ensure go version from go.mod
  .github/workflows/benchmark.yaml
  .github/workflows/ci.yaml
  .github/workflows/long_ci.yaml
  .github/workflows/periodic.yaml
  .github/workflows/release.yaml
  pkg/processor/build/runtime/golang/test/golang_test.go
  pkg/processor/runtime/python/test/timeout_test.go
Labels: runtime/python, runtime/golang, ci

#2832 Bump alpine images to 3.17
  Makefile
  cmd/autoscaler/Dockerfile
  cmd/controller/Dockerfile
  cmd/dlx/Dockerfile
  docs/reference/runtimes/golang/golang-reference.md
  docs/tasks/deploy-functions-from-dockerfile.md
  pkg/platform/local/client/store.go
  pkg/platform/local/platform.go
  pkg/processor/build/runtime/golang/runtime.go
  pkg/processor/build/runtime/shell/runtime.go
Labels: platform/local, runtime/golang, runtime/shell, docs, platform

#2827 Runtime - upgrade dotnet to 6
  README.md
  README_zh.md
  docs/reference/runtimes/dotnetcore/dotnetcore-reference.md
  docs/reference/runtimes/dotnetcore/writing-a-dotnetcore-function.md
  hack/examples/README.md
  pkg/processor/build/runtime/dotnetcore/docker/onbuild/Dockerfile
  pkg/processor/build/runtime/dotnetcore/docker/onbuild/handler.csproj
  pkg/processor/build/runtime/dotnetcore/runtime.go
  pkg/processor/runtime/dotnetcore/test/_outputter/handler.csproj
  pkg/processor/runtime/dotnetcore/wrapper.csproj
Labels: long-ci-succeeded, runtime/dotnetcore, docs

#2833 [FunctionConfig] Validate autoscaling is supported by trigger
  go.mod
  go.sum
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
Labels: platform, go/modules

#2834 CI - Cache unstable builds
  .github/workflows/benchmark.yaml
  .github/workflows/ci.yaml
  .github/workflows/periodic.yaml
  .github/workflows/release.yaml
  .github/workflows/security_scan.yaml
  Makefile
  cmd/autoscaler/Dockerfile
  cmd/controller/Dockerfile
  cmd/dashboard/docker/Dockerfile
  cmd/dlx/Dockerfile
  cmd/processor/Dockerfile
  hack/docker/build/base-alpine/Dockerfile
  hack/docker/build/base/Dockerfile
  hack/docker/build/builder/Dockerfile
  pkg/processor/build/runtime/dotnetcore/docker/onbuild/Dockerfile
  pkg/processor/build/runtime/golang/docker/onbuild/Dockerfile
  pkg/processor/build/runtime/golang/docker/onbuild/Dockerfile.alpine
  pkg/processor/build/runtime/java/docker/onbuild/Dockerfile
  pkg/processor/build/runtime/nodejs/docker/onbuild/Dockerfile
  pkg/processor/build/runtime/python/docker/onbuild/Dockerfile
  pkg/processor/build/runtime/ruby/docker/onbuild/Dockerfile
  test/docker/Dockerfile
Labels: runtime/python, runtime/golang, runtime/java, runtime/nodejs, runtime/dotnetcore, runtime/ruby, ci

#2836 [Makefile] Fix xargs warnings
  .github/workflows/ci.yaml
  Makefile
Labels: ci

#2842 [CI] Update benchmark action
  .github/workflows/benchmark.yaml
Labels: ci

#2840 [Security] Be more strict with TLS verification
  Makefile
  docs/reference/triggers/kafka.md
  pkg/common/url.go
  pkg/opa/http.go
  pkg/platform/kube/resourcescaler/resourcescaler.go
  pkg/platform/kube/resourcescaler/test/resourcescaler_test.go
  pkg/platform/kube/test/functional/platform_test.go
  pkg/processor/build/runtime/python/test/python_test.go
  pkg/processor/trigger/kafka/trigger.go
  pkg/processor/trigger/kafka/types.go
Labels: platform/kube, runtime/python, docs, platform, trigger/kafka

#2843 [FunctionConfig] Fix checking replica values instead of pointers
  pkg/platform/abstract/platform.go
Labels: platform

#2844 [FunctionConfig] Check nil before validating replicas
  pkg/platform/abstract/platform.go
Labels: platform

#2845 [Kube] Tweak function readiness probes
  pkg/platform/kube/functionres/lazy.go
Labels: platform/kube, platform
