Repository nuclio/nuclio, pull requests merged in 2023-03, with the labels that each got.

#2848 [Ingress] Set default TLS secret in iguazio systems [1.9.x]
  pkg/nuctl/test/function_test.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/functionres/lazy_test.go
  pkg/platformconfig/platformconfig.go
  pkg/platformconfig/types.go
  pkg/processor/build/runtime/shell/runtime.go
Labels: platform/kube, runtime/shell, configuration, platform

#2849 [Ingress] Set default TLS secret in iguazio systems [1.10.x]
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/functionres/lazy_test.go
  pkg/platformconfig/platformconfig.go
  pkg/platformconfig/types.go
Labels: platform/kube, configuration, platform

#2838 Revert "Impl [UI] nuclio scale-up metrics (#2789)"
  pkg/dashboard/ui/src/app/app.run.js
Labels: area/ui

#2839 [Ingress] Enrich function ingresses with platform TLS secret and ssl redirect
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/functionres/lazy_test.go
Labels: platform/kube, platform

#2858 [Release] Only run release job on main fork
  .github/workflows/release.yaml
Labels: ci

#2857 [Invoke] Add option to skip tls verification
  cmd/dashboard/README.md
  pkg/dashboard/resource/invocation.go
  pkg/nuctl/command/invoke.go
  pkg/platform/abstract/invoker.go
  pkg/platform/types.go
Labels: nuctl, dashboard/resources, platform

#2859 [Invoke] Add option to skip tls verification [1.9.x]
  cmd/dashboard/README.md
  pkg/dashboard/resource/invocation.go
  pkg/nuctl/command/invoke.go
  pkg/platform/abstract/invoker.go
  pkg/platform/types.go
Labels: nuctl, dashboard/resources, platform

#2860 [Invoke] Add option to skip tls verification [1.10.x]
  cmd/dashboard/README.md
  pkg/dashboard/resource/invocation.go
  pkg/nuctl/command/invoke.go
  pkg/platform/abstract/invoker.go
  pkg/platform/types.go
Labels: nuctl, dashboard/resources, platform

#2863 [CI] Fix long-ci not using buildkit
  .github/workflows/long_ci.yaml
Labels: ci

#2862 [Kubernetes] Bump recommended version to 1.24
  .github/workflows/ci.yaml
  Makefile
  cmd/dashboard/docker/Dockerfile
  docs/devel/local-development.md
  go.mod
  go.sum
  pkg/common/strings.go
  pkg/platform/kube/test/functional/platform_test.go
  pkg/platform/kube/test/platform_test.go
  test/docker/Dockerfile
Labels: platform/kube, long-ci-succeeded, docs, ci, platform, go/modules

#2866 [Local] Support providing function cpu and memory
  docs/reference/function-configuration/function-configuration-reference.md
  pkg/dockerclient/shell.go
  pkg/dockerclient/types.go
  pkg/platform/local/platform.go
  pkg/platform/local/platform_test.go
Labels: platform/local, long-ci-succeeded, docs, platform

#2861 [Kube] Initialize container image builder pusher only when needed
  .github/workflows/ci.yaml
  pkg/dashboard/resource/frontendspec.go
  pkg/platform/abstract/platform.go
  pkg/platform/kube/controller/test/controller_test.go
  pkg/platform/kube/platform.go
  pkg/platform/local/platform.go
  pkg/platform/mock/platform.go
  pkg/platform/platform.go
Labels: platform/kube, platform/local, long-ci-succeeded, dashboard/resources, ci, platform

#2868 [Local] Support providing devices
  docs/reference/function-configuration/function-configuration-reference.md
  pkg/dockerclient/shell.go
  pkg/dockerclient/types.go
  pkg/functionconfig/types.go
  pkg/platform/local/platform.go
Labels: platform/local, long-ci-succeeded, configuration, docs, platform

#2870 [RabbitMQ] Use prefetch from configuration
  docs/reference/triggers/rabbitmq.md
  pkg/processor/trigger/rabbitmq/trigger.go
  pkg/processor/trigger/rabbitmq/types.go
Labels: docs, trigger/rabbitmq

#2872 [Issues] Update slack invite link
  .github/ISSUE_TEMPLATE/config.yml
Labels: ci

#2871 [Deploy] Always create function secret
  cmd/processor/app/processor.go
  pkg/common/consts.go
  pkg/functionconfig/scrubber.go
  pkg/platform/kube/client/deployer.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/test/platform_test.go
  pkg/processor/trigger/kafka/factory.go
  pkg/processor/trigger/pubsub/factory.go
  pkg/processor/trigger/v3iostream/factory.go
Labels: platform/kube, configuration, platform, trigger/v3iostream, trigger/kafka, trigger/pubsub

#2875 [Kubernetes] Use HPA v2 instead of deprecated v2beta1
  pkg/functionconfig/types.go
  pkg/platform/abstract/platform.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/functionres/lazy_test.go
  pkg/platform/kube/functionres/types.go
  pkg/platformconfig/platformconfig.go
Labels: platform/kube, configuration, platform

#2878 Replace `github.com/ghodss/yaml` with `sigs.k8s.io/yaml`
  go.mod
  go.sum
  pkg/dashboard/functiontemplates/basefunctiontemplatefetcher.go
  pkg/dashboard/functiontemplates/generated.go
  pkg/dashboard/functiontemplates/generatedfunctiontemplatefetcher.go
  pkg/dashboard/functiontemplates/generator/generator.go
  pkg/dashboard/functiontemplates/render.go
  pkg/functionconfig/reader.go
  pkg/functionconfig/reader_test.go
  pkg/nuctl/command/common/helpers.go
  pkg/nuctl/test/function_test.go
  pkg/nuctl/test/project_test.go
  pkg/nuctl/test/suite.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/test/suite.go
  pkg/platform/local/platform.go
  pkg/platformconfig/reader.go
  pkg/processor/build/runtime/java/types.go
  pkg/processor/config/reader.go
  pkg/processor/config/writer.go
Labels: platform/kube, platform/local, runtime/java, nuctl, configuration, platform, go/modules

#2879 [Scrubber] Convert function config to map when restoring
  pkg/functionconfig/scrubber.go
  pkg/functionconfig/scrubber_test.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/test/platform_test.go
  pkg/platformconfig/platformconfig.go
Labels: platform/kube, configuration, platform
