Repository nuclio/nuclio, pull requests merged in 2024-11, with the labels that each got.

#3396 [Docs] Remove md emoji
  docs/reference/function-configuration/batching.md
Labels: docs

#3399 [Docs] Remove `partitions` configuration from Kafka trigger doc
  docs/reference/triggers/kafka.md
Labels: docs

#3404 [Docs] Format local development
  docs/devel/local-development.md
Labels: docs

#3403 [Docs] Introducing Nuclio Guru on Gurubase.io
  .github/styles/Nuclio/ignore.txt
  README.md
Labels: ci

#3406 [Dockerfile] Support configurable python and uhttpc base image
  Makefile
  cmd/dashboard/docker/Dockerfile
  pkg/processor/build/runtime/python/docker/onbuild/Dockerfile
Labels: runtime/python

#3407 [Releaser] Support `git` repository scheme
  hack/scripts/releaser/releaser.go
Labels: releaser

#3408 [Nuctl] Fix config enrichment if file isn't passed explicitely
  pkg/nuctl/command/deploy.go
  pkg/nuctl/test/function_test.go
  pkg/processor/build/builder.go
  test/_functions/common/json-parser-with-function-config/python/function.yaml
Labels: nuctl

#3411 [Processor] Unsubscribe only in ExplicitAckMode
  pkg/processor/trigger/kafka/trigger.go
  pkg/processor/trigger/v3iostream/trigger.go
Labels: trigger/v3iostream, trigger/kafka

#3413 [Processor] Unsubscribe only in ExplicitAckMode [1.13.x]
  pkg/processor/trigger/kafka/trigger.go
  pkg/processor/trigger/v3iostream/trigger.go
Labels: trigger/v3iostream, trigger/kafka
