Repository nuclio/nuclio, pull requests merged in 2024-04, with the labels that each got.

#3211 [Docs] Fix broken link in the docs
  docs/setup/aks/getting-started-aks.md
Labels: docs

#3214 [Nuctl] Add more detailed fail description for patch manifest
  pkg/nuctl/command/common/patchmanifest.go
  pkg/nuctl/command/common/patchmanifest_test.go
Labels: nuctl

#3216 [Controller] Populate init and sidecar containers when updating a function
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/test/platform_test.go
Labels: platform/kube, platform

#3217 [Controller] Allow multiple gateways assigned to one Nuclio function
  pkg/platform/kube/apigatewayres/lazy.go
  pkg/platform/kube/test/platform_test.go
Labels: platform/kube, platform

#3212 [Scrubber] API Gateway Scrubber
  cmd/processor/app/processor.go
  pkg/common/scrubber.go
  pkg/functionconfig/scrubber.go
  pkg/functionconfig/scrubber_test.go
  pkg/functionconfig/types.go
  pkg/platform/apigateway.go
  pkg/platform/apigateway_test.go
  pkg/platform/kube/client/deployer.go
  pkg/platform/types.go
Labels: platform/kube, configuration, platform

#3215 [Platform] Add platform configuration to merge platform's default node selectors with project's node selectors
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
  pkg/platformconfig/types.go
Labels: platform/kube, configuration, platform

#3219 [Platform] Fix default http trigger enrichment
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
Labels: platform

#3218 [Dashboard] Return nuclio.ErrAccepted instead of nil when we don't redeploy function because it is not imported
  pkg/dashboard/resource/function.go
  pkg/dashboard/test/server_test.go
Labels: dashboard/resources

#3221 [Controller] Populate init and sidecar containers when updating a function [1.12.x]
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/test/platform_test.go
Labels: platform/kube, platform

#3220 [v3iostream] Remove `GetPath` implementation from v3iostream event
  pkg/processor/trigger/v3iostream/event.go
Labels: trigger/v3iostream

#3223 [UI] Bump "DC" version
  pkg/dashboard/ui/package.json
Labels: area/ui

#3222 [v3iostream] Remove `GetPath` implementation from v3iostream event [1.12.x]
  pkg/processor/trigger/v3iostream/event.go
Labels: trigger/v3iostream

#3227 [Dependencies] Bump v3io-go to v0.3.4
  go.mod
  go.sum
Labels: go/modules

#3232 [Function] Support getting log stream from a specific container
  .github/workflows/ci.yaml
  docs/reference/api/README.md
  pkg/dashboard/resource/function.go
  pkg/platform/kube/platform.go
  pkg/platform/local/platform.go
  pkg/platform/mock/platform.go
  pkg/platform/platform.go
  pkg/platform/types.go
Labels: platform/kube, platform/local, dashboard/resources, docs, ci, platform

#3233 [UI] Bump iguazio.dashboard-controls to `1.0.4`
  pkg/dashboard/ui/package.json
Labels: area/ui
