Repository nuclio/nuclio, pull requests merged in 2024-01, with the labels that each got.

#3105 [Worker] Check if worker allocator is terminated in static allocation mode
  pkg/processor/trigger/kafka/trigger.go
  pkg/processor/trigger/trigger.go
  pkg/processor/util/partitionworker/allocator.go
  pkg/processor/worker/allocator.go
Labels: trigger/kafka

#3106 [Nuctl] Change error handling logic for function import
  pkg/nuctl/command/beta.go
  pkg/nuctl/command/import.go
  pkg/nuctl/command/nuctl.go
  pkg/nuctl/command/redeploy.go
Labels: nuctl

#3109 [*] Replace all labels with constants
  pkg/common/consts.go
  pkg/common/k8s.go
  pkg/dashboard/resource/functionevent.go
  pkg/dashboard/resource/project.go
  pkg/dashboard/test/server_test.go
  pkg/nuctl/command/common/renderers.go
  pkg/nuctl/command/create.go
  pkg/nuctl/command/export.go
  pkg/nuctl/command/get.go
  pkg/nuctl/test/project_test.go
  pkg/platform/abstract/platform_test.go
  pkg/platform/kube/client/function.go
  pkg/platform/kube/controller/cronjobmonitoring.go
  pkg/platform/kube/controller/evictedpodsmonitoring.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/functionres/lazy_test.go
  pkg/platform/kube/ingress/ingress.go
  pkg/platform/kube/platform_test.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/kube/test/suite.go
  pkg/platform/local/client/store.go
  pkg/platformconfig/platformconfig_test.go
Labels: platform/kube, platform/local, nuctl, configuration, dashboard/resources, platform

#3113 [Lint] Add `unused` linter
  .golangci.yml
  cmd/processor/app/processor.go
  hack/scripts/releaser/releaser.go
  pkg/dashboard/resource/resource.go
  pkg/dashboard/test/server_test.go
  pkg/functionconfig/scrubber.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/test/functional/platform_test.go
  pkg/processor/build/builder.go
  pkg/processor/build/runtime/java/test/java_test.go
  pkg/processor/runtime/golang/test/timeout_test.go
  pkg/processor/runtime/rpc/abstract.go
  pkg/processor/runtime/rpc/rpc_test.go
  pkg/processor/trigger/kafka/test/kafka_test.go
  pkg/processor/trigger/poller/trigger.go
  pkg/processor/trigger/poller/v3ioitempoller/trigger.go
  pkg/restful/resource_test.go
Labels: platform/kube, runtime/golang, runtime/java, releaser, configuration, dashboard/resources, platform, trigger/kafka, trigger/poller

#3112 [Nuctl] Autofix function import failure
  pkg/nuctl/command/import.go
  pkg/nuctl/test/function_test.go
  test/_imports/autofixable_function.yaml
Labels: nuctl

#3117 [Lint] Replace impi with gci import linter
  .golangci.yml
  Makefile
  cmd/autoscaler/app/autoscaler.go
  cmd/controller/app/controller.go
  cmd/dashboard/app/run.go
  cmd/dashboard/main.go
  cmd/dlx/app/dlx.go
  cmd/processor/app/processor.go
  cmd/processor/app/processor_test.go
  cmd/processor/main.go
  pkg/dashboard/test/server_test.go
  pkg/nuctl/command/nuctl.go
  pkg/platform/kube/apis/nuclio.io/v1beta1/register.go
  pkg/platform/kube/client/consumer.go
  pkg/platform/kube/client/deleter.go
  pkg/platform/kube/client/getter.go
  pkg/processor/build/builder.go
Labels: platform/kube, nuctl, platform

#3116 [Processor] Delete isDrained flag from runtime
  pkg/processor/runtime/rpc/abstract.go
  pkg/processor/runtime/rpc/abstract_test.go
Labels: bug

#3118 [HTTP] Handle internal healthcheck before request validation
  pkg/processor/trigger/http/trigger.go
Labels: trigger/http

#3110 [Nuctl] Generate a report for nuctl import
  pkg/nuctl/command/common/helpers.go
  pkg/nuctl/command/common/importreport.go
  pkg/nuctl/command/common/patchmanifest.go
  pkg/nuctl/command/common/report.go
  pkg/nuctl/command/import.go
  pkg/nuctl/test/function_test.go
  pkg/nuctl/test/suite.go
  test/_imports/project_with_wrong_conf.yaml
Labels: nuctl

#3119 [Python] Fix duplicate event on drain callback
  pkg/processor/runtime/python/py/_nuclio_wrapper.py
Labels: runtime/python

#3121 [Nuctl] Allow force-deleting resources
  pkg/common/helper.go
  pkg/nuctl/command/delete.go
  pkg/nuctl/test/function_test.go
  pkg/nuctl/test/suite.go
  pkg/platformconfig/platformconfig.go
Labels: nuctl, configuration

#3123 [Dependencies] Bump nuclio-sdk-py version to v0.5.9
  pkg/processor/runtime/python/py/requirements/common.txt
Labels: runtime/python

#3126 [Nuctl] Lowercase report fields and report error cause
  pkg/nuctl/command/common/importreport.go
  pkg/nuctl/command/import.go
  pkg/nuctl/test/function_test.go
  test/_imports/project_with_wrong_conf.yaml
Labels: nuctl

#3120 [Processor] Stop processing events on draining and send signal to continue processing
  cmd/processor/app/processor.go
  cmd/processor/app/processor_test.go
  pkg/processor/runtime/python/py/_nuclio_wrapper.py
  pkg/processor/runtime/rpc/abstract.go
  pkg/processor/runtime/runtime.go
  pkg/processor/trigger/kafka/trigger.go
  pkg/processor/trigger/trigger.go
  pkg/processor/worker/allocator.go
  pkg/processor/worker/worker.go
  pkg/processor/worker/worker_test.go
Labels: runtime/python, trigger/kafka

#3128 [Processor] Introduce a fail counter for tracking the number of failed attempts during SIGCONT signaling
  pkg/processor/runtime/python/py/_nuclio_wrapper.py
  pkg/processor/trigger/kafka/trigger.go
Labels: runtime/python, trigger/kafka

#3125 [Processor] NUC-18 add `topic` property to event
  go.mod
  go.sum
  pkg/processor/cloudevent/mockevent.go
  pkg/processor/cloudevent/wrappedevent.go
  pkg/processor/runtime/rpc/encode.go
  pkg/processor/runtime/rpc/encode_json_test.go
  pkg/processor/trigger/kafka/event.go
  pkg/processor/trigger/v3iostream/event.go
  pkg/processor/trigger/v3iostream/trigger.go
  test/_functions/golang/with-modules/go.mod
  test/_functions/golang/with-modules/go.sum
Labels: go/modules, trigger/v3iostream, trigger/kafka

#3130 [Platform] Move function name validation from resource to platform
  pkg/dashboard/resource/function.go
  pkg/dashboard/test/server_test.go
  pkg/nuctl/test/function_test.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
Labels: dashboard/resources, platform

#3127 [Local] Allow disabling port publishing on host network
  docs/reference/triggers/http.md
  pkg/dockerclient/shell.go
  pkg/dockerclient/types.go
  pkg/platform/local/platform.go
  pkg/platform/local/test/platform_test.go
  pkg/processor/trigger/http/types.go
  pkg/processor/trigger/kafka/test/kafka_test.go
Labels: platform/local, docs, platform, trigger/kafka, trigger/http

#3122 [Nuctl][Dashboard] Move autofix functionality to platform side
  pkg/common/headers/headers.go
  pkg/dashboard/resource/function.go
  pkg/functionconfig/types.go
  pkg/nuctl/command/common/importreport.go
  pkg/nuctl/command/import.go
  pkg/platform/abstract/platform.go
  pkg/platform/kube/platform.go
  pkg/platform/local/platform.go
  pkg/platform/mock/platform.go
  pkg/platform/types.go
Labels: platform/kube, platform/local, nuctl, configuration, dashboard/resources, platform

#3133 Revert "[Platform] Move function name validation from resource to platform"
  pkg/dashboard/resource/function.go
  pkg/dashboard/test/server_test.go
  pkg/nuctl/test/function_test.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
Labels: dashboard/resources, platform

#3134 [CI] Add slack notification for periodic failures
  .github/workflows/periodic.yaml
Labels: ci

#3129 [Nuctl] Introduce nuctl parse
  pkg/nuctl/command/common/importreport.go
  pkg/nuctl/command/common/report.go
  pkg/nuctl/command/import.go
  pkg/nuctl/command/nuctl.go
  pkg/nuctl/command/parse.go
  pkg/nuctl/test/function_test.go
  pkg/nuctl/test/project_test.go
  test/_imports/expected-nuctl-parse-output.txt
  test/_imports/import-project-report.json
Labels: nuctl

#3136 [CI] Add token to slack notification step
  .github/workflows/periodic.yaml
Labels: ci

#3135 [Python] Always use nonblocking socket calls
  pkg/processor/runtime/python/py/_nuclio_wrapper.py
Labels: runtime/python, long-ci-started

#3141 [CI] Periodic slack notification - Replace workflow url with run url
  .github/workflows/periodic.yaml
Labels: ci

#3143 [Docs] Update old doc site links
  .github/workflows/ci.yaml
  README.md
  README_zh.md
Labels: ci

#3144 [Docs] Fix cross reference links
  docs/reference/api-gateway/http.md
  docs/reference/api-gateway/nuctl.md
  docs/reference/api-gateway/ui.md
  docs/reference/function-configuration/code-entry-types.md
  docs/reference/function-configuration/function-configuration-reference.md
  docs/reference/nuctl/nuctl.md
  docs/reference/runtimes/python/python-reference.md
  docs/reference/triggers/cron.md
  docs/reference/triggers/http.md
  docs/setup/gke/getting-started-gke.md
  docs/setup/k8s/getting-started-k8s.md
  docs/setup/minikube/getting-started-minikube.md
  docs/tasks/deploy-functions-from-dockerfile.md
  docs/tasks/deploying-functions.md
Labels: docs

#3148 [Python] Delete reference to event as soon as possible
  pkg/processor/runtime/python/py/_nuclio_wrapper.py
Labels: runtime/python

#3146 [Test] Add logs to Nuctl test suite teardown
  pkg/nuctl/command/common/helpers.go
  pkg/nuctl/test/project_test.go
  pkg/nuctl/test/suite.go
  pkg/platform/abstract/platform.go
Labels: nuctl, long-ci-started, platform

#3149 [Dashboard] Support email in username label
  cmd/dashboard/app/run.go
  pkg/auth/iguazio/auth.go
  pkg/platform/abstract/platform.go
  pkg/platform/kube/platform_test.go
Labels: platform/kube, platform

#3152 [Docs] Add sensitive fields reference to platform configuration
  docs/tasks/configuring-a-platform.md
Labels: docs
