Repository nuclio/nuclio, pull requests merged in 2024-08, with the labels that each got.

#3301 [Builder] Enrich Kaniko's NodeSelector with project and platform values
  .github/workflows/ci.yaml
  pkg/common/k8s.go
  pkg/nuctl/test/suite.go
  pkg/platform/kube/apis/nuclio.io/v1beta1/types.go
  pkg/processor/build/builder.go
Labels: platform/kube, ci, platform

#3303 Revert "[Builder] Enrich Kaniko's NodeSelector with project and platform values (#3301)"
  .github/workflows/ci.yaml
  pkg/common/k8s.go
  pkg/nuctl/test/suite.go
  pkg/platform/kube/apis/nuclio.io/v1beta1/types.go
  pkg/processor/build/builder.go
Labels: platform/kube, ci, platform

#3305 [CI] Do not fail-fast in k8s tests
  .github/workflows/ci.yaml
Labels: ci

#3304 [Builder] Enrich Kaniko's NodeSelector with project and platform values
  pkg/common/k8s.go
  pkg/nuctl/test/suite.go
  pkg/platform/kube/apis/nuclio.io/v1beta1/types.go
  pkg/processor/build/builder.go
Labels: platform/kube, platform

#3306 [Controller] Don't override default container annotation if exists [1.13.x]
  pkg/platform/kube/functionres/lazy.go
Labels: platform/kube, platform

#3309 [Controller] Don't override default container annotation if exists
  pkg/platform/kube/functionres/lazy.go
Labels: platform/kube, platform

#3311 [Logs][Docs] Change log level from debug to warning and adds workerTerminationTimeout docs
  docs/reference/function-configuration/function-configuration-reference.md
  docs/reference/triggers/kafka.md
  pkg/functionconfig/types.go
  pkg/processor/trigger/kafka/trigger.go
Labels: configuration, docs, trigger/kafka

#3314 [Dashboard] Add path validation for api gateway
  pkg/common/url.go
  pkg/common/url_test.go
  pkg/nuctl/test/apigagteway_test.go
  pkg/platform/kube/apigateway.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
Labels: platform/kube, platform

#3315 [Dashboard] Add path validation for api gateway [1.13.x]
  pkg/common/url.go
  pkg/common/url_test.go
  pkg/nuctl/test/apigagteway_test.go
  pkg/platform/kube/apigateway.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
Labels: platform/kube, platform

#3313 [Dashboard] Fix function deletion if function was deployed with spaces in names
  pkg/common/helper.go
  pkg/dockerclient/shell.go
  pkg/nuctl/test/function_test.go
  pkg/platform/local/client/store.go
  test/_function_configs/error/wrong-name/function.json
Labels: platform/local, platform

#3317 [Dashboard/Controller] Remove ignorePlatformIfProjectNodeSelectors parameter [1.13.x]
  pkg/platform/kube/controller/nucliofunction.go
  pkg/platformconfig/types.go
  pkg/processor/build/builder.go
Labels: platform/kube, configuration, platform

#3316 [Docs] Check for broken links
  .github/styles/Nuclio/ignore.txt
  .github/workflows/docs-language-linter.yml
  Makefile
  README.md
  README_zh.md
  docs/Makefile
  docs/concepts/best-practices-and-common-pitfalls.md
  docs/concepts/k8s/function-ingress.md
  docs/conf.py
  docs/examples/README.md
  docs/index.md
  docs/reference/api-gateway/nuctl.md
  docs/reference/api-gateway/ui.md
  docs/reference/function-configuration/code-entry-types.md
  docs/reference/nuctl/nuctl.md
  docs/reference/runtimes/dotnetcore/dotnetcore-reference.md
  docs/reference/runtimes/python/python-reference.md
  docs/reference/triggers/cron.md
  docs/reference/triggers/kafka.md
  docs/reference/triggers/mqtt.md
  docs/requirements.txt
  docs/setup/aks/getting-started-aks.md
  docs/setup/aks/setup-aks-appinsights-grafana.md
  docs/setup/docker/getting-started-docker.md
  docs/setup/gke/getting-started-gke.md
  docs/setup/k8s/getting-started-k8s.md
  docs/setup/minikube/getting-started-minikube.md
  docs/tasks/configuring-a-platform.md
  docs/tasks/deploy-functions-from-dockerfile.md
  docs/tasks/deploying-functions.md
  docs/tasks/quick-start.md
Labels: docs, ci

#3324 [API Gateways] Fix filtering api gateways by project
  pkg/platform/kube/platform.go
Labels: platform/kube, platform

#3322 [UI] Allow creating more than 1 gateway per function
  pkg/dashboard/ui/package.json
Labels: bug, area/ui

#3323 [UI] Allow creating more than 1 gateway per function `1.13.x`
  pkg/dashboard/ui/package.json
Labels: bug, area/ui

#3331 [Dependencies] Bump v3io-go to v0.3.8 [1.13.x]
  go.mod
  go.sum
Labels: go/modules
