Repository nuclio/nuclio, pull requests merged in 2024-03, with the labels that each got.

#3184 [Security] Remedy vulnerabilities
  go.mod
  go.sum
  hack/examples/golang/image/main.go
  hack/scripts/benchmark/benchmark.py
  hack/scripts/minikube/push_images.py
  pkg/auth/iguazio/auth.go
  pkg/auth/types.go
  pkg/common/helper.go
  pkg/common/helper_test.go
  pkg/dashboard/resource/invocation.go
  pkg/nuctl/client/api.go
  pkg/platform/abstract/invoker.go
  pkg/platform/abstract/project/external/leader/iguazio/client.go
Labels: long-ci-succeeded, dashboard/resources, platform, go/modules

#3185 [Docs] Beautify tables
  docs/conf.py
Labels: docs

#3188 [Docs] Add `markdown` library to requirements
  docs/requirements.txt
Labels: docs

#3190 [Docs] Add `markdown` library to requirements [1.12.x]
  docs/requirements.txt
Labels: docs

#3189 [Build] Update `archiver` package
  go.mod
  go.sum
  pkg/processor/build/builder.go
  pkg/processor/build/builder_test.go
  pkg/processor/build/runtime/test/suite/suite.go
  pkg/processor/build/util/decompress.go
  pkg/processor/build/util/unarchive.go
  pkg/processor/build/util/unarchive_test.go
  test/_archives/test.7z
  test/_archives/test.json
  test/_archives/test.rar
  test/_archives/test.tar
  test/_archives/test.tar.bz2
  test/_archives/test.tar.gz
  test/_archives/test.tar.lzma
  test/_archives/test.tar.sz
  test/_archives/test.tar.xz
  test/_archives/test.txt
  test/_archives/test.zip
Labels: go/modules

#3191 [Test] Fix runtime archive tests
  pkg/processor/build/runtime/test/suite/suite.go
Labels: long-ci-started

#3193 [Kafka] Remove support for TLS version 1.0 and 1.1
  pkg/processor/trigger/kafka/trigger.go
Labels: trigger/kafka, security

#3199 [Examples] Replace resizing module
  go.mod
  go.sum
  hack/examples/golang/image/main.go
Labels: go/modules

#3201 [Scripts] Patch - Resolve tag from remote if empty
  hack/scripts/patch-remote/patch_env_template.yml
  hack/scripts/patch-remote/patch_remote.py
  pkg/processor/runtime/python/py/test_wrapper.py
  pkg/processor/trigger/kafka/trigger.go
Labels: runtime/python, trigger/kafka

#3204 [Dashboard] Allow passing empty API gateway host
  pkg/common/consts.go
  pkg/platform/kube/functionres/lazy_test.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
Labels: platform/kube, platform
