Repository nuclio/nuclio, pull requests merged in 2024-07, with the labels that each got.

#3272 [Local] Fix condition when dashboard does not check function readiness
  pkg/platform/local/platform.go
Labels: platform/local, platform

#3276 [Local] Fix condition when dashboard does not check function readiness [1.13.x]
  pkg/platform/local/platform.go
Labels: platform/local, platform

#3274 [Tests] Optimize test running time
  pkg/platform/kube/test/platform_test.go
Labels: platform/kube, platform

#3280 [Docs] Fix nuctl docs link
  docs/reference/nuctl/index.rst
Labels: docs

#3277 [Tests] Split platform tests and add new tag `test_functions_kube`
  .github/workflows/ci.yaml
  Makefile
  pkg/platform/kube/controller/test/controller_test.go
  pkg/platform/kube/monitoring/test/function_test.go
  pkg/platform/kube/resourcescaler/test/resourcescaler_test.go
  pkg/platform/kube/test/apigateway/api_gateway_test.go
  pkg/platform/kube/test/function/function_test.go
  pkg/platform/kube/test/project/project_test.go
  pkg/platform/kube/test/suite/suite.go
Labels: platform/kube, ci, platform

#3284 [Ingress] Override ssl redirect annotation only if it is not set
  pkg/platform/kube/ingress/ingress.go
Labels: platform/kube, platform

#3285 [Ingress] Override ssl redirect annotation only if it is not set
  pkg/platform/kube/ingress/ingress.go
Labels: platform/kube, platform

#3281 [Docs] Introduce linter for documentation
  .github/styles/Nuclio/Spellings.yml
  .github/styles/Nuclio/gender.yml
  .github/styles/Nuclio/ignore.txt
  .github/workflows/docs-language-linter.yml
  .vale.ini
  README_zh.md
  docs/devel/contributing.md
  docs/devel/local-development.md
  docs/reference/api/README.md
  docs/reference/function-configuration/code-entry-types.md
  docs/reference/function-configuration/function-configuration-reference.md
  docs/reference/nuctl/cli/nuctl.md
  docs/reference/nuctl/cli/nuctl_beta.md
  docs/reference/nuctl/cli/nuctl_beta_redeploy.md
  docs/reference/nuctl/nuctl.md
  docs/reference/triggers/kafka.md
  docs/reference/triggers/mqtt.md
  docs/reference/triggers/v3iostream.md
  docs/setup/aks/getting-started-aks.md
  docs/setup/k8s/running-in-production-k8s.md
  docs/tasks/benchmarking.md
  docs/tasks/configuring-a-platform.md
  docs/tasks/deploying-functions.md
  docs/tasks/deploying-pre-built-functions.md
  hack/scripts/patch-remote/README.md
  pkg/dashboard/ui/README.md
  pkg/nuctl/command/beta.go
Labels: area/ui, nuctl, docs, ci

#3283 [NodeSelector] Change NodeSelector enrichment logic
  pkg/functionconfig/types.go
  pkg/platform/kube/apis/nuclio.io/v1beta1/types.go
  pkg/platform/kube/apis/nuclio.io/v1beta1/types_test.go
  pkg/platform/kube/controller/nucliofunction.go
  pkg/platform/kube/controller/nucliofunction_test.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
Labels: platform/kube, configuration, platform

#3288 [NodeSelector] Change NodeSelector enrichment logic [1.13.x]
  pkg/functionconfig/types.go
  pkg/platform/kube/apis/nuclio.io/v1beta1/types.go
  pkg/platform/kube/apis/nuclio.io/v1beta1/types_test.go
  pkg/platform/kube/controller/nucliofunction.go
  pkg/platform/kube/controller/nucliofunction_test.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
Labels: platform/kube, configuration, platform

#3287 [UI] Allow the user to disable the automatic http trigger creation
  pkg/dashboard/ui/package.json
  pkg/dashboard/ui/src/app/app.run.js
Labels: enhancement, area/ui

#3291 [UI] Display enriched node selector on status screen
  pkg/dashboard/ui/src/app/app.run.js
Labels: area/ui

#3297 [UI] Bump DC version `1.0.9-1.13.x`
  pkg/dashboard/ui/package.json
  pkg/dashboard/ui/src/app/app.run.js
Labels: area/ui
