Repository nuclio/nuclio, pull requests merged in 2024-06, with the labels that each got.

#3254 [Invocation] Make sanitization configurable
  pkg/common/headers/headers.go
  pkg/dashboard/resource/invocation.go
Labels: dashboard/resources

#3255 [Dashboard] Return NewErrBadRequest when api gateway name validation failed
  pkg/platform/kube/platform.go
Labels: platform/kube, platform

#3258 [Dashboard] Do not check containers readiness when function is disabled
  pkg/platform/local/platform.go
Labels: platform/local, platform

#3244 [Batcher] Add ability to send batched http requests to runtime
  cmd/processor/app/processor_test.go
  pkg/common/types.go
  pkg/functionconfig/types.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/processor/runtime/golang/runtime.go
  pkg/processor/runtime/python/py/requirements/common.txt
  pkg/processor/runtime/rpc/abstract.go
  pkg/processor/runtime/rpc/abstract_test.go
  pkg/processor/runtime/rpc/encode.go
  pkg/processor/runtime/rpc/encode_json.go
  pkg/processor/runtime/rpc/encode_msgpack.go
  pkg/processor/runtime/runtime.go
  pkg/processor/runtime/shell/runtime.go
  pkg/processor/runtime/types.go
  pkg/processor/trigger/batcher.go
  pkg/processor/trigger/http/test/suite/http_test.go
  pkg/processor/trigger/http/test/suite/suite.go
  pkg/processor/trigger/http/trigger.go
  pkg/processor/trigger/kafka/trigger.go
  pkg/processor/trigger/nats/trigger.go
  pkg/processor/trigger/trigger.go
  pkg/processor/worker/worker.go
  pkg/processor/worker/worker_test.go
  test/_functions/python/batch/batch-http-func.py
Labels: runtime/python, runtime/golang, runtime/shell, configuration, platform, trigger/kafka, trigger/http, trigger/nats, 1.14

#3253 [Docs] Add batching documentation
  docs/reference/function-configuration/batching.md
  docs/reference/function-configuration/function-configuration-reference.md
  docs/reference/index.rst
Labels: docs, 1.14

#3262 [API Gateways] Add option to list API gateways associated with a specific function
  pkg/dashboard/resource/apigateway.go
  pkg/nuctl/command/get.go
  pkg/nuctl/test/apigagteway_test.go
  pkg/platform/kube/platform.go
  pkg/platform/types.go
Labels: platform/kube, nuctl, dashboard/resources, platform

#3263 [Local] Use docker copy instead of docker exec when saving function to a storage
  pkg/dockerclient/dockerclient.go
  pkg/dockerclient/mock.go
  pkg/dockerclient/shell.go
  pkg/platform/local/client/store.go
  pkg/platform/local/platform_test.go
Labels: platform/local, platform
