Repository nuclio/nuclio, pull requests merged in 2024-10, with the labels that each got.

#3381 [Docs] Update node selector documentation
  docs/reference/function-configuration/function-configuration-reference.md
Labels: docs

#3382 [Docs] Update node selector documentation [1.13.x]
  docs/reference/function-configuration/function-configuration-reference.md
Labels: docs

#3384 [LoggerSink] Support case-insensitive log levels
  .github/workflows/ci.yaml
  pkg/loggersink/types.go
Labels: ci

#3387 [Docs] Fix termination callback documentation
  docs/reference/runtimes/python/python-reference.md
Labels: docs

#3386 [Nuctl] Do not stop waiting for readiness after redeploy if function is unhealthy
  pkg/nuctl/command/redeploy.go
Labels: nuctl

#3389 Bump DC version `1.0.13`
  pkg/dashboard/ui/package.json
Labels: area/ui

#3390 [Processor] Change default handshake value to true
  pkg/processor/trigger/kafka/kafka_test.go
  pkg/processor/trigger/kafka/trigger.go
  pkg/processor/trigger/kafka/types.go
Labels: trigger/kafka
