Repository nuclio/nuclio, pull requests merged in 2024-05, with the labels that each got.

#3225 [Scrubber] API Gateway config scrubbing
  cmd/processor/app/processor.go
  docs/tasks/configuring-a-platform.md
  pkg/common/scrubber.go
  pkg/common/scrubber_test.go
  pkg/dashboard/resource/apigateway.go
  pkg/functionconfig/scrubber.go
  pkg/functionconfig/scrubber_test.go
  pkg/nuctl/command/export.go
  pkg/nuctl/command/nuctl.go
  pkg/nuctl/test/apigagteway_test.go
  pkg/nuctl/test/project_test.go
  pkg/platform/abstract/platform.go
  pkg/platform/apigateway.go
  pkg/platform/apigateway_test.go
  pkg/platform/kube/apigatewayres/lazy.go
  pkg/platform/kube/apigatewayres/lazy_test.go
  pkg/platform/kube/apigatewayres/types.go
  pkg/platform/kube/client/deployer.go
  pkg/platform/kube/controller/apigateway.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/local/platform.go
  pkg/platform/mock/platform.go
  pkg/platform/platform.go
  pkg/platform/types.go
Labels: platform/kube, platform/local, nuctl, configuration, dashboard/resources, docs, platform

#3235 [Controller] Replace selector only when function is ready
  pkg/common/consts.go
  pkg/platform/kube/client/deployer.go
  pkg/platform/kube/controller/nucliofunction.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/functionres/types.go
Labels: platform/kube, platform

#3237 [UI] Support disabling default http trigger creation for a specific function
  pkg/dashboard/ui/package.json
  pkg/dashboard/ui/src/app/app.run.js
Labels: enhancement, area/ui

#3238 [Sidecars] Populate function service with sidecar container ports
  pkg/platform/abstract/platform.go
  pkg/platform/kube/controller/nucliofunction.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/functionres/lazy_test.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
  pkg/platform/kube/test/platform_test.go
Labels: platform/kube, platform

#3240 [Nuctl] Fix autofixing of v3io trigger configuration
  pkg/platform/abstract/platform.go
Labels: platform

#3241 Revert [UI] - Support disabling default http trigger creation for a specific function (#3237)
  pkg/dashboard/ui/package.json
  pkg/dashboard/ui/src/app/app.run.js
Labels: area/ui

#3243 [Nuctl] Fix autofixing of v3io trigger configuration [1.12.x]
  pkg/platform/abstract/platform.go
Labels: platform

#3242 [Kafka] Replace Kafka images in integration test suite
  pkg/processor/trigger/kafka/test/kafka_test.go
Labels: trigger/kafka

#3234 [Wrapper] Support a batched response as entrypoint_output in python wrapper
  pkg/processor/runtime/python/py/_nuclio_wrapper.py
  pkg/processor/runtime/python/py/test_wrapper.py
Labels: runtime/python

#3247 [Dashboard] Add name validation for api gateway
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
Labels: platform/kube, platform

#3252 [Dashboard] Allow deleting a function along with its api gateways
  pkg/common/headers/headers.go
  pkg/dashboard/resource/function.go
  pkg/nuctl/command/delete.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/kube/test/suite.go
  pkg/platform/types.go
Labels: platform/kube, nuctl, dashboard/resources, platform
