Repository nuclio/nuclio, pull requests merged in 2024-02, with the labels that each got.

#3151 [Dashboard] Merge sidecar's and container's environmental variables
  pkg/common/config.go
  pkg/common/config_test.go
  pkg/platform/kube/platform.go
Labels: platform/kube, platform

#3153 [Processor] Add a control message to inform the processor that draining is done
  pkg/processor/controlcommunication/types.go
  pkg/processor/runtime/python/py/_nuclio_wrapper.py
  pkg/processor/runtime/rpc/abstract.go
  pkg/processor/trigger/kafka/test/kafka_test.go
  pkg/processor/trigger/kafka/trigger.go
Labels: runtime/python, trigger/kafka

#3155 [Nuctl] Do not print parsed report if it is empty
  pkg/nuctl/command/parse.go
  pkg/nuctl/test/function_test.go
Labels: nuctl

#3156 [Nuctl] Do not init platform in nuctl parse
  pkg/nuctl/command/beta.go
  pkg/nuctl/command/build.go
  pkg/nuctl/command/create.go
  pkg/nuctl/command/delete.go
  pkg/nuctl/command/deploy.go
  pkg/nuctl/command/export.go
  pkg/nuctl/command/get.go
  pkg/nuctl/command/import.go
  pkg/nuctl/command/invoke.go
  pkg/nuctl/command/nuctl.go
  pkg/nuctl/command/parse.go
  pkg/nuctl/command/redeploy.go
  pkg/nuctl/command/update.go
Labels: nuctl

#3154 [Nuctl] Ensure that report path exists
  pkg/common/helper.go
  pkg/nuctl/command/common/helpers.go
  pkg/nuctl/test/function_test.go
Labels: nuctl

#3159 [Processor] Do not close kafka connection if workers are terminated
  pkg/processor/trigger/kafka/trigger.go
Labels: trigger/kafka

#3160 [Nuctl] Print nuctl parse report without logging
  pkg/nuctl/command/parse.go
Labels: nuctl

#3161 [CI] Fix periodic failures
  .github/workflows/long_ci.yaml
  .github/workflows/periodic.yaml
  hack/scripts/ci/system-stats.sh
  pkg/nuctl/test/function_test.go
  pkg/platform/kube/test/platform_test.go
Labels: platform/kube, long-ci-succeeded, ci, platform

#3162 [Nuctl] Add test for redeploy command and make it exit with error if failed
  pkg/nuctl/command/common/patchmanifest.go
  pkg/nuctl/command/redeploy.go
  pkg/nuctl/test/function_test.go
  test/_imports/redeploy-test-function.yaml
Labels: nuctl

#3163 [Processor] Do not break wrapper loop on termination
  pkg/processor/runtime/python/py/_nuclio_wrapper.py
Labels: runtime/python

#3164 Impl [UI] Do not show default http trigger banner if feature is disabled
  pkg/dashboard/ui/package.json
  pkg/dashboard/ui/src/app/app.run.js
Labels: area/ui, 1.13

#3167 Revert "[Processor] Add a control message to inform the processor that draining is done"
  pkg/processor/controlcommunication/types.go
  pkg/processor/runtime/python/py/_nuclio_wrapper.py
  pkg/processor/runtime/rpc/abstract.go
  pkg/processor/trigger/kafka/test/kafka_test.go
  pkg/processor/trigger/kafka/trigger.go
Labels: runtime/python, long-ci-succeeded, trigger/kafka

#3168 [Project] Filter invalid labels if creating project from leader request
  pkg/common/k8s.go
  pkg/common/k8s_test.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/platform/abstract/project/external/leader/iguazio/client.go
  pkg/platform/abstract/project/external/leader/iguazio/synchronizer.go
  pkg/platform/abstract/project/external/leader/iguazio/synchronizer_test.go
  pkg/platform/kube/test/platform_test.go
Labels: platform/kube, platform

#3169 [Docs] Add html favicon
  docs/favicon.ico
Labels: docs

#3172 [UI] Use specific endpoint to update projects
  pkg/dashboard/ui/src/app/shared/services/nuclio-projects-data.service.js
Labels: area/ui, 1.13

#3165 [Controller] Set function status to `unhealthy` instead of `error` during fast-fail check
  docs/reference/function-configuration/function-configuration-reference.md
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/functionres/lazy_test.go
  pkg/platform/kube/monitoring/test/function_test.go
  pkg/platform/kube/platform.go
  pkg/platform/local/platform.go
Labels: platform/kube, platform/local, docs, platform, 1.13

#3175 [MQTT] Add properties to the mqtt event
  docs/reference/triggers/mqtt.md
  pkg/processor/trigger/kinesis/event.go
  pkg/processor/trigger/mqtt/event.go
  pkg/processor/trigger/mqtt/trigger.go
  pkg/processor/trigger/nats/event.go
  pkg/processor/trigger/partitioned/eventhub/event.go
Labels: docs, trigger/mqtt, trigger/partitioned, trigger/kinesis, trigger/nats

#3171 [UI] Bump "minimatch" version
  pkg/dashboard/ui/package.json
Labels: area/ui, 1.13

#3180 [Triggers] Deprecate `maxWorkers` property and replace it with `numWorkers`
  .github/ISSUE_TEMPLATE/documentation_improvement.yaml
  docs/concepts/k8s/function-ingress.md
  docs/reference/function-configuration/function-configuration-reference.md
  docs/reference/runtimes/python/python-reference.md
  docs/reference/triggers/http.md
  docs/reference/triggers/v3iostream.md
  docs/tasks/benchmarking.md
  hack/examples/golang/ingress/ingress.go
  pkg/dashboard/test/server_test.go
  pkg/functionconfig/reader_test.go
  pkg/functionconfig/types.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/platform/kube/test/platform_test.go
  pkg/platform/kube/test/suite.go
  pkg/platform/local/platform.go
  pkg/processor/build/inlineparser/jarparser_test.go
  pkg/processor/build/inlineparser/parser.go
  pkg/processor/runtime/python/test/python_test.go
  pkg/processor/test/suite/suite.go
  pkg/processor/test/workerwait/workerwait_test.go
  pkg/processor/trigger/cron/factory.go
  pkg/processor/trigger/http/factory.go
  pkg/processor/trigger/kafka/factory.go
  pkg/processor/trigger/kafka/test/kafka_confluent_test.go
  pkg/processor/trigger/kafka/test/kafka_test.go
  pkg/processor/trigger/kafka/types.go
  pkg/processor/trigger/kickstart/factory.go
  pkg/processor/trigger/mqtt/basic/factory.go
  pkg/processor/trigger/mqtt/iotcore/factory.go
  pkg/processor/trigger/nats/factory.go
  pkg/processor/trigger/nats/test/nats_test.go
  pkg/processor/trigger/poller/v3ioitempoller/factory.go
  pkg/processor/trigger/trigger.go
  pkg/processor/trigger/types.go
  pkg/processor/trigger/v3iostream/factory.go
  test/_functions/common/invalid-inline-config/golang/parser.go
  test/_functions/common/json-parser-with-inline-function-config/golang/parser.go
Labels: platform/kube, platform/local, runtime/python, configuration, docs, ci, trigger/mqtt, platform, trigger/v3iostream, trigger/kafka, trigger/http, trigger/cron, trigger/nats, trigger/kickstart, trigger/poller

#3181 [*] Remove deprecated code
  cmd/controller/main.go
  docs/tasks/exporting-and-importing.md
  pkg/dashboard/resource/apigateway.go
  pkg/dashboard/resource/project.go
  pkg/functionconfig/types.go
  pkg/nuctl/command/beta.go
  pkg/nuctl/command/import.go
  pkg/platform/abstract/platform.go
  pkg/platform/kube/client/informers/externalversions/factory.go
  pkg/platform/kube/test/platform_test.go
Labels: platform/kube, nuctl, configuration, dashboard/resources, docs, platform

#3182 [Docs] Remove usage of `sphinx_markdown_tables` library
  docs/conf.py
  docs/requirements.txt
Labels: docs
