Repository nuclio/nuclio, pull requests merged in 2024-09, with the labels that each got.

#3332 [Releaser] Remove extra chart directories
  hack/k8s/helm/nuclio/Chart.yaml
  hack/scripts/releaser/releaser.go
  hack/scripts/releaser/releaser_test.go
Labels: releaser, kubernetes/helm

#3335 [Dependencies] Bump packages
  Makefile
  docs/reference/runtimes/golang/golang-reference.md
  docs/tasks/deploy-functions-from-dockerfile.md
  go.mod
  go.sum
  pkg/platform/local/platform.go
  pkg/processor/build/runtime/golang/runtime.go
  pkg/processor/build/runtime/shell/runtime.go
Labels: platform/local, runtime/golang, runtime/shell, docs, platform, go/modules

#3337 [Dependencies] Bump v3io-go to v0.3.9
  go.mod
  go.sum
Labels: go/modules

#3336 [Processor] Fix ExplicitAck on 2 and more triggers of the same type
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/platform/kube/platform_test.go
  pkg/processor/trigger/kafka/trigger.go
  pkg/processor/trigger/v3iostream/trigger.go
Labels: platform/kube, platform, trigger/v3iostream, trigger/kafka

#3338 [Dependencies] Bump packages [1.13.x]
  Makefile
  docs/reference/runtimes/golang/golang-reference.md
  docs/tasks/deploy-functions-from-dockerfile.md
  go.mod
  go.sum
  pkg/platform/local/platform.go
  pkg/processor/build/runtime/golang/runtime.go
  pkg/processor/build/runtime/shell/runtime.go
Labels: platform/local, runtime/golang, runtime/shell, docs, platform, go/modules

#3340 [Processor] Fix ExplicitAck on 2 and more triggers of the same type [1.13.x]
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/platform/kube/platform_test.go
  pkg/processor/trigger/kafka/trigger.go
  pkg/processor/trigger/v3iostream/trigger.go
Labels: platform/kube, platform, trigger/v3iostream, trigger/kafka

#3341 [Nuctl] Fix redeploy errors and logs [1.13.x]
  pkg/nuctl/client/api.go
  pkg/nuctl/command/common/patchmanifest.go
  pkg/nuctl/command/redeploy.go
  pkg/nuctl/test/function_test.go
Labels: nuctl

#3343 [CI] Bump upload/download artifact actions
  .github/workflows/benchmark.yaml
  .github/workflows/ci.yaml
Labels: ci

#3344 [Nuctl] Fix redeploy errors and logs
  pkg/nuctl/client/api.go
  pkg/nuctl/command/common/patchmanifest.go
  pkg/nuctl/command/redeploy.go
  pkg/nuctl/test/function_test.go
Labels: nuctl

#3347 [Processor] Do not enrich workerAllocatorName by default
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/platform/kube/platform_test.go
Labels: platform/kube, platform

#3348 [Processor] Do not enrich workerAllocatorName by default [1.13.x]
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/platform/kube/platform_test.go
Labels: platform/kube, platform

#3350 [V3IOStream] Generate access key from env var [1.13.x]
  docs/reference/triggers/v3iostream.md
  pkg/processor/trigger/v3iostream/types.go
  pkg/processor/trigger/v3iostream/v3iostream_test.go
Labels: docs, trigger/v3iostream

#3352 [V3IOStream] Generate access key from env var
  docs/reference/triggers/v3iostream.md
  pkg/processor/trigger/v3iostream/types.go
  pkg/processor/trigger/v3iostream/v3iostream_test.go
Labels: docs, trigger/v3iostream

#3354 [Docs] RabbitMQ fixes
  docs/reference/triggers/rabbitmq.md
Labels: docs

#3355 [V3io] Do not filter ExplicitAck by streamPath for v3io trigger
  pkg/processor/trigger/v3iostream/trigger.go
Labels: trigger/v3iostream

#3356 [V3io] Do not filter ExplicitAck by streamPath for v3io trigger [1.13.x]
  pkg/processor/trigger/v3iostream/trigger.go
Labels: trigger/v3iostream

#3329 [Async processing] Add mode to http trigger configuration
  pkg/processor/trigger/http/http_test.go
  pkg/processor/trigger/http/types.go
Labels: trigger/http

#3357 [UI] Wrong case for uniqueness validation message
  pkg/dashboard/ui/package.json
  pkg/dashboard/ui/src/app/app.run.js
Labels: bug, area/ui

#3359 [Processor] Align ExplicitAck log for v3io and kafka
  pkg/processor/trigger/v3iostream/trigger.go
  pkg/processor/trigger/v3iostream/types.go
Labels: trigger/v3iostream

#3360 Bump DC version `1.0.11-1.13.x`
  pkg/dashboard/ui/package.json
Labels: area/ui

#3361 [Processor] Filter v3io ExplicitAck by topic if passed
  pkg/processor/trigger/v3iostream/trigger.go
Labels: trigger/v3iostream

#3363 [Processor] Align ExplicitAck log for v3io and kafka [1.13.x]
  pkg/processor/trigger/v3iostream/trigger.go
  pkg/processor/trigger/v3iostream/types.go
Labels: trigger/v3iostream

#3364 [Processor] Filter v3io ExplicitAck by topic if passed [1.13.x]
  pkg/processor/trigger/v3iostream/trigger.go
Labels: trigger/v3iostream

#3366 [NodeSelector] Remove nodeSelector if empty string passed to function config
  pkg/common/k8s.go
  pkg/platform/kube/apis/nuclio.io/v1beta1/types_test.go
Labels: platform/kube, platform

#3367 [UI] Bump NPM packages
  pkg/dashboard/ui/resources/previewServer/package-lock.json
Labels: area/ui

#3365 [Dependencies] Bump nuclio-sdk-py to 0.5.13
  pkg/processor/runtime/python/py/requirements/common.txt
Labels: runtime/python

#3371 [Security] Fix access rights for wrapper
  pkg/containerimagebuilderpusher/kaniko.go
  pkg/platform/kube/test/function/function_test.go
  pkg/processor/build/builder.go
Labels: platform/kube, platform

#3372 [Security] Fix access rights for wrapper [1.13.x]
  pkg/containerimagebuilderpusher/kaniko.go
  pkg/platform/kube/test/platform_test.go
  pkg/processor/build/builder.go
Labels: platform/kube, platform

#3373 [Nuctl][Dashboard] Fix importing function that was in error or building state before export
  pkg/nuctl/test/function_test.go
  pkg/platform/abstract/platform.go
  test/_imports/never_run_before_export_function.yaml
Labels: platform

#3374 [Nuctl][Dashboard] Fix importing function that was in error or building state before export [1.13.x]
  pkg/nuctl/test/function_test.go
  pkg/platform/abstract/platform.go
  test/_imports/never_run_before_export_function.yaml
Labels: platform

#3370 [UI] Bump NPM packages [1.13.x]
  pkg/dashboard/ui/resources/previewServer/package-lock.json
Labels: area/ui

#3379 [Helm] Bump default images
  .rivi.rules.yaml
  hack/k8s/helm/nuclio/values.yaml
Labels: kubernetes/helm

#3380 [Helm] Bump default images [1.13.x]
  .rivi.rules.yaml
  hack/k8s/helm/nuclio/values.yaml
Labels: kubernetes/helm
