Repository nuclio/nuclio, pull requests merged in 2024-12, with the labels that each got.

#3412 [Docs] Add build args to function configuration reference
  .github/styles/Nuclio/ignore.txt
  .github/workflows/ci.yaml
  docs/reference/function-configuration/function-configuration-reference.md
Labels: docs, ci

#3415 [Nuctl] Fix config enrichment if file isn't passed explicitly [1.13.x]
  pkg/nuctl/command/deploy.go
  pkg/nuctl/test/function_test.go
  pkg/processor/build/builder.go
  test/_functions/common/json-parser-with-function-config/python/function.yaml
Labels: nuctl

#3414 [Cron] Add target name header
  hack/scripts/patch-remote/patch_remote.py
  pkg/common/headers/headers.go
  pkg/platform/kube/functionres/lazy.go
Labels: platform/kube, platform

#3378 [Processor] Prepare ground for async processing
  pkg/processor/runtime/dotnetcore/runtime.go
  pkg/processor/runtime/java/runtime.go
  pkg/processor/runtime/nodejs/runtime.go
  pkg/processor/runtime/python/py/_nuclio_wrapper.py
  pkg/processor/runtime/python/runtime.go
  pkg/processor/runtime/rpc/abstract.go
  pkg/processor/runtime/rpc/abstract_test.go
  pkg/processor/runtime/rpc/connection/abstract.go
  pkg/processor/runtime/rpc/connection/factory.go
  pkg/processor/runtime/rpc/connection/socket.go
  pkg/processor/runtime/rpc/connection/socketallocator.go
  pkg/processor/runtime/rpc/connection/types.go
  pkg/processor/runtime/rpc/controlmessagebroker/controlmessagebroker.go
  pkg/processor/runtime/rpc/encoder/encode.go
  pkg/processor/runtime/rpc/encoder/encode_json.go
  pkg/processor/runtime/rpc/encoder/encode_json_test.go
  pkg/processor/runtime/rpc/encoder/encode_msgpack.go
  pkg/processor/runtime/rpc/result/result.go
  pkg/processor/runtime/rpc/result/result_test.go
  pkg/processor/runtime/rpc/rpc_test.go
  pkg/processor/runtime/rpc/runtime.go
  pkg/processor/runtime/ruby/runtime.go
Labels: runtime/python, runtime/java, runtime/nodejs, runtime/dotnetcore, runtime/ruby

#3419 [Processor] Fix control message broker enrichment
  pkg/processor/runtime/rpc/abstract.go
  pkg/processor/runtime/rpc/abstract_test.go
  pkg/processor/runtime/runtime.go
  pkg/processor/trigger/http/test/suite/http_test.go
Labels: trigger/http

#3422 [Docs] Fix one link and shard format
  docs/reference/triggers/kinesis.md
  docs/tasks/configuring-a-platform.md
Labels: docs

#3424 [Processor] Move signaling to Python runtime [1.13.x]
  .github/workflows/ci.yaml
  pkg/processor/runtime/python/runtime.go
  pkg/processor/runtime/rpc/abstract.go
  pkg/processor/runtime/runtime.go
Labels: runtime/python, ci

#3429 [Test] Do not log full request body if longer than 256
  pkg/processor/trigger/http/test/suite/suite.go
Labels: trigger/http

#3430 [Dependencies] Bump golang.org/x/net
  go.mod
  go.sum
Labels: go/modules

#3432 [Docs] Add build directives to function configuration ref
  docs/reference/function-configuration/function-configuration-reference.md
Labels: docs

#3433 [UI] Add execution log to function screen
  pkg/dashboard/ui/package.json
  pkg/dashboard/ui/src/less/mixins.less
Labels: area/ui

#3434 [UI] Support disabling default http trigger creation for a specific function
  pkg/dashboard/ui/src/app/app.run.js
Labels: area/ui

#3435 [Ingress] Support default ingress class name for functions and dashboard ingress
  hack/k8s/helm/nuclio/templates/ingress/dashboard.yaml
  hack/k8s/helm/nuclio/values.yaml
  pkg/functionconfig/types.go
  pkg/platform/kube/apigatewayres/lazy.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/functionres/lazy_test.go
  pkg/platform/kube/ingress/ingress.go
  pkg/platform/kube/ingress/types.go
  pkg/platformconfig/platformconfig.go
  pkg/platformconfig/types.go
Labels: platform/kube, kubernetes/helm, configuration, platform

#3437 [Function] Query permissions for function replica API
  pkg/common/helper.go
  pkg/dashboard/resource/function.go
  pkg/platform/kube/platform.go
  pkg/platform/local/platform.go
  pkg/platform/mock/platform.go
  pkg/platform/platform.go
  pkg/platform/types.go
  pkg/restful/resource.go
Labels: platform/kube, platform/local, dashboard/resources, platform

#3438 [Logs] Add "logsScreenEnabled" to frontend spec
  hack/k8s/helm/nuclio/templates/deployment/dashboard.yaml
  hack/k8s/helm/nuclio/values.yaml
  pkg/dashboard/resource/frontendspec.go
  pkg/dashboard/test/server_test.go
Labels: kubernetes/helm, dashboard/resources
