Repository nuclio/nuclio, pull requests merged in 2025-05, with the labels that each got.

#3626 [Test] Add a test for Git code entry with python runtime
  pkg/platform/kube/test/function/function_test.go
  pkg/platform/kube/test/suite/suite.go
Labels: platform/kube, platform

#3625 [Controller] Add last k8s warning to an error stack
  pkg/platform/kube/functionres/lazy.go
Labels: platform/kube, platform

#3630 [UI] Change "Function name is already used" error message
  pkg/dashboard/ui/package.json
Labels: bug, area/ui

#3629 [Controller] Enable Readiness and Liveness probes configurations
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/functionres/lazy_test.go
  pkg/platform/kube/test/function/function_test.go
Labels: platform/kube, platform

#3632 [Security] Pin tag for azure/setup-helm
  .github/workflows/release.yaml
Labels: ci

#3633 [Platform] Add ElasticSearchConfig to platform config
  hack/k8s/helm/nuclio/templates/deployment/dashboard.yaml
  hack/k8s/helm/nuclio/values.yaml
  pkg/platformconfig/platformconfig.go
  pkg/platformconfig/platformconfig_test.go
  pkg/platformconfig/types.go
Labels: kubernetes/helm, configuration

#3635 [Kafka] Add timeout parameters to support confluent cloud
  .github/styles/Nuclio/ignore.txt
  docs/reference/triggers/kafka.md
  pkg/processor/trigger/kafka/trigger.go
  pkg/processor/trigger/kafka/types.go
Labels: docs, ci, trigger/kafka

#3634 [Dashboard] Implement elastic search client
  go.mod
  go.sum
  pkg/platform/kube/logProxy/elastic.go
  pkg/platform/kube/logProxy/types.go
  pkg/platform/kube/platform.go
  pkg/platform/types.go
Labels: platform/kube, platform, go/modules

#3639 [Dashboard] Add new api to get replicas and proxy logs from ES
  .github/styles/Nuclio/ignore.txt
  docs/reference/api/README.md
  pkg/common/helper.go
  pkg/dashboard/resource/function.go
  pkg/platform/kube/logProxy/elastic.go
  pkg/platform/kube/logProxy/elastic_test.go
  pkg/platform/kube/platform.go
  pkg/platform/local/platform.go
  pkg/platform/mock/platform.go
  pkg/platform/platform.go
  pkg/platform/types.go
  pkg/restful/resource.go
Labels: platform/kube, platform/local, dashboard/resources, docs, ci, platform

#3642 [Test] Fix CustomQueryParameter format
  pkg/platform/kube/logProxy/elastic_test.go
Labels: platform/kube, platform

#3645 [CI] Consolidate version resolution logic to a single conditional step
  .github/workflows/release.yaml
Labels: ci

#3644 [Dashboard] Support opensearch for logs proxy
  go.mod
  go.sum
  pkg/platform/kube/logProxy/elastic/abstract.go
  pkg/platform/kube/logProxy/elastic/elastic_test.go
  pkg/platform/kube/logProxy/elastic/elasticsearch.go
  pkg/platform/kube/logProxy/elastic/factory.go
  pkg/platform/kube/logProxy/elastic/opensearch.go
  pkg/platform/kube/logProxy/elastic/types.go
  pkg/platform/kube/platform.go
Labels: platform/kube, platform, go/modules

#3648 [Processor] Do not limit metadata timeout by default aligning with default client behaviour
  pkg/processor/trigger/kafka/kafka_test.go
  pkg/processor/trigger/kafka/trigger.go
  pkg/processor/trigger/kafka/types.go
Labels: trigger/kafka

#3646 [Dashboard] Implement opensearch log proxy and add from parameter
  pkg/platform/kube/logProxy/elastic/elasticsearch.go
  pkg/platform/kube/logProxy/elastic/factory.go
  pkg/platform/kube/logProxy/elastic/opensearch.go
  pkg/platform/types.go
Labels: platform/kube, platform

#3652 [Dashboard] Add defaultProxyLogsSource to frontend spec and remove logsScreenEnabled
  hack/k8s/helm/nuclio/templates/deployment/dashboard.yaml
  hack/k8s/helm/nuclio/values.yaml
  pkg/dashboard/resource/frontendspec.go
  pkg/dashboard/test/server_test.go
Labels: kubernetes/helm, dashboard/resources
