Repository nuclio/nuclio, pull requests merged in 2025-07, with the labels that each got.

#3677 [Test] Add simple benchmark CI for python runtime
  .github/workflows/benchmark_python.yaml
  .golangci.yml
  Makefile
  pkg/processor/runtime/python/test/benchmark_test.go
  pkg/processor/runtime/python/test/outputter/async_outputter.py
  pkg/processor/trigger/http/test/suite/suite.go
Labels: runtime/python, ci, trigger/http

#3678 [Processor] Stream responses for go and python runtimes
  cmd/processor/app/processor.go
  cmd/processor/app/processor_test.go
  docs/reference/function-configuration/function-configuration-reference.md
  go.mod
  go.sum
  pkg/dashboard/test/server_test.go
  pkg/functionconfig/types.go
  pkg/platform/abstract/platform.go
  pkg/processor/build/runtime/python/runtime.go
  pkg/processor/eventprocessor/mock.go
  pkg/processor/eventprocessor/types.go
  pkg/processor/runtime/golang/runtime.go
  pkg/processor/runtime/golang/test/golang_test.go
  pkg/processor/runtime/python/py/_nuclio_async_wrapper.py
  pkg/processor/runtime/python/py/_nuclio_wrapper.py
  pkg/processor/runtime/python/py/requirements/common.txt
  pkg/processor/runtime/python/py/test_server_wrapper.py
  pkg/processor/runtime/python/py/test_wrapper.py
  pkg/processor/runtime/python/py/wrapper_common.py
  pkg/processor/runtime/python/test/timeout_test.go
  pkg/processor/runtime/rpc/abstract.go
  pkg/processor/runtime/rpc/connection/abstract.go
  pkg/processor/runtime/rpc/connection/connection_test.go
  pkg/processor/runtime/rpc/connection/connectionallocator_test.go
  pkg/processor/runtime/rpc/connection/mock.go
  pkg/processor/runtime/rpc/connection/socketallocator.go
  pkg/processor/runtime/rpc/connection/types.go
  pkg/processor/runtime/rpc/encoder/encode_json_test.go
  pkg/processor/runtime/rpc/result/result.go
  pkg/processor/runtime/rpc/result/result_test.go
  pkg/processor/runtime/rpc/result/types.go
  pkg/processor/runtime/runtime.go
  pkg/processor/runtime/shell/runtime.go
  pkg/processor/statistics/types.go
  pkg/processor/trigger/http/test/suite/http_test.go
  pkg/processor/trigger/http/trigger.go
  pkg/processor/trigger/test/event.go
  pkg/processor/trigger/trigger.go
  pkg/processor/worker/worker.go
  pkg/processor/worker/worker_test.go
  test/_functions/common/streamer/golang/stream.go
  test/_functions/python/timeout/timeout_async.py
Labels: runtime/python, runtime/golang, runtime/shell, configuration, docs, platform, go/modules, trigger/http, feature

#3681 [Builder] Install nuclio dependencies from nuclio wheels
  pkg/processor/build/runtime/python/runtime.go
Labels: runtime/python

#3683 [Builder] Install nuclio dependencies from nuclio wheels [1.14.x]
  pkg/processor/build/runtime/python/runtime.go
Labels: runtime/python

#3684 [CI] Do not hardcode branch for bumping version
  .github/workflows/release.yaml
Labels: ci

#3685 [CI] Pass helm target version to bump-helm-charts
  .github/workflows/release.yaml
  Makefile
Labels: ci

#3688 [CI] Support protected branches and create PRs instead of direct push
  .github/workflows/release.yaml
Labels: ci

#3682 [Dashboard] Add new auth implementation for igz4
  pkg/auth/factory/factory.go
  pkg/auth/iguazio/abstract.go
  pkg/auth/iguazio/v1/auth.go
  pkg/auth/iguazio/v1/auth_test.go
  pkg/auth/iguazio/v4/auth.go
  pkg/auth/types.go
  pkg/platform/abstract/platform.go
Labels: platform

#3697 [Dashboard] Fix opaClient enrichment
  pkg/platform/abstract/platform.go
Labels: platform

#3696 [CI] Add docker dependency checker and bump docker
  .github/workflows/dependencies_checker.yaml
  Makefile
  cmd/dashboard/docker/Dockerfile
  test/docker/Dockerfile
Labels: ci

#3699 [Processor] Fix Node.js wrapper not handling partial socket data correctly
  pkg/processor/runtime/nodejs/js/wrapper.js
  pkg/processor/runtime/nodejs/js/wrapper.test.js
Labels: runtime/nodejs, long-ci-succeeded

#3707 [Dashboard] Validate service account is allowed
  hack/k8s/helm/nuclio/values.yaml
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
  pkg/platformconfig/types.go
Labels: platform/kube, kubernetes/helm, configuration, platform

#3710 [Images] Take images from gcr instead of dockerhub
  pkg/processor/build/runtime/dotnetcore/runtime.go
  pkg/processor/build/runtime/golang/runtime.go
  pkg/processor/build/runtime/java/runtime.go
  pkg/processor/build/runtime/nodejs/runtime.go
  pkg/processor/build/runtime/python/runtime.go
  pkg/processor/build/runtime/ruby/runtime.go
  pkg/processor/build/runtime/shell/runtime.go
Labels: runtime/python, runtime/golang, runtime/java, runtime/shell, runtime/nodejs, long-ci-succeeded, runtime/dotnetcore, runtime/ruby

#3711 [Controller] Enrich and Validate service account
  pkg/common/k8s.go
  pkg/common/k8s_test.go
  pkg/functionconfig/types.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/project/external/leader/iguazio/synchronizer.go
  pkg/platform/kube/apis/nuclio.io/v1beta1/types.go
  pkg/platform/kube/controller/nucliofunction.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
  pkg/platform/kube/utils/utils.go
  pkg/platform/kube/utils/utils_test.go
  pkg/platformconfig/platformconfig.go
  pkg/platformconfig/types.go
  pkg/processor/build/builder.go
Labels: platform/kube, configuration, platform

#3715 [Docs] Add documentation for project secret template and project SA configuration
  docs/tasks/configuring-a-platform.md
Labels: docs

#3719 [Docs] Add loggerSinks to function configuration doc
  docs/reference/function-configuration/function-configuration-reference.md
Labels: docs

#3708 [DLX] Integrate the new dlx
  cmd/dlx/app/dlx.go
  go.mod
  go.sum
  pkg/common/consts.go
  pkg/platform/kube/apigatewayres/lazy.go
  pkg/platform/kube/apigatewayres/lazy_test.go
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/functionres/lazy_test.go
  pkg/platform/kube/resourcescaler/resourcescaler.go
  pkg/platform/kube/resourcescaler/resourcescaler_test.go
  pkg/platform/kube/resourcescaler/test/resourcescaler_test.go
  pkg/platform/kube/test/apigateway/api_gateway_test.go
  pkg/platformconfig/types.go
Labels: platform/kube, configuration, platform, go/modules

#3722 [Controller] Check for scaling happened within last scalingTimeout even if CurrentReplicas is equal to DesiredReplicas
  pkg/platform/kube/monitoring/function.go
Labels: platform/kube, platform

#3724 [Builder] Take only image name when resolving base image with custom registry
  pkg/processor/build/builder.go
  pkg/processor/build/builder_test.go
  pkg/processor/build/runtime/java/runtime.go
Labels: platform/kube, runtime/java, platform

#3732 [Dotnet] Bump dotnet to 9.0 [1.14.x]
  README.md
  README_zh.md
  docs/conf.py
  docs/examples/README.md
  docs/reference/runtimes/dotnetcore/dotnetcore-reference.md
  pkg/processor/build/runtime/dotnetcore/docker/onbuild/Dockerfile
  pkg/processor/build/runtime/dotnetcore/docker/onbuild/handler.csproj
  pkg/processor/build/runtime/dotnetcore/runtime.go
  pkg/processor/runtime/dotnetcore/test/_outputter/handler.csproj
  pkg/processor/runtime/dotnetcore/wrapper.csproj
Labels: runtime/dotnetcore, docs

#3735 [UI] Fix api gateway update endpoint [1.14.x]
  pkg/dashboard/ui/src/app/shared/services/nuclio-api-gateways-data.service.js
  pkg/dashboard/ui/src/app/shared/services/nuclio-functions-data.service.js
Labels: area/ui
