Repository nuclio/nuclio, pull requests merged in 2025-06, with the labels that each got.

#3656 [Helm] Replace chart maintainers emails with URLs
  hack/k8s/helm/nuclio/Chart.yaml
Labels: kubernetes/helm

#3657 [Wrapper] Fix import of EventSocketException
  pkg/processor/runtime/python/py/_nuclio_async_wrapper.py
Labels: runtime/python

#3659 [Dependencies] Bump scaler to 0.9.0
  go.mod
  go.sum
Labels: go/modules

#3662 [Processor] Prepare ground for streaming responses
  go.mod
  go.sum
  pkg/common/headers/headers.go
  pkg/processor/eventprocessor/mock.go
  pkg/processor/eventprocessor/pool.go
  pkg/processor/eventprocessor/types.go
  pkg/processor/runtime/rpc/connection/abstract.go
  pkg/processor/runtime/rpc/connection/connectionallocator_test.go
  pkg/processor/statistics/types.go
  pkg/processor/trigger/http/trigger.go
  pkg/processor/trigger/kafka/trigger.go
  pkg/processor/trigger/poller/types.go
  pkg/processor/trigger/poller/v3ioitempoller/trigger.go
  pkg/processor/trigger/trigger.go
  pkg/processor/trigger/v3iostream/trigger.go
  pkg/processor/worker/worker.go
Labels: long-ci-succeeded, trigger/mqtt, go/modules, trigger/v3iostream, trigger/kafka, trigger/http, trigger/nats, trigger/poller

#3670 [Processor] Support yielding in wrapper
  pkg/processor/build/runtime/python/runtime.go
  pkg/processor/runtime/python/py/_nuclio_async_wrapper.py
  pkg/processor/runtime/python/py/_nuclio_wrapper.py
  pkg/processor/runtime/python/py/requirements/common.txt
  pkg/processor/runtime/python/py/test_server_wrapper.py
  pkg/processor/runtime/python/py/test_wrapper.py
  pkg/processor/runtime/python/py/wrapper_common.py
Labels: runtime/python, long-ci-succeeded, 1.15

#3676 [Processor] Add metric EventsStreamingFinishedSuccessfully
  pkg/processor/eventprocessor/mock.go
  pkg/processor/eventprocessor/types.go
  pkg/processor/runtime/rpc/connection/abstract.go
  pkg/processor/statistics/types.go
  pkg/processor/trigger/http/trigger.go
  pkg/processor/worker/worker.go
Labels: trigger/http, feature, 1.15
