Repository nuclio/nuclio, pull requests merged in 2025-03, with the labels that each got.

#3511 [Processor] Improve termination stability and change readiness FailureThreshold
  docs/tasks/index.rst
  docs/tasks/known-issues.md
  pkg/platform/kube/functionres/lazy.go
  pkg/processor/trigger/trigger.go
Labels: platform/kube, docs, platform

#3519 [Processor] Improve termination stability and change readiness FailueThreshold [1.13.x]
  docs/tasks/index.rst
  docs/tasks/known-issues.md
  pkg/platform/kube/functionres/lazy.go
  pkg/processor/trigger/trigger.go
Labels: platform/kube, docs, platform

#3518 [Golang] Fix go runtime on low-latency setup [1.13.x]
  pkg/processor/runtime/golang/runtime.go
  pkg/processor/runtime/golang/runtime_test.go
Labels: runtime/golang

#3522 [Processor] Change default handshake value to true [1.13.x]
  pkg/processor/trigger/kafka/kafka_test.go
  pkg/processor/trigger/kafka/trigger.go
  pkg/processor/trigger/kafka/types.go
Labels: trigger/kafka

#3523 Revert "[Dashboard] Change logic of `allow` preemption mode (#3492)"
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
Labels: platform/kube, platform

#3526 [CI] Fix adding labels
  hack/scripts/ci/add-remove-labels.js
Labels: ci

#3530 [Dashboard] Don't print pod warning events if empty [1.13.x]
  pkg/platform/kube/client/deployer.go
Labels: platform/kube, platform

#3529 [Controller] Enrich invocation status for unhealthy function [1.13.x]
  pkg/platform/kube/controller/nucliofunction.go
  pkg/platform/kube/monitoring/test/function_test.go
Labels: platform/kube, platform

#3531 [Dashboard] Don't print pod warning events if empty
  pkg/platform/kube/client/deployer.go
Labels: platform/kube, platform

#3533 [Processor] Fix SetObjects in async pool Allocator
  pkg/processor/eventprocessor/pool.go
  pkg/processor/runtime/python/py/_nuclio_async_wrapper.py
  pkg/processor/runtime/python/test/python_test.go
  pkg/processor/runtime/rpc/connection/connectionallocator.go
Labels: runtime/python

#3515 [CI] Add release workflow
  .github/workflows/release.yaml
  .gitignore
  Makefile
  cliff.toml
  hack/scripts/releaser/releaser.go
  hack/scripts/releaser/releaser_test.go
Labels: releaser, ci

#3534 [CI] Fix unstable release conditions
  .github/workflows/release.yaml
  cliff.toml
Labels: ci

#3532 [Processor] Add enrichment and validation for async processing
  pkg/functionconfig/types.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
Labels: runtime/python, configuration, platform

#3520 [Processor] Log transferring via control message socket
  pkg/processor/controlcommunication/types.go
  pkg/processor/runtime/python/py/_nuclio_async_wrapper.py
  pkg/processor/runtime/python/py/_nuclio_wrapper.py
  pkg/processor/runtime/python/py/requirements/common.txt
  pkg/processor/runtime/python/py/test_base.py
  pkg/processor/runtime/python/py/test_server_wrapper.py
  pkg/processor/runtime/python/py/test_wrapper.py
  pkg/processor/runtime/python/py/wrapper_common.py
  pkg/processor/runtime/rpc/abstract.go
  pkg/processor/runtime/rpc/connection/abstract.go
Labels: platform/local, runtime/python, long-ci-succeeded, ci, platform

#3537 [CI] Merge Long CI and Periodic into one workflow
  .github/workflows/long_ci.yaml
  .github/workflows/periodic.yaml
Labels: ci

#3542 [Security] Fix regexes and file path escaping
  pkg/dashboard/server.go
  pkg/functionconfig/scrubber_test.go
  pkg/platformconfig/types.go
  pkg/processor/build/builder.go
  pkg/processor/build/util/unarchive.go
Labels: configuration

#3540 [Processor] Limit the number of file descriptors in use to 80 percent
  pkg/processor/runtime/python/py/_nuclio_async_wrapper.py
Labels: runtime/python

#3545 [Security] Remove logging of http request information
  pkg/nuctl/client/api.go
  pkg/platform/abstract/invoker.go
  pkg/processor/build/builder.go
  pkg/processor/runtime/golang/builtin.go
  pkg/processor/trigger/http/trigger.go
  pkg/restful/middleware/middleware.go
Labels: runtime/golang, platform, trigger/http

#3554 [Processor] Remove spammy logs from async wrapper
  pkg/processor/runtime/python/py/_nuclio_async_wrapper.py
Labels: runtime/python

#3551 [Runtime] Introduce python 3.12
  Makefile
  docs/reference/function-configuration/function-configuration-reference.md
  docs/reference/runtimes/python/python-reference.md
  hack/scripts/benchmark/benchmark.py
  pkg/dashboard/functiontemplates/generator/generator.go
  pkg/nuctl/test/function_test.go
  pkg/processor/build/builder.go
  pkg/processor/build/runtime/python/docker/onbuild/Dockerfile
  pkg/processor/build/runtime/python/test/python_test.go
  pkg/processor/runtime/python/py/requirements/common.txt
  pkg/processor/runtime/python/py/requirements/python3_10.txt
  pkg/processor/runtime/python/py/requirements/python3_11.txt
  pkg/processor/runtime/python/py/requirements/python3_12.txt
  pkg/processor/runtime/python/py/requirements/python3_9.txt
  pkg/processor/runtime/python/test/python_test.go
Labels: runtime/python, docs

#3557 [Dependencies] Bump packages
  go.mod
  go.sum
Labels: go/modules

#3559 [Dependencies] Upgrade fasthttp to v1.59.0
  go.mod
  go.sum
Labels: go/modules

#3560 [UI] Add Python 3.12 to Nuclio runtime dropdown
  pkg/dashboard/ui/package.json
Labels: area/ui

#3564 Revert "[UI] Add Python 3.12 to Nuclio runtime dropdown"
  pkg/dashboard/ui/package.json
Labels: area/ui

#3566 [Dependencies] Bump oauth2
  go.mod
  go.sum
Labels: go/modules

#3567 [Dependencies] Bump packages [1.13.x]
  go.mod
  go.sum
Labels: go/modules

#3568 [Dependencies] Bump uhttpc image to 0.0.2
  Makefile
  cmd/dashboard/docker/Dockerfile
  docs/reference/runtimes/dotnetcore/dotnetcore-reference.md
  docs/reference/runtimes/golang/golang-reference.md
  docs/reference/runtimes/nodejs/nodejs-reference.md
  pkg/processor/build/builder.go
  pkg/processor/build/test/build_test.go
Labels: docs

#3570 [Dependencies] Bump oauth2 [1.13.x]
  go.mod
  go.sum
Labels: go/modules

#3569 [Dependencies] Bump uhttpc image to 0.0.2 [1.13.x]
  Makefile
  cmd/dashboard/docker/Dockerfile
  docs/reference/runtimes/dotnetcore/dotnetcore-reference.md
  docs/reference/runtimes/golang/golang-reference.md
  docs/reference/runtimes/nodejs/nodejs-reference.md
  pkg/processor/build/builder.go
  pkg/processor/build/test/build_test.go
Labels: docs

#3571 [CI] Report status only after all suites have finished
  .github/workflows/long_ci.yaml
Labels: ci
