Repository nuclio/nuclio, pull requests merged in 2025-09, with the labels that each got.

#3783 [Dependencies] Bump v3io-go to 0.3.13
  go.mod
  go.sum
Labels: go/modules

#3778 [Dashboard] Implement MLRun leader client
  pkg/common/testutils/http.go
  pkg/platform/abstract/project/external/client.go
  pkg/platform/abstract/project/external/client_test.go
  pkg/platform/abstract/project/external/leader/client/client.go
  pkg/platform/abstract/project/external/leader/client/client_test.go
  pkg/platform/abstract/project/external/leader/iguazio/client.go
  pkg/platform/abstract/project/external/leader/iguazio/leader.go
  pkg/platform/abstract/project/external/leader/iguazio/leader_test.go
  pkg/platform/abstract/project/external/leader/iguazio/synchronizer_test.go
  pkg/platform/abstract/project/external/leader/iguazio/types.go
  pkg/platform/abstract/project/external/leader/mlrun/client.go
  pkg/platform/abstract/project/external/leader/mlrun/leader.go
  pkg/platform/abstract/project/external/leader/mlrun/leader_test.go
  pkg/platform/abstract/project/external/leader/mlrun/types.go
  pkg/platform/abstract/project/external/leader/mock/client.go
  pkg/platform/abstract/project/external/leader/mock/leader.go
  pkg/platform/abstract/project/external/leader/types.go
  pkg/platform/kube/platform.go
Labels: platform/kube, platform

#3784 [Dashboard] Fix sidecar port naming
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/test/function/function_test.go
Labels: platform/kube, platform

#3787 [Dashboard] Fix sidecar port naming [1.14.x]
  pkg/platform/kube/functionres/lazy.go
  pkg/platform/kube/test/function/function_test.go
Labels: platform/kube, platform

#3788 [Dependencies] Bump v3io-go to 0.3.13 [1.14.x]
  go.mod
  go.sum
Labels: go/modules

#3786 [Dashboard] Update default python to 312
  .github/workflows/benchmark.yaml
  .github/workflows/dependencies_checker.yaml
  docs/concepts/best-practices-and-common-pitfalls.md
  docs/reference/nuctl/cli/nuctl_build.md
  docs/reference/nuctl/cli/nuctl_deploy.md
  docs/reference/runtimes/python/python-reference.md
  hack/k8s/helm/nuclio/values.yaml
  pkg/nuctl/command/build.go
  pkg/nuctl/test/function_test.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/processor/build/builder.go
  pkg/processor/runtime/python/runtime.go
Labels: runtime/python, nuctl, kubernetes/helm, docs, ci, platform

#3785 [Dashboard] Support project sync when MLRun is the leader
  pkg/common/k8s.go
  pkg/platform/abstract/project/external/client.go
  pkg/platform/abstract/project/external/leader/client/synchronizer.go
  pkg/platform/abstract/project/external/leader/client/synchronizer_test.go
  pkg/platform/abstract/project/external/leader/iguazio/types.go
  pkg/platform/abstract/project/external/leader/mlrun/leader.go
  pkg/platform/abstract/project/external/leader/mlrun/leader_test.go
  pkg/platform/abstract/project/external/leader/mlrun/types.go
  pkg/platform/abstract/project/external/leader/mock/client.go
  pkg/platform/abstract/project/external/leader/types.go
  pkg/platform/project.go
Labels: platform

#3801 [CI] Integrate govulncheck
  .github/workflows/govulncheck.yaml
  Makefile
Labels: ci

#3805 [Docs] Update async python documentation [1.14.x]
  docs/reference/runtimes/python/python-reference.md
Labels: docs

#3806 [Docs] Update async python documentation [1.15.x]
  docs/reference/runtimes/python/python-reference.md
Labels: docs

#3809 [Dependencies] Bump Scaler version to v0.10.1
  go.mod
  go.sum
Labels: go/modules

#3811 [Wrapper] Support awaitable entrypoint output for a sync function [1.15.x]
  pkg/processor/runtime/python/py/requirements/dev.txt
  pkg/processor/runtime/python/py/test_wrapper.py
  pkg/processor/runtime/python/py/wrapper_common.py
Labels: runtime/python

#3825 [Java] Fix SDK downloading
  pkg/processor/build/runtime/java/docker/onbuild/Dockerfile
Labels: runtime/java
