Repository nuclio/nuclio, pull requests merged in 2025-01, with the labels that each got.

#3439 [Docs] Fix python reference table of contents
  docs/reference/runtimes/python/python-reference.md
Labels: docs

#3440 [Docs] Add note on tech-preview runtimes and triggers
  docs/reference/runtimes/dotnetcore/dotnetcore-reference.md
  docs/reference/runtimes/java/java-reference.md
  docs/reference/runtimes/nodejs/nodejs-reference.md
  docs/reference/runtimes/shell/shell-reference.md
  docs/reference/triggers/eventhub.md
  docs/reference/triggers/kinesis.md
  docs/reference/triggers/mqtt.md
  docs/reference/triggers/nats.md
  docs/reference/triggers/rabbitmq.md
Labels: docs

#3446 [UI] Fix DC version [1.13.x]
  pkg/dashboard/ui/package.json
Labels: area/ui

#3449 [CI] Add PR title checker workflow
  .github/pr-title-checker-config.json
  .github/workflows/pr-title-checker.yaml
Labels: ci

#3445 [Processor] Do not allow ExplicitAck for runtimes in which it is not supported [1.13.x]
  pkg/functionconfig/types.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/processor/trigger/kafka/kafka_test.go
  pkg/processor/trigger/kafka/types.go
  pkg/processor/trigger/types.go
  pkg/processor/trigger/v3iostream/types.go
  pkg/processor/trigger/v3iostream/v3iostream_test.go
Labels: configuration, platform, trigger/v3iostream, trigger/kafka

#3448 [Controller] Enrich invocation status for unhealthy function
  pkg/platform/kube/controller/nucliofunction.go
  pkg/platform/kube/monitoring/test/function_test.go
Labels: platform/kube, platform

#3450 [Processor] Do not allow ExplicitAck for runtimes in which it is not supported
  pkg/functionconfig/types.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/processor/trigger/kafka/kafka_test.go
  pkg/processor/trigger/kafka/types.go
  pkg/processor/trigger/types.go
  pkg/processor/trigger/v3iostream/types.go
  pkg/processor/trigger/v3iostream/v3iostream_test.go
Labels: configuration, platform, trigger/v3iostream, trigger/kafka

#3451 [Dependencies] Bump packages [1.13.x]
  go.mod
  go.sum
Labels: go/modules

#3454 [Dockerfile] Support configurable python and uhttpc base image [1.13.x]
  Makefile
  cmd/dashboard/docker/Dockerfile
  pkg/processor/build/runtime/python/docker/onbuild/Dockerfile
Labels: runtime/python

#3455 [Dependencies] Bump pip version [1.13.x]
  pkg/processor/runtime/python/py/requirements/common.txt
Labels: runtime/python

#3460 [Tests] Split platform tests and add new tag `test_functions_kube` [1.13.x]
  .github/workflows/ci.yaml
  Makefile
  pkg/platform/kube/controller/test/controller_test.go
  pkg/platform/kube/monitoring/test/function_test.go
  pkg/platform/kube/resourcescaler/test/resourcescaler_test.go
  pkg/platform/kube/test/apigateway/api_gateway_test.go
  pkg/platform/kube/test/function/function_test.go
  pkg/platform/kube/test/project/project_test.go
  pkg/platform/kube/test/suite/suite.go
Labels: platform/kube, ci, platform

#3456 [Dependencies] Bump pip version
  pkg/processor/runtime/python/py/requirements/common.txt
Labels: runtime/python

#3457 [Processor] Stop triggers before termination [1.13.x]
  .golangci.yml
  cmd/processor/app/processor.go
  pkg/common/status/status.go
  pkg/platform/kube/test/function/function_test.go
  pkg/platform/kube/test/suite/suite.go
  pkg/processor/trigger/http/http_test.go
  pkg/processor/trigger/http/trigger.go
Labels: platform/kube, platform, trigger/http

#3458 [Go] Bump Go to 1.23 [1.13.x]
  Makefile
  docs/devel/contributing.md
  docs/devel/local-development.md
  go.mod
  pkg/cmdrunner/shellrunner.go
  pkg/cmdrunner/shellrunner_test.go
  pkg/common/helper.go
  pkg/dashboard/test/server_test.go
  pkg/dockerclient/shell.go
  pkg/dockerclient/shell_test.go
  pkg/platform/abstract/platform.go
  pkg/platform/kube/functionres/lazy.go
  test/_functions/golang/with-modules/go.mod
  test/_functions/golang/with-modules/go.sum
Labels: platform/kube, docs, platform, go/modules

#3447 [Golang] Add restart functionality to go runtime
  pkg/processor/runtime/golang/runtime.go
  pkg/processor/runtime/golang/runtime_test.go
  pkg/processor/runtime/runtime.go
Labels: runtime/golang
