Repository nuclio/nuclio, pull requests merged in 2025-02, with the labels that each got.

#3467 [v3io] Bump v3io-go to v0.3.12
  go.mod
  go.sum
Labels: go/modules

#3469 [CI] Bump upload/download artifact actions [1.13.x]
  .github/workflows/benchmark.yaml
  .github/workflows/ci.yaml
Labels: ci

#3468 [v3io] Bump v3io-go to v0.3.12 [1.13.x]
  go.mod
  go.sum
Labels: go/modules

#3471 [Platformconfig] Enrich cron trigger creation mode according to platform kind
  pkg/platformconfig/platformconfig.go
  pkg/platformconfig/platformconfig_test.go
Labels: configuration

#3473 [Processor] Move stop trigger after termination signaling [1.13.x]
  cmd/processor/app/processor.go
  pkg/common/status/status.go
  pkg/processor/trigger/http/trigger.go
Labels: trigger/http

#3476 [Processor] Move stop trigger after termination signaling
  cmd/processor/app/processor.go
  pkg/common/status/status.go
  pkg/processor/trigger/http/trigger.go
Labels: trigger/http

#3461 [Async] Implement asynchronous event processing in python runtime
  cmd/processor/app/processor.go
  pkg/dashboard/test/server_test.go
  pkg/functionconfig/types.go
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/processor/runtime/python/py/_nuclio_async_wrapper.py
  pkg/processor/runtime/python/py/_nuclio_wrapper.py
  pkg/processor/runtime/python/py/test_base.py
  pkg/processor/runtime/python/py/test_server_wrapper.py
  pkg/processor/runtime/python/py/test_wrapper.py
  pkg/processor/runtime/python/py/wrapper_common.py
  pkg/processor/runtime/python/runtime.go
  pkg/processor/runtime/python/test/python_test.go
  pkg/processor/runtime/python/test/timeout_test.go
  pkg/processor/runtime/rpc/abstract.go
  pkg/processor/runtime/rpc/connection/abstract.go
  pkg/processor/runtime/rpc/connection/connection.go
  pkg/processor/runtime/rpc/connection/connectionallocator.go
  pkg/processor/runtime/rpc/connection/factory.go
  pkg/processor/runtime/rpc/connection/socketallocator.go
  pkg/processor/runtime/rpc/connection/types.go
  pkg/processor/runtime/types.go
  pkg/processor/test/cloudevents/suite.go
  pkg/processor/test/offline/suite.go
  pkg/processor/test/suite/suite.go
Labels: runtime/python, configuration, platform

#3477 [Tests] Fix tests after async changes
  pkg/processor/test/suite/suite.go
Labels: long-ci-succeeded

#3475 [HTTP] Change readiness probe during termination to increase stability [1.13.x]
  pkg/platform/kube/monitoring/test/function_test.go
  pkg/processor/trigger/http/trigger.go
  pkg/processor/trigger/trigger.go
Labels: platform/kube, platform, trigger/http

#3481 [CI] Enable dependabot action version updates
  .github/dependabot.yml
Labels: ci

#3482 [HTTP] Change readiness probe during termination to increase stabilty
  pkg/platform/kube/monitoring/test/function_test.go
  pkg/processor/trigger/http/trigger.go
  pkg/processor/trigger/trigger.go
Labels: platform/kube, platform, trigger/http

#3479 [Dashboard] Change logic of `allow` preemption mode
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
Labels: platform/kube, platform

#3492 [Dashboard] Change logic of `allow` preemption mode
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
Labels: platform/kube, platform

#3500 [CI] Update labeler to v5
  .github/labeler.yml
  .github/labels.yaml
  .github/workflows/pr_label.yaml
Labels: ci

#3501 [Helm] Fix mounting empty name secret
  hack/k8s/helm/nuclio/templates/deployment/dashboard.yaml
Labels: kubernetes/helm

#3502 [UI] Remove deprecated python 3.7/3.8 from runtimes list `1.13.x`
  pkg/dashboard/ui/package.json
Labels: bug, area/ui

#3504 [Projects] Fix deprecation warning [1.13.x]
  pkg/dashboard/resource/project.go
Labels: dashboard/resources

#3505 [Releaser] Support `git` repository scheme [1.13.x]
  hack/scripts/releaser/releaser.go
Labels: releaser

#3506 [Dependencies] Bump sarama to 1.45.0
  go.mod
  go.sum
  pkg/processor/trigger/kafka/event.go
  pkg/processor/trigger/kafka/kafka_test.go
  pkg/processor/trigger/kafka/scram/xdg.go
  pkg/processor/trigger/kafka/test/kafka_confluent_test.go
  pkg/processor/trigger/kafka/test/kafka_test.go
  pkg/processor/trigger/kafka/tokenprovider/oauth/oauth.go
  pkg/processor/trigger/kafka/trigger.go
  pkg/processor/trigger/kafka/types.go
Labels: go/modules, trigger/kafka

#3507 [Dependencies] Bump sarama to 1.45.0 [1.13.x]
  go.mod
  go.sum
  pkg/processor/trigger/kafka/event.go
  pkg/processor/trigger/kafka/scram/xdg.go
  pkg/processor/trigger/kafka/test/kafka_confluent_test.go
  pkg/processor/trigger/kafka/test/kafka_test.go
  pkg/processor/trigger/kafka/tokenprovider/oauth/oauth.go
  pkg/processor/trigger/kafka/trigger.go
  pkg/processor/trigger/kafka/types.go
Labels: go/modules, trigger/kafka

#3510 [Golang] Fix go runtime on low-latency setup
  pkg/processor/runtime/golang/runtime.go
  pkg/processor/runtime/golang/runtime_test.go
Labels: runtime/golang

#3514 [Helm] Fix address in values.yaml
  hack/k8s/helm/nuclio/values.yaml
Labels: kubernetes/helm

#3513 [UI] Fix node selector status not updated after pressing the refresh button [1.13.x]
  pkg/dashboard/ui/package.json
Labels: bug, area/ui

#3512 [UI] Fix node selector status not updated after pressing the refresh button
  pkg/dashboard/ui/package.json
Labels: bug, area/ui
