Repository nuclio/nuclio, pull requests merged in 2025-04, with the labels that each got.

#3574 [Controller] Change threshold back to 10
  pkg/platform/kube/functionres/lazy.go
Labels: platform/kube, platform

#3553 [Processor] New restart handling logic
  cmd/processor/app/processor_test.go
  pkg/common/helper.go
  pkg/common/status/status.go
  pkg/processor/eventprocessor/pool.go
  pkg/processor/eventprocessor/singleton.go
  pkg/processor/eventprocessor/types.go
  pkg/processor/runtime/golang/runtime.go
  pkg/processor/runtime/python/py/_nuclio_async_wrapper.py
  pkg/processor/runtime/python/py/_nuclio_wrapper.py
  pkg/processor/runtime/python/py/wrapper_common.py
  pkg/processor/runtime/python/test/timeout_test.go
  pkg/processor/runtime/rpc/abstract.go
  pkg/processor/runtime/rpc/connection/abstract.go
  pkg/processor/runtime/rpc/connection/connectionallocator.go
  pkg/processor/runtime/rpc/connection/connectionallocator_test.go
  pkg/processor/runtime/rpc/connection/socketallocator.go
  pkg/processor/runtime/rpc/connection/types.go
  pkg/processor/runtime/runtime.go
  pkg/processor/runtime/shell/runtime.go
  pkg/processor/runtime/shell/test/timeout_test.go
  pkg/processor/timeout/timeout.go
  pkg/processor/trigger/http/trigger.go
  pkg/processor/trigger/trigger.go
  pkg/processor/worker/allocator_test.go
  pkg/processor/worker/worker.go
  pkg/processor/worker/worker_test.go
  test/_functions/python/timeout/timeout_async.py
Labels: area/ui, platform/local, runtime/python, runtime/golang, runtime/shell, long-ci-succeeded, docs, platform, go/modules, trigger/http

#3573 [UI] Fix bad button layout
  pkg/dashboard/ui/src/app/components/projects/projects.component.js
Labels: area/ui

#3575 [Processor] Propagate allocation metrics
  pkg/processor/eventprocessor/pool.go
  pkg/processor/eventprocessor/singleton.go
  pkg/processor/eventprocessor/statistics.go
  pkg/processor/eventprocessor/types.go
  pkg/processor/runtime/golang/runtime.go
  pkg/processor/runtime/rpc/abstract.go
  pkg/processor/runtime/rpc/connection/abstract.go
  pkg/processor/runtime/rpc/connection/types.go
  pkg/processor/runtime/runtime.go
  pkg/processor/runtime/shell/runtime.go
  pkg/processor/statistics/gatherer/gatherer.go
  pkg/processor/statistics/gatherer/metricpusher.go
  pkg/processor/statistics/gatherer/trigger.go
  pkg/processor/statistics/gatherer/worker.go
  pkg/processor/statistics/types.go
  pkg/processor/trigger/types.go
  pkg/processor/worker/worker.go
  pkg/processor/worker/worker_test.go
Labels: runtime/golang, runtime/shell

#3581 [CI] Fix building nuctl
  .github/workflows/release.yaml
Labels: ci

#3583 [Dashboard] Hardcode pythonCommonModules versions in builder
  pkg/processor/build/runtime/python/runtime.go
  pkg/processor/build/runtime/python/runtime_test.go
Labels: runtime/python

#3584 [Security] Sanitize paths
  pkg/common/helper.go
  pkg/functionconfig/reader.go
  pkg/processor/build/inlineparser/parser.go
Labels: configuration

#3585 [Controller] Change threshold back to 10 [1.13.x]
  pkg/platform/kube/functionres/lazy.go
Labels: platform/kube, platform

#3586 [Security] Sanitize paths [1.13.x]
  pkg/common/helper.go
  pkg/functionconfig/reader.go
  pkg/processor/build/inlineparser/parser.go
Labels: configuration

#3588 [Dependencies] Change go version to 1.23.8
  Makefile
  go.mod
  test/_functions/golang/with-modules/go.mod
  test/_functions/golang/with-modules/go.sum
Labels: go/modules

#3589 [Dependencies] Bump grpc to v1.68 [1.13.x]
  go.mod
  go.sum
  pkg/processor/trigger/pubsub/test/pubsub_test.go
Labels: go/modules, trigger/pubsub

#3590 [Dependencies] Bump alpine to 1.21 [1.13.x]
  Makefile
  docs/reference/runtimes/golang/golang-reference.md
  docs/tasks/deploy-functions-from-dockerfile.md
  pkg/platform/local/platform.go
  pkg/processor/build/runtime/golang/runtime.go
  pkg/processor/build/runtime/shell/runtime.go
Labels: platform/local, runtime/golang, runtime/shell, docs, platform

#3592 [Dependencies] Change go version to 1.23.8
  Makefile
  go.mod
  test/_functions/golang/with-modules/go.mod
  test/_functions/golang/with-modules/go.sum
Labels: go/modules

#3593 [Dependencies] Bump grpc to v1.68
  go.mod
  go.sum
  pkg/processor/trigger/pubsub/test/pubsub_test.go
Labels: go/modules, trigger/pubsub

#3596 [Dependencies] Bump uhttpc to 0.0.3 [1.13.x]
  Makefile
  cmd/dashboard/docker/Dockerfile
  docs/reference/runtimes/dotnetcore/dotnetcore-reference.md
  docs/reference/runtimes/golang/golang-reference.md
  docs/reference/runtimes/nodejs/nodejs-reference.md
  docs/reference/runtimes/python/python-reference.md
  docs/tasks/deploy-functions-from-dockerfile.md
  pkg/processor/build/builder.go
  pkg/processor/build/test/build_test.go
Labels: docs

#3598 [Dependencies] Bump uhttpc to 0.0.3
  Makefile
  cmd/dashboard/docker/Dockerfile
  docs/reference/runtimes/dotnetcore/dotnetcore-reference.md
  docs/reference/runtimes/golang/golang-reference.md
  docs/reference/runtimes/nodejs/nodejs-reference.md
  docs/reference/runtimes/python/python-reference.md
  docs/tasks/deploy-functions-from-dockerfile.md
  pkg/processor/build/builder.go
  pkg/processor/build/test/build_test.go
Labels: docs

#3605 [UI] Change Jquery version `1.13.x`
  pkg/dashboard/ui/package.json
Labels: area/ui, dependencies

#3604 [UI] Change Jquery version
  pkg/dashboard/ui/package.json
Labels: area/ui, dependencies

#3607 [Processor] Change terminology from async/sync allocator to blocking/non-blocking
  docs/concepts/architecture.md
  pkg/processor/eventprocessor/pool.go
  pkg/processor/eventprocessor/singleton.go
  pkg/processor/runtime/rpc/connection/abstract.go
  pkg/processor/trigger/http/factory.go
  pkg/processor/trigger/rabbitmq/factory.go
  pkg/processor/util/partitionworker/allocator_test.go
  pkg/processor/worker/allocator_test.go
  pkg/processor/worker/factory.go
Labels: docs, trigger/http, trigger/rabbitmq

#3608 [Processor] Implement non-blocking pool allocator
  pkg/processor/eventprocessor/abstract.go
  pkg/processor/eventprocessor/pool.go
  pkg/processor/trigger/http/factory.go
  pkg/processor/trigger/rabbitmq/factory.go
  pkg/processor/worker/allocator_test.go
  pkg/processor/worker/factory.go
Labels: kubernetes/helm, docs, trigger/http, trigger/rabbitmq, feature

#3612 [UI] bump DC version `1.2.11`
  pkg/dashboard/ui/package.json
Labels: bug, area/ui

#3614 [Processor] Support statistics in async mode with multiple workers
  pkg/processor/eventprocessor/mock.go
  pkg/processor/eventprocessor/pool.go
  pkg/processor/worker/allocator_test.go
Labels: feature

#3609 [Dashboard] Enable Readiness and Liveness probes configurations
  docs/reference/function-configuration/function-configuration-reference.md
  docs/tasks/configuring-a-platform.md
  pkg/common/k8s.go
  pkg/common/k8s_test.go
  pkg/functionconfig/types.go
  pkg/platform/kube/platform.go
  pkg/platform/kube/platform_test.go
  pkg/platform/kube/test/suite/suite.go
  pkg/platformconfig/platformconfig.go
  pkg/platformconfig/platformconfig_test.go
  pkg/platformconfig/reader.go
  pkg/platformconfig/types.go
Labels: platform/kube, configuration, docs, platform

#3621 [Processor] Check status when allocating from non-blocking pool
  pkg/processor/eventprocessor/mock.go
  pkg/processor/eventprocessor/pool.go
  pkg/processor/worker/allocator_test.go
Labels: feature

#3622 [Docs] Add asynchronous mode documentation
  docs/reference/function-configuration/async-mode.md
  docs/reference/function-configuration/function-configuration-reference.md
  docs/reference/index.rst
Labels: docs

#3623 [Dashboard] Support multiple workers in asynchronous mode
  pkg/platform/abstract/platform.go
  pkg/platform/abstract/platform_test.go
  pkg/processor/eventprocessor/abstract.go
  pkg/processor/eventprocessor/mock.go
  pkg/processor/eventprocessor/pool.go
  pkg/processor/runtime/python/test/python_test.go
  pkg/processor/runtime/python/test/timeout_test.go
  pkg/processor/test/suite/suite.go
  pkg/processor/trigger/http/factory.go
  pkg/processor/trigger/rabbitmq/factory.go
  pkg/processor/worker/allocator_test.go
  pkg/processor/worker/factory.go
Labels: runtime/python, long-ci-succeeded, platform, trigger/http, trigger/rabbitmq, feature
